@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Permanent+Marker&display=swap");
html,
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  background-color: #12172a;
  background: radial-gradient(ellipse at center, #19323c 0%, #12172a 100%);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

small {
  font-size: 0.7em;
}

.snow-container {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.message-container {
  position: relative;
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 620px;
  padding: 0 20px;
}
.message-container .message {
  margin: 1rem auto 2rem;
  font-family: "Pacifico", cursive;
  font-size: 4.5rem;
  color: #a93f55;
  text-shadow: 1px 1px #FFF;
}
@media (max-width: 650px) {
  .message-container .message {
    font-size: 3rem;
  }
}
.message-container .to,
.message-container .sign {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
}
@media (max-width: 650px) {
  .message-container .to,
  .message-container .sign {
    font-size: 2rem;
  }
}
.message-container .to {
  margin-top: 4rem;
  font-size: 2rem;
  text-align: left;
  text-shadow: none;
}
@media (max-width: 650px) {
  .message-container .to {
    font-size: 1.5rem;
  }
}
.message-container .explain {
  margin: 3em auto 2em;
}

.logo-container {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
  width: 100%;
}

.logo {
  display: block;
  width: 45%;
  cursor: pointer;
}
.logo img,
.logo svg {
  display: block;
  width: 100%;
}
.logo img path,
.logo svg path {
  fill: #FFF;
}
.logo svg {
  transform: translateY(50%);
}

.snow {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #e4dede;
  border-radius: 50%;
  box-shadow: 0 0 15px #959fa7;
}
.snow:nth-child(0) {
  opacity: 0.856;
  transform: translate(9.9866vw, -10px) scale(0.4797);
  animation: fall-0 24s -9s linear infinite;
}
@keyframes fall-0 {
  55.272% {
    transform: translate(6.6284vw, 55.272vh) scale(0.4797);
  }
  to {
    transform: translate(8.3075vw, 100vh) scale(0.4797);
  }
}
.snow:nth-child(1) {
  opacity: 0.5953;
  transform: translate(42.9198vw, -10px) scale(0.8393);
  animation: fall-1 21s -14s linear infinite;
}
@keyframes fall-1 {
  52.482% {
    transform: translate(41.4374vw, 52.482vh) scale(0.8393);
  }
  to {
    transform: translate(42.1786vw, 100vh) scale(0.8393);
  }
}
.snow:nth-child(2) {
  opacity: 0.1704;
  transform: translate(3.9054vw, -10px) scale(0.4029);
  animation: fall-2 20s -9s linear infinite;
}
@keyframes fall-2 {
  71.081% {
    transform: translate(2.4868vw, 71.081vh) scale(0.4029);
  }
  to {
    transform: translate(3.1961vw, 100vh) scale(0.4029);
  }
}
.snow:nth-child(3) {
  opacity: 0.6351;
  transform: translate(33.9896vw, -10px) scale(0.4586);
  animation: fall-3 10s -5s linear infinite;
}
@keyframes fall-3 {
  61.687% {
    transform: translate(30.8624vw, 61.687vh) scale(0.4586);
  }
  to {
    transform: translate(32.426vw, 100vh) scale(0.4586);
  }
}
.snow:nth-child(4) {
  opacity: 0.5076;
  transform: translate(5.987vw, -10px) scale(0.3387);
  animation: fall-4 30s -11s linear infinite;
}
@keyframes fall-4 {
  77.203% {
    transform: translate(-0.4482vw, 77.203vh) scale(0.3387);
  }
  to {
    transform: translate(2.7694vw, 100vh) scale(0.3387);
  }
}
.snow:nth-child(5) {
  opacity: 0.9747;
  transform: translate(89.9005vw, -10px) scale(0.7873);
  animation: fall-5 22s -6s linear infinite;
}
@keyframes fall-5 {
  73.395% {
    transform: translate(84.3937vw, 73.395vh) scale(0.7873);
  }
  to {
    transform: translate(87.1471vw, 100vh) scale(0.7873);
  }
}
.snow:nth-child(6) {
  opacity: 0.3481;
  transform: translate(27.8884vw, -10px) scale(0.8355);
  animation: fall-6 21s -23s linear infinite;
}
@keyframes fall-6 {
  54.369% {
    transform: translate(35.701vw, 54.369vh) scale(0.8355);
  }
  to {
    transform: translate(31.7947vw, 100vh) scale(0.8355);
  }
}
.snow:nth-child(7) {
  opacity: 0.7184;
  transform: translate(3.9612vw, -10px) scale(0.5654);
  animation: fall-7 14s -17s linear infinite;
}
@keyframes fall-7 {
  70.146% {
    transform: translate(11.3252vw, 70.146vh) scale(0.5654);
  }
  to {
    transform: translate(7.6432vw, 100vh) scale(0.5654);
  }
}
.snow:nth-child(8) {
  opacity: 0.0253;
  transform: translate(73.02vw, -10px) scale(0.6377);
  animation: fall-8 30s -16s linear infinite;
}
@keyframes fall-8 {
  30.1% {
    transform: translate(68.3924vw, 30.1vh) scale(0.6377);
  }
  to {
    transform: translate(70.7062vw, 100vh) scale(0.6377);
  }
}
.snow:nth-child(9) {
  opacity: 0.5756;
  transform: translate(22.7119vw, -10px) scale(0.0339);
  animation: fall-9 24s -4s linear infinite;
}
@keyframes fall-9 {
  30.21% {
    transform: translate(19.796vw, 30.21vh) scale(0.0339);
  }
  to {
    transform: translate(21.25395vw, 100vh) scale(0.0339);
  }
}
.snow:nth-child(10) {
  opacity: 0.6739;
  transform: translate(83.2668vw, -10px) scale(0.5531);
  animation: fall-10 20s -21s linear infinite;
}
@keyframes fall-10 {
  40.245% {
    transform: translate(77.0384vw, 40.245vh) scale(0.5531);
  }
  to {
    transform: translate(80.1526vw, 100vh) scale(0.5531);
  }
}
.snow:nth-child(11) {
  opacity: 0.8565;
  transform: translate(28.1032vw, -10px) scale(0.4691);
  animation: fall-11 25s -8s linear infinite;
}
@keyframes fall-11 {
  74.498% {
    transform: translate(20.7635vw, 74.498vh) scale(0.4691);
  }
  to {
    transform: translate(24.43335vw, 100vh) scale(0.4691);
  }
}
.snow:nth-child(12) {
  opacity: 0.7915;
  transform: translate(54.4944vw, -10px) scale(0.7192);
  animation: fall-12 30s -2s linear infinite;
}
@keyframes fall-12 {
  76.366% {
    transform: translate(54.2204vw, 76.366vh) scale(0.7192);
  }
  to {
    transform: translate(54.3574vw, 100vh) scale(0.7192);
  }
}
.snow:nth-child(13) {
  opacity: 0.4252;
  transform: translate(36.4511vw, -10px) scale(0.3989);
  animation: fall-13 29s -14s linear infinite;
}
@keyframes fall-13 {
  38.256% {
    transform: translate(34.4112vw, 38.256vh) scale(0.3989);
  }
  to {
    transform: translate(35.43115vw, 100vh) scale(0.3989);
  }
}
.snow:nth-child(14) {
  opacity: 0.692;
  transform: translate(36.4982vw, -10px) scale(0.2163);
  animation: fall-14 28s -2s linear infinite;
}
@keyframes fall-14 {
  79.171% {
    transform: translate(40.6664vw, 79.171vh) scale(0.2163);
  }
  to {
    transform: translate(38.5823vw, 100vh) scale(0.2163);
  }
}
.snow:nth-child(15) {
  opacity: 0.3404;
  transform: translate(38.3466vw, -10px) scale(0.9859);
  animation: fall-15 22s -23s linear infinite;
}
@keyframes fall-15 {
  53.69% {
    transform: translate(33.2422vw, 53.69vh) scale(0.9859);
  }
  to {
    transform: translate(35.7944vw, 100vh) scale(0.9859);
  }
}
.snow:nth-child(16) {
  opacity: 0.0607;
  transform: translate(75.392vw, -10px) scale(0.4603);
  animation: fall-16 10s -24s linear infinite;
}
@keyframes fall-16 {
  53.807% {
    transform: translate(71.9585vw, 53.807vh) scale(0.4603);
  }
  to {
    transform: translate(73.67525vw, 100vh) scale(0.4603);
  }
}
.snow:nth-child(17) {
  opacity: 0.5727;
  transform: translate(2.5921vw, -10px) scale(0.2564);
  animation: fall-17 19s -1s linear infinite;
}
@keyframes fall-17 {
  57.628% {
    transform: translate(11.7751vw, 57.628vh) scale(0.2564);
  }
  to {
    transform: translate(7.1836vw, 100vh) scale(0.2564);
  }
}
.snow:nth-child(18) {
  opacity: 0.6536;
  transform: translate(8.1519vw, -10px) scale(0.0366);
  animation: fall-18 20s -6s linear infinite;
}
@keyframes fall-18 {
  79.764% {
    transform: translate(4.7205vw, 79.764vh) scale(0.0366);
  }
  to {
    transform: translate(6.4362vw, 100vh) scale(0.0366);
  }
}
.snow:nth-child(19) {
  opacity: 0.2305;
  transform: translate(40.5968vw, -10px) scale(0.9918);
  animation: fall-19 17s -23s linear infinite;
}
@keyframes fall-19 {
  31.618% {
    transform: translate(39.136vw, 31.618vh) scale(0.9918);
  }
  to {
    transform: translate(39.8664vw, 100vh) scale(0.9918);
  }
}
.snow:nth-child(20) {
  opacity: 0.172;
  transform: translate(99.319vw, -10px) scale(0.106);
  animation: fall-20 13s -27s linear infinite;
}
@keyframes fall-20 {
  69.157% {
    transform: translate(97.2466vw, 69.157vh) scale(0.106);
  }
  to {
    transform: translate(98.2828vw, 100vh) scale(0.106);
  }
}
.snow:nth-child(21) {
  opacity: 0.0765;
  transform: translate(34.4251vw, -10px) scale(0.1725);
  animation: fall-21 20s -6s linear infinite;
}
@keyframes fall-21 {
  46.998% {
    transform: translate(30.0695vw, 46.998vh) scale(0.1725);
  }
  to {
    transform: translate(32.2473vw, 100vh) scale(0.1725);
  }
}
.snow:nth-child(22) {
  opacity: 0.2489;
  transform: translate(74.0003vw, -10px) scale(0.5988);
  animation: fall-22 18s -21s linear infinite;
}
@keyframes fall-22 {
  73.26% {
    transform: translate(70.9844vw, 73.26vh) scale(0.5988);
  }
  to {
    transform: translate(72.49235vw, 100vh) scale(0.5988);
  }
}
.snow:nth-child(23) {
  opacity: 0.4633;
  transform: translate(26.3691vw, -10px) scale(0.533);
  animation: fall-23 16s -16s linear infinite;
}
@keyframes fall-23 {
  49.876% {
    transform: translate(17.433vw, 49.876vh) scale(0.533);
  }
  to {
    transform: translate(21.90105vw, 100vh) scale(0.533);
  }
}
.snow:nth-child(24) {
  opacity: 0.478;
  transform: translate(46.7205vw, -10px) scale(0.608);
  animation: fall-24 10s -18s linear infinite;
}
@keyframes fall-24 {
  51.536% {
    transform: translate(54.6739vw, 51.536vh) scale(0.608);
  }
  to {
    transform: translate(50.6972vw, 100vh) scale(0.608);
  }
}
.snow:nth-child(25) {
  opacity: 0.1742;
  transform: translate(72.0211vw, -10px) scale(0.0456);
  animation: fall-25 25s -16s linear infinite;
}
@keyframes fall-25 {
  51.341% {
    transform: translate(64.6738vw, 51.341vh) scale(0.0456);
  }
  to {
    transform: translate(68.34745vw, 100vh) scale(0.0456);
  }
}
.snow:nth-child(26) {
  opacity: 0.0048;
  transform: translate(47.1614vw, -10px) scale(0.1587);
  animation: fall-26 27s -12s linear infinite;
}
@keyframes fall-26 {
  36.311% {
    transform: translate(56.5202vw, 36.311vh) scale(0.1587);
  }
  to {
    transform: translate(51.8408vw, 100vh) scale(0.1587);
  }
}
.snow:nth-child(27) {
  opacity: 0.4398;
  transform: translate(70.3645vw, -10px) scale(0.1621);
  animation: fall-27 22s -24s linear infinite;
}
@keyframes fall-27 {
  66.27% {
    transform: translate(74.3534vw, 66.27vh) scale(0.1621);
  }
  to {
    transform: translate(72.35895vw, 100vh) scale(0.1621);
  }
}
.snow:nth-child(28) {
  opacity: 0.1707;
  transform: translate(59.3432vw, -10px) scale(0.8155);
  animation: fall-28 10s -14s linear infinite;
}
@keyframes fall-28 {
  36.661% {
    transform: translate(64.1194vw, 36.661vh) scale(0.8155);
  }
  to {
    transform: translate(61.7313vw, 100vh) scale(0.8155);
  }
}
.snow:nth-child(29) {
  opacity: 0.3053;
  transform: translate(52.0492vw, -10px) scale(0.7568);
  animation: fall-29 17s -26s linear infinite;
}
@keyframes fall-29 {
  73.873% {
    transform: translate(51.8568vw, 73.873vh) scale(0.7568);
  }
  to {
    transform: translate(51.953vw, 100vh) scale(0.7568);
  }
}
.snow:nth-child(30) {
  opacity: 0.1197;
  transform: translate(3.6166vw, -10px) scale(0.0758);
  animation: fall-30 28s -15s linear infinite;
}
@keyframes fall-30 {
  71.051% {
    transform: translate(10.8488vw, 71.051vh) scale(0.0758);
  }
  to {
    transform: translate(7.2327vw, 100vh) scale(0.0758);
  }
}
.snow:nth-child(31) {
  opacity: 0.0429;
  transform: translate(95.7807vw, -10px) scale(0.5414);
  animation: fall-31 29s -12s linear infinite;
}
@keyframes fall-31 {
  40.947% {
    transform: translate(88.5729vw, 40.947vh) scale(0.5414);
  }
  to {
    transform: translate(92.1768vw, 100vh) scale(0.5414);
  }
}
.snow:nth-child(32) {
  opacity: 0.478;
  transform: translate(28.5674vw, -10px) scale(0.8838);
  animation: fall-32 23s -6s linear infinite;
}
@keyframes fall-32 {
  57.392% {
    transform: translate(29.396vw, 57.392vh) scale(0.8838);
  }
  to {
    transform: translate(28.9817vw, 100vh) scale(0.8838);
  }
}
.snow:nth-child(33) {
  opacity: 0.6948;
  transform: translate(21.8422vw, -10px) scale(0.7427);
  animation: fall-33 28s -23s linear infinite;
}
@keyframes fall-33 {
  42.125% {
    transform: translate(15.4106vw, 42.125vh) scale(0.7427);
  }
  to {
    transform: translate(18.6264vw, 100vh) scale(0.7427);
  }
}
.snow:nth-child(34) {
  opacity: 0.1391;
  transform: translate(97.6873vw, -10px) scale(0.0389);
  animation: fall-34 13s -6s linear infinite;
}
@keyframes fall-34 {
  35.373% {
    transform: translate(97.9897vw, 35.373vh) scale(0.0389);
  }
  to {
    transform: translate(97.8385vw, 100vh) scale(0.0389);
  }
}
.snow:nth-child(35) {
  opacity: 0.1312;
  transform: translate(38.7809vw, -10px) scale(0.3923);
  animation: fall-35 20s -22s linear infinite;
}
@keyframes fall-35 {
  38.867% {
    transform: translate(41.7661vw, 38.867vh) scale(0.3923);
  }
  to {
    transform: translate(40.2735vw, 100vh) scale(0.3923);
  }
}
.snow:nth-child(36) {
  opacity: 0.2702;
  transform: translate(58.8414vw, -10px) scale(0.4444);
  animation: fall-36 23s -22s linear infinite;
}
@keyframes fall-36 {
  60.5% {
    transform: translate(63.2561vw, 60.5vh) scale(0.4444);
  }
  to {
    transform: translate(61.04875vw, 100vh) scale(0.4444);
  }
}
.snow:nth-child(37) {
  opacity: 0.7508;
  transform: translate(8.6094vw, -10px) scale(0.3596);
  animation: fall-37 20s -10s linear infinite;
}
@keyframes fall-37 {
  56.577% {
    transform: translate(15.358vw, 56.577vh) scale(0.3596);
  }
  to {
    transform: translate(11.9837vw, 100vh) scale(0.3596);
  }
}
.snow:nth-child(38) {
  opacity: 0.3598;
  transform: translate(42.5124vw, -10px) scale(0.5977);
  animation: fall-38 29s -2s linear infinite;
}
@keyframes fall-38 {
  79.662% {
    transform: translate(52.021vw, 79.662vh) scale(0.5977);
  }
  to {
    transform: translate(47.2667vw, 100vh) scale(0.5977);
  }
}
.snow:nth-child(39) {
  opacity: 0.6929;
  transform: translate(26.3099vw, -10px) scale(0.3005);
  animation: fall-39 17s -25s linear infinite;
}
@keyframes fall-39 {
  31.605% {
    transform: translate(27.6435vw, 31.605vh) scale(0.3005);
  }
  to {
    transform: translate(26.9767vw, 100vh) scale(0.3005);
  }
}
.snow:nth-child(40) {
  opacity: 0.6395;
  transform: translate(42.6691vw, -10px) scale(0.4899);
  animation: fall-40 11s -22s linear infinite;
}
@keyframes fall-40 {
  68.444% {
    transform: translate(46.9956vw, 68.444vh) scale(0.4899);
  }
  to {
    transform: translate(44.83235vw, 100vh) scale(0.4899);
  }
}
.snow:nth-child(41) {
  opacity: 0.4153;
  transform: translate(25.2945vw, -10px) scale(0.6454);
  animation: fall-41 28s -6s linear infinite;
}
@keyframes fall-41 {
  60.254% {
    transform: translate(20.6166vw, 60.254vh) scale(0.6454);
  }
  to {
    transform: translate(22.95555vw, 100vh) scale(0.6454);
  }
}
.snow:nth-child(42) {
  opacity: 0.7767;
  transform: translate(27.3178vw, -10px) scale(0.1648);
  animation: fall-42 20s -26s linear infinite;
}
@keyframes fall-42 {
  44.928% {
    transform: translate(36.2368vw, 44.928vh) scale(0.1648);
  }
  to {
    transform: translate(31.7773vw, 100vh) scale(0.1648);
  }
}
.snow:nth-child(43) {
  opacity: 0.3795;
  transform: translate(33.2093vw, -10px) scale(0.9853);
  animation: fall-43 18s -3s linear infinite;
}
@keyframes fall-43 {
  33.159% {
    transform: translate(37.3714vw, 33.159vh) scale(0.9853);
  }
  to {
    transform: translate(35.29035vw, 100vh) scale(0.9853);
  }
}
.snow:nth-child(44) {
  opacity: 0.1605;
  transform: translate(89.1508vw, -10px) scale(0.0977);
  animation: fall-44 13s -15s linear infinite;
}
@keyframes fall-44 {
  44.366% {
    transform: translate(91.0357vw, 44.366vh) scale(0.0977);
  }
  to {
    transform: translate(90.09325vw, 100vh) scale(0.0977);
  }
}
.snow:nth-child(45) {
  opacity: 0.011;
  transform: translate(84.6056vw, -10px) scale(0.2994);
  animation: fall-45 10s -26s linear infinite;
}
@keyframes fall-45 {
  67.663% {
    transform: translate(94.0238vw, 67.663vh) scale(0.2994);
  }
  to {
    transform: translate(89.3147vw, 100vh) scale(0.2994);
  }
}
.snow:nth-child(46) {
  opacity: 0.8016;
  transform: translate(19.2672vw, -10px) scale(0.9131);
  animation: fall-46 18s -7s linear infinite;
}
@keyframes fall-46 {
  67.916% {
    transform: translate(24.1384vw, 67.916vh) scale(0.9131);
  }
  to {
    transform: translate(21.7028vw, 100vh) scale(0.9131);
  }
}
.snow:nth-child(47) {
  opacity: 0.8339;
  transform: translate(76.3789vw, -10px) scale(0.5114);
  animation: fall-47 19s -12s linear infinite;
}
@keyframes fall-47 {
  61.276% {
    transform: translate(76.7359vw, 61.276vh) scale(0.5114);
  }
  to {
    transform: translate(76.5574vw, 100vh) scale(0.5114);
  }
}
.snow:nth-child(48) {
  opacity: 0.6624;
  transform: translate(23.5734vw, -10px) scale(0.7881);
  animation: fall-48 10s -25s linear infinite;
}
@keyframes fall-48 {
  60.201% {
    transform: translate(23.7239vw, 60.201vh) scale(0.7881);
  }
  to {
    transform: translate(23.64865vw, 100vh) scale(0.7881);
  }
}
.snow:nth-child(49) {
  opacity: 0.2682;
  transform: translate(35.7317vw, -10px) scale(0.3429);
  animation: fall-49 27s -13s linear infinite;
}
@keyframes fall-49 {
  56.315% {
    transform: translate(43.9242vw, 56.315vh) scale(0.3429);
  }
  to {
    transform: translate(39.82795vw, 100vh) scale(0.3429);
  }
}
.snow:nth-child(50) {
  opacity: 0.7529;
  transform: translate(18.5285vw, -10px) scale(0.8399);
  animation: fall-50 22s -12s linear infinite;
}
@keyframes fall-50 {
  76.181% {
    transform: translate(23.1766vw, 76.181vh) scale(0.8399);
  }
  to {
    transform: translate(20.85255vw, 100vh) scale(0.8399);
  }
}
.snow:nth-child(51) {
  opacity: 0.766;
  transform: translate(5.3053vw, -10px) scale(0.0939);
  animation: fall-51 21s -1s linear infinite;
}
@keyframes fall-51 {
  71.745% {
    transform: translate(3.5938vw, 71.745vh) scale(0.0939);
  }
  to {
    transform: translate(4.44955vw, 100vh) scale(0.0939);
  }
}
.snow:nth-child(52) {
  opacity: 0.0512;
  transform: translate(21.2084vw, -10px) scale(0.7407);
  animation: fall-52 16s -25s linear infinite;
}
@keyframes fall-52 {
  45.488% {
    transform: translate(13.5386vw, 45.488vh) scale(0.7407);
  }
  to {
    transform: translate(17.3735vw, 100vh) scale(0.7407);
  }
}
.snow:nth-child(53) {
  opacity: 0.5218;
  transform: translate(78.4637vw, -10px) scale(0.3932);
  animation: fall-53 17s -28s linear infinite;
}
@keyframes fall-53 {
  72.784% {
    transform: translate(87.6253vw, 72.784vh) scale(0.3932);
  }
  to {
    transform: translate(83.0445vw, 100vh) scale(0.3932);
  }
}
.snow:nth-child(54) {
  opacity: 0.8409;
  transform: translate(12.1017vw, -10px) scale(0.7132);
  animation: fall-54 23s -20s linear infinite;
}
@keyframes fall-54 {
  38.619% {
    transform: translate(5.2262vw, 38.619vh) scale(0.7132);
  }
  to {
    transform: translate(8.66395vw, 100vh) scale(0.7132);
  }
}
.snow:nth-child(55) {
  opacity: 0.9271;
  transform: translate(35.3994vw, -10px) scale(0.2752);
  animation: fall-55 18s -12s linear infinite;
}
@keyframes fall-55 {
  60.345% {
    transform: translate(44.0945vw, 60.345vh) scale(0.2752);
  }
  to {
    transform: translate(39.74695vw, 100vh) scale(0.2752);
  }
}
.snow:nth-child(56) {
  opacity: 0.7506;
  transform: translate(15.9785vw, -10px) scale(0.1548);
  animation: fall-56 18s -8s linear infinite;
}
@keyframes fall-56 {
  79.091% {
    transform: translate(22.8149vw, 79.091vh) scale(0.1548);
  }
  to {
    transform: translate(19.3967vw, 100vh) scale(0.1548);
  }
}
.snow:nth-child(57) {
  opacity: 0.8037;
  transform: translate(57.0731vw, -10px) scale(0.0572);
  animation: fall-57 24s -27s linear infinite;
}
@keyframes fall-57 {
  46.425% {
    transform: translate(54.8681vw, 46.425vh) scale(0.0572);
  }
  to {
    transform: translate(55.9706vw, 100vh) scale(0.0572);
  }
}
.snow:nth-child(58) {
  opacity: 0.4833;
  transform: translate(0.0621vw, -10px) scale(0.9654);
  animation: fall-58 19s -6s linear infinite;
}
@keyframes fall-58 {
  57.238% {
    transform: translate(9.6091vw, 57.238vh) scale(0.9654);
  }
  to {
    transform: translate(4.8356vw, 100vh) scale(0.9654);
  }
}
.snow:nth-child(59) {
  opacity: 0.97;
  transform: translate(91.0152vw, -10px) scale(0.4271);
  animation: fall-59 22s -22s linear infinite;
}
@keyframes fall-59 {
  63.22% {
    transform: translate(82.3946vw, 63.22vh) scale(0.4271);
  }
  to {
    transform: translate(86.7049vw, 100vh) scale(0.4271);
  }
}
.snow:nth-child(60) {
  opacity: 0.8386;
  transform: translate(28.5575vw, -10px) scale(0.5939);
  animation: fall-60 17s -22s linear infinite;
}
@keyframes fall-60 {
  30.812% {
    transform: translate(29.9128vw, 30.812vh) scale(0.5939);
  }
  to {
    transform: translate(29.23515vw, 100vh) scale(0.5939);
  }
}
.snow:nth-child(61) {
  opacity: 0.878;
  transform: translate(88.9656vw, -10px) scale(0.2532);
  animation: fall-61 21s -21s linear infinite;
}
@keyframes fall-61 {
  45.637% {
    transform: translate(85.5413vw, 45.637vh) scale(0.2532);
  }
  to {
    transform: translate(87.25345vw, 100vh) scale(0.2532);
  }
}
.snow:nth-child(62) {
  opacity: 0.6452;
  transform: translate(72.6944vw, -10px) scale(0.5143);
  animation: fall-62 17s -30s linear infinite;
}
@keyframes fall-62 {
  68.484% {
    transform: translate(71.4017vw, 68.484vh) scale(0.5143);
  }
  to {
    transform: translate(72.04805vw, 100vh) scale(0.5143);
  }
}
.snow:nth-child(63) {
  opacity: 0.2605;
  transform: translate(9.2762vw, -10px) scale(0.6978);
  animation: fall-63 21s -14s linear infinite;
}
@keyframes fall-63 {
  49.259% {
    transform: translate(9.5693vw, 49.259vh) scale(0.6978);
  }
  to {
    transform: translate(9.42275vw, 100vh) scale(0.6978);
  }
}
.snow:nth-child(64) {
  opacity: 0.1421;
  transform: translate(28.7276vw, -10px) scale(0.2175);
  animation: fall-64 22s -2s linear infinite;
}
@keyframes fall-64 {
  49.312% {
    transform: translate(29vw, 49.312vh) scale(0.2175);
  }
  to {
    transform: translate(28.8638vw, 100vh) scale(0.2175);
  }
}
.snow:nth-child(65) {
  opacity: 0.761;
  transform: translate(67.2286vw, -10px) scale(0.5235);
  animation: fall-65 24s -24s linear infinite;
}
@keyframes fall-65 {
  74.143% {
    transform: translate(59.8662vw, 74.143vh) scale(0.5235);
  }
  to {
    transform: translate(63.5474vw, 100vh) scale(0.5235);
  }
}
.snow:nth-child(66) {
  opacity: 0.4399;
  transform: translate(58.6555vw, -10px) scale(0.1718);
  animation: fall-66 25s -19s linear infinite;
}
@keyframes fall-66 {
  79.357% {
    transform: translate(62.0918vw, 79.357vh) scale(0.1718);
  }
  to {
    transform: translate(60.37365vw, 100vh) scale(0.1718);
  }
}
.snow:nth-child(67) {
  opacity: 0.9528;
  transform: translate(43.5432vw, -10px) scale(0.9819);
  animation: fall-67 20s -26s linear infinite;
}
@keyframes fall-67 {
  33.08% {
    transform: translate(37.5991vw, 33.08vh) scale(0.9819);
  }
  to {
    transform: translate(40.57115vw, 100vh) scale(0.9819);
  }
}
.snow:nth-child(68) {
  opacity: 0.6204;
  transform: translate(48.9288vw, -10px) scale(0.5557);
  animation: fall-68 28s -3s linear infinite;
}
@keyframes fall-68 {
  30.114% {
    transform: translate(41.5785vw, 30.114vh) scale(0.5557);
  }
  to {
    transform: translate(45.25365vw, 100vh) scale(0.5557);
  }
}
.snow:nth-child(69) {
  opacity: 0.3439;
  transform: translate(58.8343vw, -10px) scale(0.2566);
  animation: fall-69 30s -19s linear infinite;
}
@keyframes fall-69 {
  36.818% {
    transform: translate(56.9233vw, 36.818vh) scale(0.2566);
  }
  to {
    transform: translate(57.8788vw, 100vh) scale(0.2566);
  }
}
.snow:nth-child(70) {
  opacity: 0.5589;
  transform: translate(90.6198vw, -10px) scale(0.4934);
  animation: fall-70 10s -9s linear infinite;
}
@keyframes fall-70 {
  57.575% {
    transform: translate(99.0292vw, 57.575vh) scale(0.4934);
  }
  to {
    transform: translate(94.8245vw, 100vh) scale(0.4934);
  }
}
.snow:nth-child(71) {
  opacity: 0.3416;
  transform: translate(34.79vw, -10px) scale(0.8687);
  animation: fall-71 24s -16s linear infinite;
}
@keyframes fall-71 {
  44.072% {
    transform: translate(29.2905vw, 44.072vh) scale(0.8687);
  }
  to {
    transform: translate(32.04025vw, 100vh) scale(0.8687);
  }
}
.snow:nth-child(72) {
  opacity: 0.6532;
  transform: translate(28.1872vw, -10px) scale(0.1964);
  animation: fall-72 24s -13s linear infinite;
}
@keyframes fall-72 {
  66.499% {
    transform: translate(36.7874vw, 66.499vh) scale(0.1964);
  }
  to {
    transform: translate(32.4873vw, 100vh) scale(0.1964);
  }
}
.snow:nth-child(73) {
  opacity: 0.8963;
  transform: translate(68.7638vw, -10px) scale(0.6025);
  animation: fall-73 25s -1s linear infinite;
}
@keyframes fall-73 {
  42.779% {
    transform: translate(74.4853vw, 42.779vh) scale(0.6025);
  }
  to {
    transform: translate(71.62455vw, 100vh) scale(0.6025);
  }
}
.snow:nth-child(74) {
  opacity: 0.2208;
  transform: translate(41.5784vw, -10px) scale(0.6354);
  animation: fall-74 16s -11s linear infinite;
}
@keyframes fall-74 {
  59.733% {
    transform: translate(37.4665vw, 59.733vh) scale(0.6354);
  }
  to {
    transform: translate(39.52245vw, 100vh) scale(0.6354);
  }
}
.snow:nth-child(75) {
  opacity: 0.8334;
  transform: translate(45.6443vw, -10px) scale(0.6558);
  animation: fall-75 25s -8s linear infinite;
}
@keyframes fall-75 {
  78.881% {
    transform: translate(38.8229vw, 78.881vh) scale(0.6558);
  }
  to {
    transform: translate(42.2336vw, 100vh) scale(0.6558);
  }
}
.snow:nth-child(76) {
  opacity: 0.2501;
  transform: translate(7.5115vw, -10px) scale(0.119);
  animation: fall-76 10s -19s linear infinite;
}
@keyframes fall-76 {
  45.154% {
    transform: translate(-1.8328vw, 45.154vh) scale(0.119);
  }
  to {
    transform: translate(2.83935vw, 100vh) scale(0.119);
  }
}
.snow:nth-child(77) {
  opacity: 0.1785;
  transform: translate(83.3125vw, -10px) scale(0.5351);
  animation: fall-77 17s -28s linear infinite;
}
@keyframes fall-77 {
  33.04% {
    transform: translate(76.8377vw, 33.04vh) scale(0.5351);
  }
  to {
    transform: translate(80.0751vw, 100vh) scale(0.5351);
  }
}
.snow:nth-child(78) {
  opacity: 0.3442;
  transform: translate(66.9134vw, -10px) scale(0.9089);
  animation: fall-78 23s -16s linear infinite;
}
@keyframes fall-78 {
  59.066% {
    transform: translate(66.0379vw, 59.066vh) scale(0.9089);
  }
  to {
    transform: translate(66.47565vw, 100vh) scale(0.9089);
  }
}
.snow:nth-child(79) {
  opacity: 0.063;
  transform: translate(55.5338vw, -10px) scale(0.8782);
  animation: fall-79 22s -23s linear infinite;
}
@keyframes fall-79 {
  46.488% {
    transform: translate(54.3vw, 46.488vh) scale(0.8782);
  }
  to {
    transform: translate(54.9169vw, 100vh) scale(0.8782);
  }
}
.snow:nth-child(80) {
  opacity: 0.9423;
  transform: translate(57.1753vw, -10px) scale(0.3806);
  animation: fall-80 22s -12s linear infinite;
}
@keyframes fall-80 {
  55.333% {
    transform: translate(62.9234vw, 55.333vh) scale(0.3806);
  }
  to {
    transform: translate(60.04935vw, 100vh) scale(0.3806);
  }
}
.snow:nth-child(81) {
  opacity: 0.1599;
  transform: translate(96.8493vw, -10px) scale(0.7447);
  animation: fall-81 28s -30s linear infinite;
}
@keyframes fall-81 {
  53.059% {
    transform: translate(95.7014vw, 53.059vh) scale(0.7447);
  }
  to {
    transform: translate(96.27535vw, 100vh) scale(0.7447);
  }
}
.snow:nth-child(82) {
  opacity: 0.3543;
  transform: translate(52.9391vw, -10px) scale(0.1735);
  animation: fall-82 29s -20s linear infinite;
}
@keyframes fall-82 {
  32.002% {
    transform: translate(60.2271vw, 32.002vh) scale(0.1735);
  }
  to {
    transform: translate(56.5831vw, 100vh) scale(0.1735);
  }
}
.snow:nth-child(83) {
  opacity: 0.2895;
  transform: translate(5.899vw, -10px) scale(0.1632);
  animation: fall-83 28s -2s linear infinite;
}
@keyframes fall-83 {
  68.16% {
    transform: translate(8.8377vw, 68.16vh) scale(0.1632);
  }
  to {
    transform: translate(7.36835vw, 100vh) scale(0.1632);
  }
}
.snow:nth-child(84) {
  opacity: 0.1407;
  transform: translate(75.113vw, -10px) scale(0.8657);
  animation: fall-84 24s -8s linear infinite;
}
@keyframes fall-84 {
  52.114% {
    transform: translate(74.8541vw, 52.114vh) scale(0.8657);
  }
  to {
    transform: translate(74.98355vw, 100vh) scale(0.8657);
  }
}
.snow:nth-child(85) {
  opacity: 0.3516;
  transform: translate(30.8716vw, -10px) scale(0.8263);
  animation: fall-85 29s -13s linear infinite;
}
@keyframes fall-85 {
  46.541% {
    transform: translate(21.2142vw, 46.541vh) scale(0.8263);
  }
  to {
    transform: translate(26.0429vw, 100vh) scale(0.8263);
  }
}
.snow:nth-child(86) {
  opacity: 0.769;
  transform: translate(93.1952vw, -10px) scale(0.0124);
  animation: fall-86 25s -18s linear infinite;
}
@keyframes fall-86 {
  53.141% {
    transform: translate(93.701vw, 53.141vh) scale(0.0124);
  }
  to {
    transform: translate(93.4481vw, 100vh) scale(0.0124);
  }
}
.snow:nth-child(87) {
  opacity: 0.6453;
  transform: translate(31.9138vw, -10px) scale(0.244);
  animation: fall-87 12s -26s linear infinite;
}
@keyframes fall-87 {
  78.152% {
    transform: translate(27.635vw, 78.152vh) scale(0.244);
  }
  to {
    transform: translate(29.7744vw, 100vh) scale(0.244);
  }
}
.snow:nth-child(88) {
  opacity: 0.1828;
  transform: translate(54.679vw, -10px) scale(0.1052);
  animation: fall-88 16s -13s linear infinite;
}
@keyframes fall-88 {
  73.096% {
    transform: translate(49.5739vw, 73.096vh) scale(0.1052);
  }
  to {
    transform: translate(52.12645vw, 100vh) scale(0.1052);
  }
}
.snow:nth-child(89) {
  opacity: 0.0212;
  transform: translate(69.6426vw, -10px) scale(0.3244);
  animation: fall-89 15s -16s linear infinite;
}
@keyframes fall-89 {
  69.193% {
    transform: translate(73.052vw, 69.193vh) scale(0.3244);
  }
  to {
    transform: translate(71.3473vw, 100vh) scale(0.3244);
  }
}
.snow:nth-child(90) {
  opacity: 0.7922;
  transform: translate(50.0522vw, -10px) scale(0.5711);
  animation: fall-90 30s -9s linear infinite;
}
@keyframes fall-90 {
  37.921% {
    transform: translate(42.924vw, 37.921vh) scale(0.5711);
  }
  to {
    transform: translate(46.4881vw, 100vh) scale(0.5711);
  }
}
.snow:nth-child(91) {
  opacity: 0.0231;
  transform: translate(1.0258vw, -10px) scale(0.5709);
  animation: fall-91 10s -12s linear infinite;
}
@keyframes fall-91 {
  53.738% {
    transform: translate(7.4vw, 53.738vh) scale(0.5709);
  }
  to {
    transform: translate(4.2129vw, 100vh) scale(0.5709);
  }
}
.snow:nth-child(92) {
  opacity: 0.9582;
  transform: translate(77.6741vw, -10px) scale(0.5936);
  animation: fall-92 30s -27s linear infinite;
}
@keyframes fall-92 {
  62.296% {
    transform: translate(67.9906vw, 62.296vh) scale(0.5936);
  }
  to {
    transform: translate(72.83235vw, 100vh) scale(0.5936);
  }
}
.snow:nth-child(93) {
  opacity: 0.1833;
  transform: translate(11.7047vw, -10px) scale(0.4882);
  animation: fall-93 26s -22s linear infinite;
}
@keyframes fall-93 {
  76.339% {
    transform: translate(8.7119vw, 76.339vh) scale(0.4882);
  }
  to {
    transform: translate(10.2083vw, 100vh) scale(0.4882);
  }
}
.snow:nth-child(94) {
  opacity: 0.4644;
  transform: translate(69.2226vw, -10px) scale(0.5994);
  animation: fall-94 28s -5s linear infinite;
}
@keyframes fall-94 {
  58.975% {
    transform: translate(73.3476vw, 58.975vh) scale(0.5994);
  }
  to {
    transform: translate(71.2851vw, 100vh) scale(0.5994);
  }
}
.snow:nth-child(95) {
  opacity: 0.3932;
  transform: translate(42.3171vw, -10px) scale(0.8766);
  animation: fall-95 26s -24s linear infinite;
}
@keyframes fall-95 {
  51.028% {
    transform: translate(50.8296vw, 51.028vh) scale(0.8766);
  }
  to {
    transform: translate(46.57335vw, 100vh) scale(0.8766);
  }
}
.snow:nth-child(96) {
  opacity: 0.0357;
  transform: translate(78.6188vw, -10px) scale(0.0241);
  animation: fall-96 15s -19s linear infinite;
}
@keyframes fall-96 {
  72.479% {
    transform: translate(72.3233vw, 72.479vh) scale(0.0241);
  }
  to {
    transform: translate(75.47105vw, 100vh) scale(0.0241);
  }
}
.snow:nth-child(97) {
  opacity: 0.678;
  transform: translate(80.9676vw, -10px) scale(0.9903);
  animation: fall-97 12s -10s linear infinite;
}
@keyframes fall-97 {
  36.047% {
    transform: translate(77.3994vw, 36.047vh) scale(0.9903);
  }
  to {
    transform: translate(79.1835vw, 100vh) scale(0.9903);
  }
}
.snow:nth-child(98) {
  opacity: 0.5286;
  transform: translate(51.269vw, -10px) scale(0.1767);
  animation: fall-98 14s -16s linear infinite;
}
@keyframes fall-98 {
  42.569% {
    transform: translate(48.5873vw, 42.569vh) scale(0.1767);
  }
  to {
    transform: translate(49.92815vw, 100vh) scale(0.1767);
  }
}
.snow:nth-child(99) {
  opacity: 0.2214;
  transform: translate(21.8125vw, -10px) scale(0.5521);
  animation: fall-99 26s -20s linear infinite;
}
@keyframes fall-99 {
  63.875% {
    transform: translate(27.0427vw, 63.875vh) scale(0.5521);
  }
  to {
    transform: translate(24.4276vw, 100vh) scale(0.5521);
  }
}
.snow:nth-child(100) {
  opacity: 0.6953;
  transform: translate(17.0209vw, -10px) scale(0.7853);
  animation: fall-100 26s -8s linear infinite;
}
@keyframes fall-100 {
  78.96% {
    transform: translate(7.6761vw, 78.96vh) scale(0.7853);
  }
  to {
    transform: translate(12.3485vw, 100vh) scale(0.7853);
  }
}

.globe-container {
  position: fixed;
  margin: 20px 50%;
  height: 800px;
  width: 800px;
  transform: translateX(-50%);
}
.globe-container #globe {
  position: absolute;
  top: 0;
  left: 0;
}
.globe-container #globe path[data-idx="7"] {
  transform: translateX(0);
  animation: globe-rotate1 10s linear infinite;
}
.globe-container #globe path[data-idx="9"] {
  transform: translateX(-100%);
  animation: globe-rotate2 10s linear infinite;
}
@keyframes globe-rotate1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes globe-rotate2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.transport-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 140px 50%;
  height: 560px;
  width: 560px;
  overflow: hidden;
  transform: translateX(-50%);
  border-radius: 100%;
}
.transport-container .transport {
  position: relative;
  height: 100%;
  width: 100%;
}
.transport-container #plane {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100px;
  width: 100px;
  transform: matrix(-0.1, 0, 0, 0.1, 0, 0);
}
@keyframes plane-fly {
  0% {
    top: var(--plane-y1);
    right: 0%;
    transform: matrix(-0.1, 0, 0, 0.1, 0, 0);
  }
  10% {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  90% {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  100% {
    top: var(--plane-y2);
    right: 100%;
    transform: matrix(-0.1, 0, 0, 0.1, 0, 0);
  }
}
.transport-container #plane.animate {
  animation-name: plane-fly;
  animation-duration: var(--plane-speed);
  animation-timing-function: cubic-bezier(0, 0.25, 1, 0.75);
}
.transport-container #plane svg {
  display: block;
  width: 100%;
  bottom: 0;
}
.transport-container #plane img {
  display: block;
  position: absolute;
  height: 40px;
  top: 10%;
  transform: rotate(10deg);
  animation: nod 2s infinite;
}
.transport-container #plane img#abbie {
  left: 15px;
  height: 30px;
}
.transport-container #plane img#ben {
  left: 35px;
}
@keyframes nod {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.transport-container #sleigh {
  position: absolute;
  top: 0%;
  right: 100%;
  height: 120px;
  transform: matrix(0.1, 0, 0, 0.1, 0, 0);
}
.transport-container #sleigh.animate {
  animation-name: sleigh-fly;
  animation-duration: var(--sleigh-speed);
  animation-timing-function: cubic-bezier(0, 0.25, 1, 0.75);
}
.transport-container #sleigh svg {
  display: block;
  width: 100%;
  bottom: 0;
}
@keyframes sleigh-fly {
  0% {
    top: var(--sleigh-y1);
    right: 110%;
    transform: matrix(0.1, 0, 0, 0.1, 0, 0);
  }
  10% {
    transform: matrix(1.5, 0, 0, 1.5, 0, 0);
  }
  90% {
    transform: matrix(1.5, 0, 0, 1.5, 0, 0);
  }
  100% {
    top: var(--sleigh-y2);
    right: -10%;
    transform: matrix(0.1, 0, 0, 0.1, 0, 0);
  }
}/*# sourceMappingURL=style.css.map */