@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Permanent+Marker&display=swap');

@function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
}

html,
body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    background-color: #12172a;
    background: radial-gradient(ellipse at center, #19323c 0%, #12172a 100%);
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

small {
    font-size: .7em;
}

.snow-container {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.message-container {
    position: relative;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 620px;
    padding: 0 20px;

    .message {
        margin: 1rem auto 2rem;
        font-family: 'Pacifico', cursive;
        font-size: 4.5rem;
        color: #a93f55;
        text-shadow: 1px 1px #FFF;

        @media (max-width: 650px) {
            font-size: 3rem;
        }
    }

    .to,
    .sign {
        font-family: 'Permanent Marker', cursive;
        font-size: 3rem;

        @media (max-width: 650px) {
            font-size: 2rem;
        }
    }

    .to {
        margin-top: 4rem;
        font-size: 2rem;
        text-align: left;
        text-shadow: none;

        @media (max-width: 650px) {
            font-size: 1.5rem;
        }
    }

    .explain {
        margin: 3em auto 2em;
    }
}

.logo-container {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    width: 100%;
}

.logo {
    display: block;
    width: 45%;
    cursor: pointer;

    img,
    svg {
        display: block;
        width: 100%;

        path {
            fill: #FFF;
        }
    }

    svg {
        transform: translateY(50%);
    }
}

.snow {
    $snow-total: 100;

    position: absolute;
    width: 8px;
    height: 8px;
    background: #e4dede;
    border-radius: 50%;
    box-shadow: 0 0 15px #959fa7;

    @for $i from 0 through $snow-total {
        $random-x: calc(random(1000000) * 0.0001vw);
        $random-offset: calc(random_range(-100000, 100000) * 0.0001vw);
        $random-x-end: calc($random-x + $random-offset);
        $random-x-end-yoyo: calc($random-x + ($random-offset / 2));
        $random-yoyo-time: calc(random_range(30000, 80000) / 100000);
        $random-yoyo-y: calc($random-yoyo-time * 100vh);
        $random-scale: calc(random(10000) * 0.0001);
        $fall-duration: calc(random_range(10, 30) * 1s);
        $fall-delay: calc(random(30) * -1s);

        &:nth-child(#{$i}) {
            opacity: random(10000) * 0.0001;
            transform: translate($random-x, -10px) scale($random-scale);
            animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
        }

        @keyframes fall-#{$i} {
            #{percentage($random-yoyo-time)} {
                transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
            }

            to {
                transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
            }
        }
    }
}

.globe-container {
    position: fixed;
    margin: 20px 50%;
    height: 800px;
    width: 800px;
    transform: translateX(-50%);

    #globe {
        position: absolute;
        top: 0;
        left: 0;

        path[data-idx="7"] {
            transform: translateX(0);
            animation: globe-rotate1 10s linear infinite;
        }

        path[data-idx="9"] {
            transform: translateX(-100%);
            animation: globe-rotate2 10s linear infinite;
        }
    }

    @keyframes globe-rotate1 {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(100%);
        }
    }

    @keyframes globe-rotate2 {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0);
        }
    }
}

.transport-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 140px 50%;
    height: 560px;
    width: 560px;
    overflow: hidden;
    transform: translateX(-50%);
    border-radius: 100%;

    .transport {
        position: relative;
        height: 100%;
        width: 100%;
    }

    #plane {
        position: absolute;
        top: 0%;
        right: 0%;
        height: 100px;
        width: 100px;
        transform: matrix(-.1, 0, 0, .1, 0, 0);

        @keyframes plane-fly {
            0% {
                top: var(--plane-y1);
                right: 0%;
                transform: matrix(-.1, 0, 0, .1, 0, 0);
            }

            10% {
                transform: matrix(-1, 0, 0, 1, 0, 0);
            }

            90% {
                transform: matrix(-1, 0, 0, 1, 0, 0);
            }

            100% {
                top: var(--plane-y2);
                right: 100%;
                transform: matrix(-.1, 0, 0, .1, 0, 0);
            }

        }

        &.animate {
            animation-name: plane-fly;
            animation-duration: var(--plane-speed);
            animation-timing-function: cubic-bezier(0, .25, 1, .75)
        }

        svg {
            display: block;
            width: 100%;
            bottom: 0;
        }

        img {
            display: block;
            position: absolute;
            height: 40px;
            top: 10%;
            transform: rotate(10deg);
            animation: nod 2s infinite;

            &#abbie {
                left: 15px;
                height: 30px;
            }

            &#ben {
                left: 35px;
            }

            @keyframes nod {
                0% {
                    transform: rotate(10deg);
                }

                50% {
                    transform: rotate(-10deg);
                }

                100% {
                    transform: rotate(10deg);
                }

            }
        }
    }

    #sleigh {
        position: absolute;
        top: 0%;
        right: 100%;
        height: 120px;
        transform: matrix(.1, 0, 0, .1, 0, 0);

        &.animate {
            animation-name: sleigh-fly;
            animation-duration: var(--sleigh-speed);
            animation-timing-function: cubic-bezier(0, .25, 1, .75)
        }

        svg {
            display: block;
            width: 100%;
            bottom: 0;
        }

        @keyframes sleigh-fly {
            0% {
                top: var(--sleigh-y1);
                right: 110%;
                transform: matrix(.1, 0, 0, .1, 0, 0);
            }

            10% {
                transform: matrix(1.5, 0, 0, 1.5, 0, 0);
            }

            90% {
                transform: matrix(1.5, 0, 0, 1.5, 0, 0);
            }

            100% {
                top: var(--sleigh-y2);
                right: -10%;
                transform: matrix(.1, 0, 0, .1, 0, 0);
            }

        }
    }
}