@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Permanent+Marker&display=swap');

@function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
}

html, body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    background-color: #1b2735;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

small {
    font-size: .7em;
}

.snow-container {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.hill-container {
    z-index: 0;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 200px;
    overflow: hidden;

    .hill, .hill::before, .hill::after {
        display: block;
        height: 1000px;
        background-color: #FFF;
        border-radius: 50%;
    }

    .hill {
        position: relative;
        margin: 0 auto;
        width: 100%;

        @media (max-width: 650px) {
            width: 110%;
            transform: translateX(-5%);
        }
    }

    .hill::before, .hill::after {
        content: '';
        position: absolute;
        margin: 0;
    }

    .hill::before {
        width: 80%;
        transform: translateX(-50%);
        opacity: 90%;

        @media (max-width: 650px) {
            width: 80%;
        }
    }

    .hill::after {
        width: 90%;
        transform: translateX(60%);
        opacity: 60%;

        @media (max-width: 650px) {
            width: 100%;
        }
    }

    @media (min-height: 1080px) {
        position: absolute;
    }

    @media (max-width: 600px) {
        height: 100px;
    }
}

.message-container {
    position: relative;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 620px;
    padding: 0 20px;

    .message {
        margin: 1rem auto 2rem;
        font-family: 'Pacifico', cursive;
        font-size: 4.5rem;
        color: #8B0000;
        text-shadow: 1px 1px #FFF;

        @media (max-width: 650px) {
            font-size: 3rem;
        }
    }
    
    .to,
    .sign {
        font-family: 'Permanent Marker', cursive;
        font-size: 3rem;

        @media (max-width: 650px) {
            font-size: 2rem;
        }
    }

    .to {
        margin-top: 4rem;
        font-size: 2rem;
        text-align: left;
        text-shadow: none;

        @media (max-width: 650px) {
            font-size: 1.5rem;
        }
    }

    .explain {
        margin: 3em auto 2em;
    }
}

.star-container {
    position: fixed;
    margin: 20px auto 20px 80%;
    width: 80px;
}

.star {
    position: relative;
    width: 0;
    height: 0;

    &::after {
        content: "";
        position: absolute;
    }

    &-vert, &-vert::after {
        margin: 0 auto -5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 40px solid rgba(218, 165, 32, .5);
    }
    
    &-vert::after {
        top: 40px;
        left: -5px;
        border-top: 50px solid rgba(218, 165, 32, .5);
        border-bottom: none;
    }

    &-hor, &-hor::after,
    &-diag-1, &-diag-1::after,
    &-diag-2, &-diag-2::after {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 40px solid rgba(218, 165, 32, .5);
    }
    
    &-hor::after,
    &-diag-1::after,
    &-diag-2::after {
        left: 40px;
        top: -5px;
        border-left: 45px solid rgba(218, 165, 32, .5);
        border-right: none;
    }

    &-diag-1, &-diag-2 {
        border-right: 25px solid rgba(218, 165, 32, .5);
        margin: -10px 15px 0;
    }

    &-diag-1::after, &-diag-2::after {
        border-left: 25px solid rgba(218, 165, 32, .5);
        left: 25px;
    }

    &-diag-1 {
        transform: rotate(45deg);
        transform-origin: right;
    }

    &-diag-2 {
        transform: rotate(-45deg);
        transform-origin: right;
    }
}

.logo-container {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    width: 100%;
}

.logo {
    display: block;
    width: 45%;
    cursor: pointer;

    img {
        display: block;
        width: 100%;
    }
}
  
.snow {
    $total: 100;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #e4dede;
    border-radius: 50%;
    box-shadow: 0 0 15px #959fa7;
  
    @for $i from 0 through $total {
        $random-x: random(1000000) * 0.0001vw;
        $random-offset: random_range(-100000, 100000) * 0.0001vw;
        $random-x-end: $random-x + $random-offset;
        $random-x-end-yoyo: $random-x + ($random-offset / 2);
        $random-yoyo-time: random_range(30000, 80000) / 100000;
        $random-yoyo-y: $random-yoyo-time * 100vh;
        $random-scale: random(10000) * 0.0001;
        $fall-duration: random_range(10, 30) * 1s;
        $fall-delay: random(30) * -1s;
  
        &:nth-child(#{$i}) {
            opacity: random(10000) * 0.0001;
            transform: translate($random-x, -10px) scale($random-scale);
            animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
        }
  
        @keyframes fall-#{$i} {
            #{percentage($random-yoyo-time)} {
                transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
            }
            
            to {
                transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
            }
        } 
    }
}
  