@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&family=Permanent+Marker&display=swap");
html, body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  background-color: #1b2735;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

small {
  font-size: .7em;
}

.snow-container {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.hill-container {
  z-index: 0;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 200px;
  overflow: hidden;
}

.hill-container .hill, .hill-container .hill::before, .hill-container .hill::after {
  display: block;
  height: 1000px;
  background-color: #FFF;
  border-radius: 50%;
}

.hill-container .hill {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 650px) {
  .hill-container .hill {
    width: 110%;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}

.hill-container .hill::before, .hill-container .hill::after {
  content: '';
  position: absolute;
  margin: 0;
}

.hill-container .hill::before {
  width: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 90%;
}

@media (max-width: 650px) {
  .hill-container .hill::before {
    width: 80%;
  }
}

.hill-container .hill::after {
  width: 90%;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
  opacity: 60%;
}

@media (max-width: 650px) {
  .hill-container .hill::after {
    width: 100%;
  }
}

@media (min-height: 1080px) {
  .hill-container {
    position: absolute;
  }
}

@media (max-width: 600px) {
  .hill-container {
    height: 100px;
  }
}

.message-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 620px;
  padding: 0 20px;
}

.message-container .message {
  margin: 1rem auto 2rem;
  font-family: 'Pacifico', cursive;
  font-size: 4.5rem;
  color: #8B0000;
  text-shadow: 1px 1px #FFF;
}

@media (max-width: 650px) {
  .message-container .message {
    font-size: 3rem;
  }
}

.message-container .to,
.message-container .sign {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
}

@media (max-width: 650px) {
  .message-container .to,
  .message-container .sign {
    font-size: 2rem;
  }
}

.message-container .to {
  margin-top: 4rem;
  font-size: 2rem;
  text-align: left;
  text-shadow: none;
}

@media (max-width: 650px) {
  .message-container .to {
    font-size: 1.5rem;
  }
}

.message-container .explain {
  margin: 3em auto 2em;
}

.star-container {
  position: fixed;
  margin: 20px auto 20px 80%;
  width: 80px;
}

.star {
  position: relative;
  width: 0;
  height: 0;
}

.star::after {
  content: "";
  position: absolute;
}

.star-vert, .star-vert::after {
  margin: 0 auto -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 40px solid rgba(218, 165, 32, 0.5);
}

.star-vert::after {
  top: 40px;
  left: -5px;
  border-top: 50px solid rgba(218, 165, 32, 0.5);
  border-bottom: none;
}

.star-hor, .star-hor::after, .star-diag-1, .star-diag-1::after, .star-diag-2, .star-diag-2::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 40px solid rgba(218, 165, 32, 0.5);
}

.star-hor::after, .star-diag-1::after, .star-diag-2::after {
  left: 40px;
  top: -5px;
  border-left: 45px solid rgba(218, 165, 32, 0.5);
  border-right: none;
}

.star-diag-1, .star-diag-2 {
  border-right: 25px solid rgba(218, 165, 32, 0.5);
  margin: -10px 15px 0;
}

.star-diag-1::after, .star-diag-2::after {
  border-left: 25px solid rgba(218, 165, 32, 0.5);
  left: 25px;
}

.star-diag-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.star-diag-2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.logo-container {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
  width: 100%;
}

.logo {
  display: block;
  width: 45%;
  cursor: pointer;
}

.logo img {
  display: block;
  width: 100%;
}

.snow {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #e4dede;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px #959fa7;
          box-shadow: 0 0 15px #959fa7;
}

.snow:nth-child(0) {
  opacity: 0.5696;
  -webkit-transform: translate(80.688vw, -10px) scale(0.702);
          transform: translate(80.688vw, -10px) scale(0.702);
  -webkit-animation: fall-0 22s -9s linear infinite;
          animation: fall-0 22s -9s linear infinite;
}

@-webkit-keyframes fall-0 {
  72.358% {
    -webkit-transform: translate(89.2921vw, 72.358vh) scale(0.702);
            transform: translate(89.2921vw, 72.358vh) scale(0.702);
  }
  to {
    -webkit-transform: translate(84.99005vw, 100vh) scale(0.702);
            transform: translate(84.99005vw, 100vh) scale(0.702);
  }
}

@keyframes fall-0 {
  72.358% {
    -webkit-transform: translate(89.2921vw, 72.358vh) scale(0.702);
            transform: translate(89.2921vw, 72.358vh) scale(0.702);
  }
  to {
    -webkit-transform: translate(84.99005vw, 100vh) scale(0.702);
            transform: translate(84.99005vw, 100vh) scale(0.702);
  }
}

.snow:nth-child(1) {
  opacity: 0.374;
  -webkit-transform: translate(72.9987vw, -10px) scale(0.4589);
          transform: translate(72.9987vw, -10px) scale(0.4589);
  -webkit-animation: fall-1 21s -26s linear infinite;
          animation: fall-1 21s -26s linear infinite;
}

@-webkit-keyframes fall-1 {
  51.486% {
    -webkit-transform: translate(78.8682vw, 51.486vh) scale(0.4589);
            transform: translate(78.8682vw, 51.486vh) scale(0.4589);
  }
  to {
    -webkit-transform: translate(75.93345vw, 100vh) scale(0.4589);
            transform: translate(75.93345vw, 100vh) scale(0.4589);
  }
}

@keyframes fall-1 {
  51.486% {
    -webkit-transform: translate(78.8682vw, 51.486vh) scale(0.4589);
            transform: translate(78.8682vw, 51.486vh) scale(0.4589);
  }
  to {
    -webkit-transform: translate(75.93345vw, 100vh) scale(0.4589);
            transform: translate(75.93345vw, 100vh) scale(0.4589);
  }
}

.snow:nth-child(2) {
  opacity: 0.0023;
  -webkit-transform: translate(89.7476vw, -10px) scale(0.5235);
          transform: translate(89.7476vw, -10px) scale(0.5235);
  -webkit-animation: fall-2 27s -30s linear infinite;
          animation: fall-2 27s -30s linear infinite;
}

@-webkit-keyframes fall-2 {
  63.976% {
    -webkit-transform: translate(85.8126vw, 63.976vh) scale(0.5235);
            transform: translate(85.8126vw, 63.976vh) scale(0.5235);
  }
  to {
    -webkit-transform: translate(87.7801vw, 100vh) scale(0.5235);
            transform: translate(87.7801vw, 100vh) scale(0.5235);
  }
}

@keyframes fall-2 {
  63.976% {
    -webkit-transform: translate(85.8126vw, 63.976vh) scale(0.5235);
            transform: translate(85.8126vw, 63.976vh) scale(0.5235);
  }
  to {
    -webkit-transform: translate(87.7801vw, 100vh) scale(0.5235);
            transform: translate(87.7801vw, 100vh) scale(0.5235);
  }
}

.snow:nth-child(3) {
  opacity: 0.618;
  -webkit-transform: translate(69.0138vw, -10px) scale(0.996);
          transform: translate(69.0138vw, -10px) scale(0.996);
  -webkit-animation: fall-3 15s -12s linear infinite;
          animation: fall-3 15s -12s linear infinite;
}

@-webkit-keyframes fall-3 {
  77.709% {
    -webkit-transform: translate(66.4926vw, 77.709vh) scale(0.996);
            transform: translate(66.4926vw, 77.709vh) scale(0.996);
  }
  to {
    -webkit-transform: translate(67.7532vw, 100vh) scale(0.996);
            transform: translate(67.7532vw, 100vh) scale(0.996);
  }
}

@keyframes fall-3 {
  77.709% {
    -webkit-transform: translate(66.4926vw, 77.709vh) scale(0.996);
            transform: translate(66.4926vw, 77.709vh) scale(0.996);
  }
  to {
    -webkit-transform: translate(67.7532vw, 100vh) scale(0.996);
            transform: translate(67.7532vw, 100vh) scale(0.996);
  }
}

.snow:nth-child(4) {
  opacity: 0.9268;
  -webkit-transform: translate(84.6549vw, -10px) scale(0.4397);
          transform: translate(84.6549vw, -10px) scale(0.4397);
  -webkit-animation: fall-4 20s -6s linear infinite;
          animation: fall-4 20s -6s linear infinite;
}

@-webkit-keyframes fall-4 {
  73.253% {
    -webkit-transform: translate(79.4363vw, 73.253vh) scale(0.4397);
            transform: translate(79.4363vw, 73.253vh) scale(0.4397);
  }
  to {
    -webkit-transform: translate(82.0456vw, 100vh) scale(0.4397);
            transform: translate(82.0456vw, 100vh) scale(0.4397);
  }
}

@keyframes fall-4 {
  73.253% {
    -webkit-transform: translate(79.4363vw, 73.253vh) scale(0.4397);
            transform: translate(79.4363vw, 73.253vh) scale(0.4397);
  }
  to {
    -webkit-transform: translate(82.0456vw, 100vh) scale(0.4397);
            transform: translate(82.0456vw, 100vh) scale(0.4397);
  }
}

.snow:nth-child(5) {
  opacity: 0.0663;
  -webkit-transform: translate(57.0401vw, -10px) scale(0.2239);
          transform: translate(57.0401vw, -10px) scale(0.2239);
  -webkit-animation: fall-5 25s -10s linear infinite;
          animation: fall-5 25s -10s linear infinite;
}

@-webkit-keyframes fall-5 {
  41.472% {
    -webkit-transform: translate(59.2597vw, 41.472vh) scale(0.2239);
            transform: translate(59.2597vw, 41.472vh) scale(0.2239);
  }
  to {
    -webkit-transform: translate(58.1499vw, 100vh) scale(0.2239);
            transform: translate(58.1499vw, 100vh) scale(0.2239);
  }
}

@keyframes fall-5 {
  41.472% {
    -webkit-transform: translate(59.2597vw, 41.472vh) scale(0.2239);
            transform: translate(59.2597vw, 41.472vh) scale(0.2239);
  }
  to {
    -webkit-transform: translate(58.1499vw, 100vh) scale(0.2239);
            transform: translate(58.1499vw, 100vh) scale(0.2239);
  }
}

.snow:nth-child(6) {
  opacity: 0.7542;
  -webkit-transform: translate(1.0386vw, -10px) scale(0.0151);
          transform: translate(1.0386vw, -10px) scale(0.0151);
  -webkit-animation: fall-6 26s -22s linear infinite;
          animation: fall-6 26s -22s linear infinite;
}

@-webkit-keyframes fall-6 {
  62.36% {
    -webkit-transform: translate(-6.3268vw, 62.36vh) scale(0.0151);
            transform: translate(-6.3268vw, 62.36vh) scale(0.0151);
  }
  to {
    -webkit-transform: translate(-2.6441vw, 100vh) scale(0.0151);
            transform: translate(-2.6441vw, 100vh) scale(0.0151);
  }
}

@keyframes fall-6 {
  62.36% {
    -webkit-transform: translate(-6.3268vw, 62.36vh) scale(0.0151);
            transform: translate(-6.3268vw, 62.36vh) scale(0.0151);
  }
  to {
    -webkit-transform: translate(-2.6441vw, 100vh) scale(0.0151);
            transform: translate(-2.6441vw, 100vh) scale(0.0151);
  }
}

.snow:nth-child(7) {
  opacity: 0.5702;
  -webkit-transform: translate(69.8741vw, -10px) scale(0.8543);
          transform: translate(69.8741vw, -10px) scale(0.8543);
  -webkit-animation: fall-7 12s -21s linear infinite;
          animation: fall-7 12s -21s linear infinite;
}

@-webkit-keyframes fall-7 {
  73.517% {
    -webkit-transform: translate(76.7969vw, 73.517vh) scale(0.8543);
            transform: translate(76.7969vw, 73.517vh) scale(0.8543);
  }
  to {
    -webkit-transform: translate(73.3355vw, 100vh) scale(0.8543);
            transform: translate(73.3355vw, 100vh) scale(0.8543);
  }
}

@keyframes fall-7 {
  73.517% {
    -webkit-transform: translate(76.7969vw, 73.517vh) scale(0.8543);
            transform: translate(76.7969vw, 73.517vh) scale(0.8543);
  }
  to {
    -webkit-transform: translate(73.3355vw, 100vh) scale(0.8543);
            transform: translate(73.3355vw, 100vh) scale(0.8543);
  }
}

.snow:nth-child(8) {
  opacity: 0.9418;
  -webkit-transform: translate(20.9633vw, -10px) scale(0.501);
          transform: translate(20.9633vw, -10px) scale(0.501);
  -webkit-animation: fall-8 15s -19s linear infinite;
          animation: fall-8 15s -19s linear infinite;
}

@-webkit-keyframes fall-8 {
  57.063% {
    -webkit-transform: translate(16.0674vw, 57.063vh) scale(0.501);
            transform: translate(16.0674vw, 57.063vh) scale(0.501);
  }
  to {
    -webkit-transform: translate(18.51535vw, 100vh) scale(0.501);
            transform: translate(18.51535vw, 100vh) scale(0.501);
  }
}

@keyframes fall-8 {
  57.063% {
    -webkit-transform: translate(16.0674vw, 57.063vh) scale(0.501);
            transform: translate(16.0674vw, 57.063vh) scale(0.501);
  }
  to {
    -webkit-transform: translate(18.51535vw, 100vh) scale(0.501);
            transform: translate(18.51535vw, 100vh) scale(0.501);
  }
}

.snow:nth-child(9) {
  opacity: 0.5861;
  -webkit-transform: translate(81.6191vw, -10px) scale(0.7771);
          transform: translate(81.6191vw, -10px) scale(0.7771);
  -webkit-animation: fall-9 22s -30s linear infinite;
          animation: fall-9 22s -30s linear infinite;
}

@-webkit-keyframes fall-9 {
  59.045% {
    -webkit-transform: translate(73.7496vw, 59.045vh) scale(0.7771);
            transform: translate(73.7496vw, 59.045vh) scale(0.7771);
  }
  to {
    -webkit-transform: translate(77.68435vw, 100vh) scale(0.7771);
            transform: translate(77.68435vw, 100vh) scale(0.7771);
  }
}

@keyframes fall-9 {
  59.045% {
    -webkit-transform: translate(73.7496vw, 59.045vh) scale(0.7771);
            transform: translate(73.7496vw, 59.045vh) scale(0.7771);
  }
  to {
    -webkit-transform: translate(77.68435vw, 100vh) scale(0.7771);
            transform: translate(77.68435vw, 100vh) scale(0.7771);
  }
}

.snow:nth-child(10) {
  opacity: 0.9756;
  -webkit-transform: translate(58.1646vw, -10px) scale(0.5263);
          transform: translate(58.1646vw, -10px) scale(0.5263);
  -webkit-animation: fall-10 21s -11s linear infinite;
          animation: fall-10 21s -11s linear infinite;
}

@-webkit-keyframes fall-10 {
  53.329% {
    -webkit-transform: translate(53.3081vw, 53.329vh) scale(0.5263);
            transform: translate(53.3081vw, 53.329vh) scale(0.5263);
  }
  to {
    -webkit-transform: translate(55.73635vw, 100vh) scale(0.5263);
            transform: translate(55.73635vw, 100vh) scale(0.5263);
  }
}

@keyframes fall-10 {
  53.329% {
    -webkit-transform: translate(53.3081vw, 53.329vh) scale(0.5263);
            transform: translate(53.3081vw, 53.329vh) scale(0.5263);
  }
  to {
    -webkit-transform: translate(55.73635vw, 100vh) scale(0.5263);
            transform: translate(55.73635vw, 100vh) scale(0.5263);
  }
}

.snow:nth-child(11) {
  opacity: 0.6198;
  -webkit-transform: translate(39.9738vw, -10px) scale(0.202);
          transform: translate(39.9738vw, -10px) scale(0.202);
  -webkit-animation: fall-11 24s -9s linear infinite;
          animation: fall-11 24s -9s linear infinite;
}

@-webkit-keyframes fall-11 {
  42.708% {
    -webkit-transform: translate(45.7384vw, 42.708vh) scale(0.202);
            transform: translate(45.7384vw, 42.708vh) scale(0.202);
  }
  to {
    -webkit-transform: translate(42.8561vw, 100vh) scale(0.202);
            transform: translate(42.8561vw, 100vh) scale(0.202);
  }
}

@keyframes fall-11 {
  42.708% {
    -webkit-transform: translate(45.7384vw, 42.708vh) scale(0.202);
            transform: translate(45.7384vw, 42.708vh) scale(0.202);
  }
  to {
    -webkit-transform: translate(42.8561vw, 100vh) scale(0.202);
            transform: translate(42.8561vw, 100vh) scale(0.202);
  }
}

.snow:nth-child(12) {
  opacity: 0.338;
  -webkit-transform: translate(69.6592vw, -10px) scale(0.5858);
          transform: translate(69.6592vw, -10px) scale(0.5858);
  -webkit-animation: fall-12 21s -13s linear infinite;
          animation: fall-12 21s -13s linear infinite;
}

@-webkit-keyframes fall-12 {
  63.009% {
    -webkit-transform: translate(61.5233vw, 63.009vh) scale(0.5858);
            transform: translate(61.5233vw, 63.009vh) scale(0.5858);
  }
  to {
    -webkit-transform: translate(65.59125vw, 100vh) scale(0.5858);
            transform: translate(65.59125vw, 100vh) scale(0.5858);
  }
}

@keyframes fall-12 {
  63.009% {
    -webkit-transform: translate(61.5233vw, 63.009vh) scale(0.5858);
            transform: translate(61.5233vw, 63.009vh) scale(0.5858);
  }
  to {
    -webkit-transform: translate(65.59125vw, 100vh) scale(0.5858);
            transform: translate(65.59125vw, 100vh) scale(0.5858);
  }
}

.snow:nth-child(13) {
  opacity: 0.8147;
  -webkit-transform: translate(5.4475vw, -10px) scale(0.5148);
          transform: translate(5.4475vw, -10px) scale(0.5148);
  -webkit-animation: fall-13 22s -25s linear infinite;
          animation: fall-13 22s -25s linear infinite;
}

@-webkit-keyframes fall-13 {
  53.268% {
    -webkit-transform: translate(15.1948vw, 53.268vh) scale(0.5148);
            transform: translate(15.1948vw, 53.268vh) scale(0.5148);
  }
  to {
    -webkit-transform: translate(10.32115vw, 100vh) scale(0.5148);
            transform: translate(10.32115vw, 100vh) scale(0.5148);
  }
}

@keyframes fall-13 {
  53.268% {
    -webkit-transform: translate(15.1948vw, 53.268vh) scale(0.5148);
            transform: translate(15.1948vw, 53.268vh) scale(0.5148);
  }
  to {
    -webkit-transform: translate(10.32115vw, 100vh) scale(0.5148);
            transform: translate(10.32115vw, 100vh) scale(0.5148);
  }
}

.snow:nth-child(14) {
  opacity: 0.3467;
  -webkit-transform: translate(95.3113vw, -10px) scale(0.6008);
          transform: translate(95.3113vw, -10px) scale(0.6008);
  -webkit-animation: fall-14 23s -3s linear infinite;
          animation: fall-14 23s -3s linear infinite;
}

@-webkit-keyframes fall-14 {
  36.922% {
    -webkit-transform: translate(100.0089vw, 36.922vh) scale(0.6008);
            transform: translate(100.0089vw, 36.922vh) scale(0.6008);
  }
  to {
    -webkit-transform: translate(97.6601vw, 100vh) scale(0.6008);
            transform: translate(97.6601vw, 100vh) scale(0.6008);
  }
}

@keyframes fall-14 {
  36.922% {
    -webkit-transform: translate(100.0089vw, 36.922vh) scale(0.6008);
            transform: translate(100.0089vw, 36.922vh) scale(0.6008);
  }
  to {
    -webkit-transform: translate(97.6601vw, 100vh) scale(0.6008);
            transform: translate(97.6601vw, 100vh) scale(0.6008);
  }
}

.snow:nth-child(15) {
  opacity: 0.4273;
  -webkit-transform: translate(53.8312vw, -10px) scale(0.7272);
          transform: translate(53.8312vw, -10px) scale(0.7272);
  -webkit-animation: fall-15 30s -8s linear infinite;
          animation: fall-15 30s -8s linear infinite;
}

@-webkit-keyframes fall-15 {
  78.108% {
    -webkit-transform: translate(56.2699vw, 78.108vh) scale(0.7272);
            transform: translate(56.2699vw, 78.108vh) scale(0.7272);
  }
  to {
    -webkit-transform: translate(55.05055vw, 100vh) scale(0.7272);
            transform: translate(55.05055vw, 100vh) scale(0.7272);
  }
}

@keyframes fall-15 {
  78.108% {
    -webkit-transform: translate(56.2699vw, 78.108vh) scale(0.7272);
            transform: translate(56.2699vw, 78.108vh) scale(0.7272);
  }
  to {
    -webkit-transform: translate(55.05055vw, 100vh) scale(0.7272);
            transform: translate(55.05055vw, 100vh) scale(0.7272);
  }
}

.snow:nth-child(16) {
  opacity: 0.4881;
  -webkit-transform: translate(90.5356vw, -10px) scale(0.5521);
          transform: translate(90.5356vw, -10px) scale(0.5521);
  -webkit-animation: fall-16 14s -5s linear infinite;
          animation: fall-16 14s -5s linear infinite;
}

@-webkit-keyframes fall-16 {
  42.539% {
    -webkit-transform: translate(98.5737vw, 42.539vh) scale(0.5521);
            transform: translate(98.5737vw, 42.539vh) scale(0.5521);
  }
  to {
    -webkit-transform: translate(94.55465vw, 100vh) scale(0.5521);
            transform: translate(94.55465vw, 100vh) scale(0.5521);
  }
}

@keyframes fall-16 {
  42.539% {
    -webkit-transform: translate(98.5737vw, 42.539vh) scale(0.5521);
            transform: translate(98.5737vw, 42.539vh) scale(0.5521);
  }
  to {
    -webkit-transform: translate(94.55465vw, 100vh) scale(0.5521);
            transform: translate(94.55465vw, 100vh) scale(0.5521);
  }
}

.snow:nth-child(17) {
  opacity: 0.2278;
  -webkit-transform: translate(37.0479vw, -10px) scale(0.4971);
          transform: translate(37.0479vw, -10px) scale(0.4971);
  -webkit-animation: fall-17 26s -22s linear infinite;
          animation: fall-17 26s -22s linear infinite;
}

@-webkit-keyframes fall-17 {
  31.426% {
    -webkit-transform: translate(28.152vw, 31.426vh) scale(0.4971);
            transform: translate(28.152vw, 31.426vh) scale(0.4971);
  }
  to {
    -webkit-transform: translate(32.59995vw, 100vh) scale(0.4971);
            transform: translate(32.59995vw, 100vh) scale(0.4971);
  }
}

@keyframes fall-17 {
  31.426% {
    -webkit-transform: translate(28.152vw, 31.426vh) scale(0.4971);
            transform: translate(28.152vw, 31.426vh) scale(0.4971);
  }
  to {
    -webkit-transform: translate(32.59995vw, 100vh) scale(0.4971);
            transform: translate(32.59995vw, 100vh) scale(0.4971);
  }
}

.snow:nth-child(18) {
  opacity: 0.3978;
  -webkit-transform: translate(43.9082vw, -10px) scale(0.4894);
          transform: translate(43.9082vw, -10px) scale(0.4894);
  -webkit-animation: fall-18 20s -11s linear infinite;
          animation: fall-18 20s -11s linear infinite;
}

@-webkit-keyframes fall-18 {
  70.762% {
    -webkit-transform: translate(42.477vw, 70.762vh) scale(0.4894);
            transform: translate(42.477vw, 70.762vh) scale(0.4894);
  }
  to {
    -webkit-transform: translate(43.1926vw, 100vh) scale(0.4894);
            transform: translate(43.1926vw, 100vh) scale(0.4894);
  }
}

@keyframes fall-18 {
  70.762% {
    -webkit-transform: translate(42.477vw, 70.762vh) scale(0.4894);
            transform: translate(42.477vw, 70.762vh) scale(0.4894);
  }
  to {
    -webkit-transform: translate(43.1926vw, 100vh) scale(0.4894);
            transform: translate(43.1926vw, 100vh) scale(0.4894);
  }
}

.snow:nth-child(19) {
  opacity: 0.4494;
  -webkit-transform: translate(87.9461vw, -10px) scale(0.7593);
          transform: translate(87.9461vw, -10px) scale(0.7593);
  -webkit-animation: fall-19 13s -8s linear infinite;
          animation: fall-19 13s -8s linear infinite;
}

@-webkit-keyframes fall-19 {
  60.057% {
    -webkit-transform: translate(96.718vw, 60.057vh) scale(0.7593);
            transform: translate(96.718vw, 60.057vh) scale(0.7593);
  }
  to {
    -webkit-transform: translate(92.33205vw, 100vh) scale(0.7593);
            transform: translate(92.33205vw, 100vh) scale(0.7593);
  }
}

@keyframes fall-19 {
  60.057% {
    -webkit-transform: translate(96.718vw, 60.057vh) scale(0.7593);
            transform: translate(96.718vw, 60.057vh) scale(0.7593);
  }
  to {
    -webkit-transform: translate(92.33205vw, 100vh) scale(0.7593);
            transform: translate(92.33205vw, 100vh) scale(0.7593);
  }
}

.snow:nth-child(20) {
  opacity: 0.6112;
  -webkit-transform: translate(93.0307vw, -10px) scale(0.3274);
          transform: translate(93.0307vw, -10px) scale(0.3274);
  -webkit-animation: fall-20 28s -4s linear infinite;
          animation: fall-20 28s -4s linear infinite;
}

@-webkit-keyframes fall-20 {
  60.457% {
    -webkit-transform: translate(93.4404vw, 60.457vh) scale(0.3274);
            transform: translate(93.4404vw, 60.457vh) scale(0.3274);
  }
  to {
    -webkit-transform: translate(93.23555vw, 100vh) scale(0.3274);
            transform: translate(93.23555vw, 100vh) scale(0.3274);
  }
}

@keyframes fall-20 {
  60.457% {
    -webkit-transform: translate(93.4404vw, 60.457vh) scale(0.3274);
            transform: translate(93.4404vw, 60.457vh) scale(0.3274);
  }
  to {
    -webkit-transform: translate(93.23555vw, 100vh) scale(0.3274);
            transform: translate(93.23555vw, 100vh) scale(0.3274);
  }
}

.snow:nth-child(21) {
  opacity: 0.0496;
  -webkit-transform: translate(74.4006vw, -10px) scale(0.9564);
          transform: translate(74.4006vw, -10px) scale(0.9564);
  -webkit-animation: fall-21 16s -10s linear infinite;
          animation: fall-21 16s -10s linear infinite;
}

@-webkit-keyframes fall-21 {
  74.276% {
    -webkit-transform: translate(83.3825vw, 74.276vh) scale(0.9564);
            transform: translate(83.3825vw, 74.276vh) scale(0.9564);
  }
  to {
    -webkit-transform: translate(78.89155vw, 100vh) scale(0.9564);
            transform: translate(78.89155vw, 100vh) scale(0.9564);
  }
}

@keyframes fall-21 {
  74.276% {
    -webkit-transform: translate(83.3825vw, 74.276vh) scale(0.9564);
            transform: translate(83.3825vw, 74.276vh) scale(0.9564);
  }
  to {
    -webkit-transform: translate(78.89155vw, 100vh) scale(0.9564);
            transform: translate(78.89155vw, 100vh) scale(0.9564);
  }
}

.snow:nth-child(22) {
  opacity: 0.3182;
  -webkit-transform: translate(3.0005vw, -10px) scale(0.0129);
          transform: translate(3.0005vw, -10px) scale(0.0129);
  -webkit-animation: fall-22 16s -28s linear infinite;
          animation: fall-22 16s -28s linear infinite;
}

@-webkit-keyframes fall-22 {
  69.352% {
    -webkit-transform: translate(-6.092vw, 69.352vh) scale(0.0129);
            transform: translate(-6.092vw, 69.352vh) scale(0.0129);
  }
  to {
    -webkit-transform: translate(-1.54575vw, 100vh) scale(0.0129);
            transform: translate(-1.54575vw, 100vh) scale(0.0129);
  }
}

@keyframes fall-22 {
  69.352% {
    -webkit-transform: translate(-6.092vw, 69.352vh) scale(0.0129);
            transform: translate(-6.092vw, 69.352vh) scale(0.0129);
  }
  to {
    -webkit-transform: translate(-1.54575vw, 100vh) scale(0.0129);
            transform: translate(-1.54575vw, 100vh) scale(0.0129);
  }
}

.snow:nth-child(23) {
  opacity: 0.0905;
  -webkit-transform: translate(83.6008vw, -10px) scale(0.8485);
          transform: translate(83.6008vw, -10px) scale(0.8485);
  -webkit-animation: fall-23 10s -2s linear infinite;
          animation: fall-23 10s -2s linear infinite;
}

@-webkit-keyframes fall-23 {
  41.658% {
    -webkit-transform: translate(84.7799vw, 41.658vh) scale(0.8485);
            transform: translate(84.7799vw, 41.658vh) scale(0.8485);
  }
  to {
    -webkit-transform: translate(84.19035vw, 100vh) scale(0.8485);
            transform: translate(84.19035vw, 100vh) scale(0.8485);
  }
}

@keyframes fall-23 {
  41.658% {
    -webkit-transform: translate(84.7799vw, 41.658vh) scale(0.8485);
            transform: translate(84.7799vw, 41.658vh) scale(0.8485);
  }
  to {
    -webkit-transform: translate(84.19035vw, 100vh) scale(0.8485);
            transform: translate(84.19035vw, 100vh) scale(0.8485);
  }
}

.snow:nth-child(24) {
  opacity: 0.2668;
  -webkit-transform: translate(27.9934vw, -10px) scale(0.798);
          transform: translate(27.9934vw, -10px) scale(0.798);
  -webkit-animation: fall-24 11s -26s linear infinite;
          animation: fall-24 11s -26s linear infinite;
}

@-webkit-keyframes fall-24 {
  36.451% {
    -webkit-transform: translate(21.097vw, 36.451vh) scale(0.798);
            transform: translate(21.097vw, 36.451vh) scale(0.798);
  }
  to {
    -webkit-transform: translate(24.5452vw, 100vh) scale(0.798);
            transform: translate(24.5452vw, 100vh) scale(0.798);
  }
}

@keyframes fall-24 {
  36.451% {
    -webkit-transform: translate(21.097vw, 36.451vh) scale(0.798);
            transform: translate(21.097vw, 36.451vh) scale(0.798);
  }
  to {
    -webkit-transform: translate(24.5452vw, 100vh) scale(0.798);
            transform: translate(24.5452vw, 100vh) scale(0.798);
  }
}

.snow:nth-child(25) {
  opacity: 0.2548;
  -webkit-transform: translate(75.1599vw, -10px) scale(0.381);
          transform: translate(75.1599vw, -10px) scale(0.381);
  -webkit-animation: fall-25 12s -7s linear infinite;
          animation: fall-25 12s -7s linear infinite;
}

@-webkit-keyframes fall-25 {
  71.796% {
    -webkit-transform: translate(68.6356vw, 71.796vh) scale(0.381);
            transform: translate(68.6356vw, 71.796vh) scale(0.381);
  }
  to {
    -webkit-transform: translate(71.89775vw, 100vh) scale(0.381);
            transform: translate(71.89775vw, 100vh) scale(0.381);
  }
}

@keyframes fall-25 {
  71.796% {
    -webkit-transform: translate(68.6356vw, 71.796vh) scale(0.381);
            transform: translate(68.6356vw, 71.796vh) scale(0.381);
  }
  to {
    -webkit-transform: translate(71.89775vw, 100vh) scale(0.381);
            transform: translate(71.89775vw, 100vh) scale(0.381);
  }
}

.snow:nth-child(26) {
  opacity: 0.6719;
  -webkit-transform: translate(99.1145vw, -10px) scale(0.7637);
          transform: translate(99.1145vw, -10px) scale(0.7637);
  -webkit-animation: fall-26 16s -13s linear infinite;
          animation: fall-26 16s -13s linear infinite;
}

@-webkit-keyframes fall-26 {
  32.989% {
    -webkit-transform: translate(104.7199vw, 32.989vh) scale(0.7637);
            transform: translate(104.7199vw, 32.989vh) scale(0.7637);
  }
  to {
    -webkit-transform: translate(101.9172vw, 100vh) scale(0.7637);
            transform: translate(101.9172vw, 100vh) scale(0.7637);
  }
}

@keyframes fall-26 {
  32.989% {
    -webkit-transform: translate(104.7199vw, 32.989vh) scale(0.7637);
            transform: translate(104.7199vw, 32.989vh) scale(0.7637);
  }
  to {
    -webkit-transform: translate(101.9172vw, 100vh) scale(0.7637);
            transform: translate(101.9172vw, 100vh) scale(0.7637);
  }
}

.snow:nth-child(27) {
  opacity: 0.2079;
  -webkit-transform: translate(66.6121vw, -10px) scale(0.6492);
          transform: translate(66.6121vw, -10px) scale(0.6492);
  -webkit-animation: fall-27 26s -1s linear infinite;
          animation: fall-27 26s -1s linear infinite;
}

@-webkit-keyframes fall-27 {
  57.679% {
    -webkit-transform: translate(68.1237vw, 57.679vh) scale(0.6492);
            transform: translate(68.1237vw, 57.679vh) scale(0.6492);
  }
  to {
    -webkit-transform: translate(67.3679vw, 100vh) scale(0.6492);
            transform: translate(67.3679vw, 100vh) scale(0.6492);
  }
}

@keyframes fall-27 {
  57.679% {
    -webkit-transform: translate(68.1237vw, 57.679vh) scale(0.6492);
            transform: translate(68.1237vw, 57.679vh) scale(0.6492);
  }
  to {
    -webkit-transform: translate(67.3679vw, 100vh) scale(0.6492);
            transform: translate(67.3679vw, 100vh) scale(0.6492);
  }
}

.snow:nth-child(28) {
  opacity: 0.1204;
  -webkit-transform: translate(81.4474vw, -10px) scale(0.1384);
          transform: translate(81.4474vw, -10px) scale(0.1384);
  -webkit-animation: fall-28 30s -19s linear infinite;
          animation: fall-28 30s -19s linear infinite;
}

@-webkit-keyframes fall-28 {
  53.012% {
    -webkit-transform: translate(87.8304vw, 53.012vh) scale(0.1384);
            transform: translate(87.8304vw, 53.012vh) scale(0.1384);
  }
  to {
    -webkit-transform: translate(84.6389vw, 100vh) scale(0.1384);
            transform: translate(84.6389vw, 100vh) scale(0.1384);
  }
}

@keyframes fall-28 {
  53.012% {
    -webkit-transform: translate(87.8304vw, 53.012vh) scale(0.1384);
            transform: translate(87.8304vw, 53.012vh) scale(0.1384);
  }
  to {
    -webkit-transform: translate(84.6389vw, 100vh) scale(0.1384);
            transform: translate(84.6389vw, 100vh) scale(0.1384);
  }
}

.snow:nth-child(29) {
  opacity: 0.0779;
  -webkit-transform: translate(81.2667vw, -10px) scale(0.7487);
          transform: translate(81.2667vw, -10px) scale(0.7487);
  -webkit-animation: fall-29 14s -20s linear infinite;
          animation: fall-29 14s -20s linear infinite;
}

@-webkit-keyframes fall-29 {
  64.809% {
    -webkit-transform: translate(87.707vw, 64.809vh) scale(0.7487);
            transform: translate(87.707vw, 64.809vh) scale(0.7487);
  }
  to {
    -webkit-transform: translate(84.48685vw, 100vh) scale(0.7487);
            transform: translate(84.48685vw, 100vh) scale(0.7487);
  }
}

@keyframes fall-29 {
  64.809% {
    -webkit-transform: translate(87.707vw, 64.809vh) scale(0.7487);
            transform: translate(87.707vw, 64.809vh) scale(0.7487);
  }
  to {
    -webkit-transform: translate(84.48685vw, 100vh) scale(0.7487);
            transform: translate(84.48685vw, 100vh) scale(0.7487);
  }
}

.snow:nth-child(30) {
  opacity: 0.3466;
  -webkit-transform: translate(68.0685vw, -10px) scale(0.2152);
          transform: translate(68.0685vw, -10px) scale(0.2152);
  -webkit-animation: fall-30 20s -5s linear infinite;
          animation: fall-30 20s -5s linear infinite;
}

@-webkit-keyframes fall-30 {
  41.954% {
    -webkit-transform: translate(75.7837vw, 41.954vh) scale(0.2152);
            transform: translate(75.7837vw, 41.954vh) scale(0.2152);
  }
  to {
    -webkit-transform: translate(71.9261vw, 100vh) scale(0.2152);
            transform: translate(71.9261vw, 100vh) scale(0.2152);
  }
}

@keyframes fall-30 {
  41.954% {
    -webkit-transform: translate(75.7837vw, 41.954vh) scale(0.2152);
            transform: translate(75.7837vw, 41.954vh) scale(0.2152);
  }
  to {
    -webkit-transform: translate(71.9261vw, 100vh) scale(0.2152);
            transform: translate(71.9261vw, 100vh) scale(0.2152);
  }
}

.snow:nth-child(31) {
  opacity: 0.1862;
  -webkit-transform: translate(19.8818vw, -10px) scale(0.4074);
          transform: translate(19.8818vw, -10px) scale(0.4074);
  -webkit-animation: fall-31 22s -28s linear infinite;
          animation: fall-31 22s -28s linear infinite;
}

@-webkit-keyframes fall-31 {
  54.978% {
    -webkit-transform: translate(12.1265vw, 54.978vh) scale(0.4074);
            transform: translate(12.1265vw, 54.978vh) scale(0.4074);
  }
  to {
    -webkit-transform: translate(16.00415vw, 100vh) scale(0.4074);
            transform: translate(16.00415vw, 100vh) scale(0.4074);
  }
}

@keyframes fall-31 {
  54.978% {
    -webkit-transform: translate(12.1265vw, 54.978vh) scale(0.4074);
            transform: translate(12.1265vw, 54.978vh) scale(0.4074);
  }
  to {
    -webkit-transform: translate(16.00415vw, 100vh) scale(0.4074);
            transform: translate(16.00415vw, 100vh) scale(0.4074);
  }
}

.snow:nth-child(32) {
  opacity: 0.2725;
  -webkit-transform: translate(4.9431vw, -10px) scale(0.9239);
          transform: translate(4.9431vw, -10px) scale(0.9239);
  -webkit-animation: fall-32 15s -10s linear infinite;
          animation: fall-32 15s -10s linear infinite;
}

@-webkit-keyframes fall-32 {
  71.625% {
    -webkit-transform: translate(8.5969vw, 71.625vh) scale(0.9239);
            transform: translate(8.5969vw, 71.625vh) scale(0.9239);
  }
  to {
    -webkit-transform: translate(6.77vw, 100vh) scale(0.9239);
            transform: translate(6.77vw, 100vh) scale(0.9239);
  }
}

@keyframes fall-32 {
  71.625% {
    -webkit-transform: translate(8.5969vw, 71.625vh) scale(0.9239);
            transform: translate(8.5969vw, 71.625vh) scale(0.9239);
  }
  to {
    -webkit-transform: translate(6.77vw, 100vh) scale(0.9239);
            transform: translate(6.77vw, 100vh) scale(0.9239);
  }
}

.snow:nth-child(33) {
  opacity: 0.3621;
  -webkit-transform: translate(2.2059vw, -10px) scale(0.9168);
          transform: translate(2.2059vw, -10px) scale(0.9168);
  -webkit-animation: fall-33 18s -20s linear infinite;
          animation: fall-33 18s -20s linear infinite;
}

@-webkit-keyframes fall-33 {
  78.264% {
    -webkit-transform: translate(-3.7203vw, 78.264vh) scale(0.9168);
            transform: translate(-3.7203vw, 78.264vh) scale(0.9168);
  }
  to {
    -webkit-transform: translate(-0.7572vw, 100vh) scale(0.9168);
            transform: translate(-0.7572vw, 100vh) scale(0.9168);
  }
}

@keyframes fall-33 {
  78.264% {
    -webkit-transform: translate(-3.7203vw, 78.264vh) scale(0.9168);
            transform: translate(-3.7203vw, 78.264vh) scale(0.9168);
  }
  to {
    -webkit-transform: translate(-0.7572vw, 100vh) scale(0.9168);
            transform: translate(-0.7572vw, 100vh) scale(0.9168);
  }
}

.snow:nth-child(34) {
  opacity: 0.6738;
  -webkit-transform: translate(22.4819vw, -10px) scale(0.0423);
          transform: translate(22.4819vw, -10px) scale(0.0423);
  -webkit-animation: fall-34 19s -22s linear infinite;
          animation: fall-34 19s -22s linear infinite;
}

@-webkit-keyframes fall-34 {
  73.865% {
    -webkit-transform: translate(13.9202vw, 73.865vh) scale(0.0423);
            transform: translate(13.9202vw, 73.865vh) scale(0.0423);
  }
  to {
    -webkit-transform: translate(18.20105vw, 100vh) scale(0.0423);
            transform: translate(18.20105vw, 100vh) scale(0.0423);
  }
}

@keyframes fall-34 {
  73.865% {
    -webkit-transform: translate(13.9202vw, 73.865vh) scale(0.0423);
            transform: translate(13.9202vw, 73.865vh) scale(0.0423);
  }
  to {
    -webkit-transform: translate(18.20105vw, 100vh) scale(0.0423);
            transform: translate(18.20105vw, 100vh) scale(0.0423);
  }
}

.snow:nth-child(35) {
  opacity: 0.7157;
  -webkit-transform: translate(16.4504vw, -10px) scale(0.8388);
          transform: translate(16.4504vw, -10px) scale(0.8388);
  -webkit-animation: fall-35 28s -11s linear infinite;
          animation: fall-35 28s -11s linear infinite;
}

@-webkit-keyframes fall-35 {
  68.638% {
    -webkit-transform: translate(7.9167vw, 68.638vh) scale(0.8388);
            transform: translate(7.9167vw, 68.638vh) scale(0.8388);
  }
  to {
    -webkit-transform: translate(12.18355vw, 100vh) scale(0.8388);
            transform: translate(12.18355vw, 100vh) scale(0.8388);
  }
}

@keyframes fall-35 {
  68.638% {
    -webkit-transform: translate(7.9167vw, 68.638vh) scale(0.8388);
            transform: translate(7.9167vw, 68.638vh) scale(0.8388);
  }
  to {
    -webkit-transform: translate(12.18355vw, 100vh) scale(0.8388);
            transform: translate(12.18355vw, 100vh) scale(0.8388);
  }
}

.snow:nth-child(36) {
  opacity: 0.4898;
  -webkit-transform: translate(96.1179vw, -10px) scale(0.5342);
          transform: translate(96.1179vw, -10px) scale(0.5342);
  -webkit-animation: fall-36 15s -8s linear infinite;
          animation: fall-36 15s -8s linear infinite;
}

@-webkit-keyframes fall-36 {
  42.988% {
    -webkit-transform: translate(101.3922vw, 42.988vh) scale(0.5342);
            transform: translate(101.3922vw, 42.988vh) scale(0.5342);
  }
  to {
    -webkit-transform: translate(98.75505vw, 100vh) scale(0.5342);
            transform: translate(98.75505vw, 100vh) scale(0.5342);
  }
}

@keyframes fall-36 {
  42.988% {
    -webkit-transform: translate(101.3922vw, 42.988vh) scale(0.5342);
            transform: translate(101.3922vw, 42.988vh) scale(0.5342);
  }
  to {
    -webkit-transform: translate(98.75505vw, 100vh) scale(0.5342);
            transform: translate(98.75505vw, 100vh) scale(0.5342);
  }
}

.snow:nth-child(37) {
  opacity: 0.7334;
  -webkit-transform: translate(6.4104vw, -10px) scale(0.6076);
          transform: translate(6.4104vw, -10px) scale(0.6076);
  -webkit-animation: fall-37 28s -28s linear infinite;
          animation: fall-37 28s -28s linear infinite;
}

@-webkit-keyframes fall-37 {
  62.543% {
    -webkit-transform: translate(13.7097vw, 62.543vh) scale(0.6076);
            transform: translate(13.7097vw, 62.543vh) scale(0.6076);
  }
  to {
    -webkit-transform: translate(10.06005vw, 100vh) scale(0.6076);
            transform: translate(10.06005vw, 100vh) scale(0.6076);
  }
}

@keyframes fall-37 {
  62.543% {
    -webkit-transform: translate(13.7097vw, 62.543vh) scale(0.6076);
            transform: translate(13.7097vw, 62.543vh) scale(0.6076);
  }
  to {
    -webkit-transform: translate(10.06005vw, 100vh) scale(0.6076);
            transform: translate(10.06005vw, 100vh) scale(0.6076);
  }
}

.snow:nth-child(38) {
  opacity: 0.2031;
  -webkit-transform: translate(83.8926vw, -10px) scale(0.7747);
          transform: translate(83.8926vw, -10px) scale(0.7747);
  -webkit-animation: fall-38 11s -6s linear infinite;
          animation: fall-38 11s -6s linear infinite;
}

@-webkit-keyframes fall-38 {
  30.066% {
    -webkit-transform: translate(74.134vw, 30.066vh) scale(0.7747);
            transform: translate(74.134vw, 30.066vh) scale(0.7747);
  }
  to {
    -webkit-transform: translate(79.0133vw, 100vh) scale(0.7747);
            transform: translate(79.0133vw, 100vh) scale(0.7747);
  }
}

@keyframes fall-38 {
  30.066% {
    -webkit-transform: translate(74.134vw, 30.066vh) scale(0.7747);
            transform: translate(74.134vw, 30.066vh) scale(0.7747);
  }
  to {
    -webkit-transform: translate(79.0133vw, 100vh) scale(0.7747);
            transform: translate(79.0133vw, 100vh) scale(0.7747);
  }
}

.snow:nth-child(39) {
  opacity: 0.1019;
  -webkit-transform: translate(96.5927vw, -10px) scale(0.1339);
          transform: translate(96.5927vw, -10px) scale(0.1339);
  -webkit-animation: fall-39 11s -6s linear infinite;
          animation: fall-39 11s -6s linear infinite;
}

@-webkit-keyframes fall-39 {
  42.691% {
    -webkit-transform: translate(88.5262vw, 42.691vh) scale(0.1339);
            transform: translate(88.5262vw, 42.691vh) scale(0.1339);
  }
  to {
    -webkit-transform: translate(92.55945vw, 100vh) scale(0.1339);
            transform: translate(92.55945vw, 100vh) scale(0.1339);
  }
}

@keyframes fall-39 {
  42.691% {
    -webkit-transform: translate(88.5262vw, 42.691vh) scale(0.1339);
            transform: translate(88.5262vw, 42.691vh) scale(0.1339);
  }
  to {
    -webkit-transform: translate(92.55945vw, 100vh) scale(0.1339);
            transform: translate(92.55945vw, 100vh) scale(0.1339);
  }
}

.snow:nth-child(40) {
  opacity: 0.0836;
  -webkit-transform: translate(78.2478vw, -10px) scale(0.3288);
          transform: translate(78.2478vw, -10px) scale(0.3288);
  -webkit-animation: fall-40 13s -13s linear infinite;
          animation: fall-40 13s -13s linear infinite;
}

@-webkit-keyframes fall-40 {
  47.956% {
    -webkit-transform: translate(77.7517vw, 47.956vh) scale(0.3288);
            transform: translate(77.7517vw, 47.956vh) scale(0.3288);
  }
  to {
    -webkit-transform: translate(77.99975vw, 100vh) scale(0.3288);
            transform: translate(77.99975vw, 100vh) scale(0.3288);
  }
}

@keyframes fall-40 {
  47.956% {
    -webkit-transform: translate(77.7517vw, 47.956vh) scale(0.3288);
            transform: translate(77.7517vw, 47.956vh) scale(0.3288);
  }
  to {
    -webkit-transform: translate(77.99975vw, 100vh) scale(0.3288);
            transform: translate(77.99975vw, 100vh) scale(0.3288);
  }
}

.snow:nth-child(41) {
  opacity: 0.4217;
  -webkit-transform: translate(96.8419vw, -10px) scale(0.426);
          transform: translate(96.8419vw, -10px) scale(0.426);
  -webkit-animation: fall-41 26s -11s linear infinite;
          animation: fall-41 26s -11s linear infinite;
}

@-webkit-keyframes fall-41 {
  59.169% {
    -webkit-transform: translate(87.1691vw, 59.169vh) scale(0.426);
            transform: translate(87.1691vw, 59.169vh) scale(0.426);
  }
  to {
    -webkit-transform: translate(92.0055vw, 100vh) scale(0.426);
            transform: translate(92.0055vw, 100vh) scale(0.426);
  }
}

@keyframes fall-41 {
  59.169% {
    -webkit-transform: translate(87.1691vw, 59.169vh) scale(0.426);
            transform: translate(87.1691vw, 59.169vh) scale(0.426);
  }
  to {
    -webkit-transform: translate(92.0055vw, 100vh) scale(0.426);
            transform: translate(92.0055vw, 100vh) scale(0.426);
  }
}

.snow:nth-child(42) {
  opacity: 0.5498;
  -webkit-transform: translate(99.0025vw, -10px) scale(0.4234);
          transform: translate(99.0025vw, -10px) scale(0.4234);
  -webkit-animation: fall-42 23s -4s linear infinite;
          animation: fall-42 23s -4s linear infinite;
}

@-webkit-keyframes fall-42 {
  58.66% {
    -webkit-transform: translate(103.3269vw, 58.66vh) scale(0.4234);
            transform: translate(103.3269vw, 58.66vh) scale(0.4234);
  }
  to {
    -webkit-transform: translate(101.1647vw, 100vh) scale(0.4234);
            transform: translate(101.1647vw, 100vh) scale(0.4234);
  }
}

@keyframes fall-42 {
  58.66% {
    -webkit-transform: translate(103.3269vw, 58.66vh) scale(0.4234);
            transform: translate(103.3269vw, 58.66vh) scale(0.4234);
  }
  to {
    -webkit-transform: translate(101.1647vw, 100vh) scale(0.4234);
            transform: translate(101.1647vw, 100vh) scale(0.4234);
  }
}

.snow:nth-child(43) {
  opacity: 0.6665;
  -webkit-transform: translate(58.7613vw, -10px) scale(0.2668);
          transform: translate(58.7613vw, -10px) scale(0.2668);
  -webkit-animation: fall-43 17s -1s linear infinite;
          animation: fall-43 17s -1s linear infinite;
}

@-webkit-keyframes fall-43 {
  51.561% {
    -webkit-transform: translate(52.5343vw, 51.561vh) scale(0.2668);
            transform: translate(52.5343vw, 51.561vh) scale(0.2668);
  }
  to {
    -webkit-transform: translate(55.6478vw, 100vh) scale(0.2668);
            transform: translate(55.6478vw, 100vh) scale(0.2668);
  }
}

@keyframes fall-43 {
  51.561% {
    -webkit-transform: translate(52.5343vw, 51.561vh) scale(0.2668);
            transform: translate(52.5343vw, 51.561vh) scale(0.2668);
  }
  to {
    -webkit-transform: translate(55.6478vw, 100vh) scale(0.2668);
            transform: translate(55.6478vw, 100vh) scale(0.2668);
  }
}

.snow:nth-child(44) {
  opacity: 0.3999;
  -webkit-transform: translate(6.4308vw, -10px) scale(0.2978);
          transform: translate(6.4308vw, -10px) scale(0.2978);
  -webkit-animation: fall-44 20s -6s linear infinite;
          animation: fall-44 20s -6s linear infinite;
}

@-webkit-keyframes fall-44 {
  76.495% {
    -webkit-transform: translate(3.6024vw, 76.495vh) scale(0.2978);
            transform: translate(3.6024vw, 76.495vh) scale(0.2978);
  }
  to {
    -webkit-transform: translate(5.0166vw, 100vh) scale(0.2978);
            transform: translate(5.0166vw, 100vh) scale(0.2978);
  }
}

@keyframes fall-44 {
  76.495% {
    -webkit-transform: translate(3.6024vw, 76.495vh) scale(0.2978);
            transform: translate(3.6024vw, 76.495vh) scale(0.2978);
  }
  to {
    -webkit-transform: translate(5.0166vw, 100vh) scale(0.2978);
            transform: translate(5.0166vw, 100vh) scale(0.2978);
  }
}

.snow:nth-child(45) {
  opacity: 0.4387;
  -webkit-transform: translate(0.6197vw, -10px) scale(0.5955);
          transform: translate(0.6197vw, -10px) scale(0.5955);
  -webkit-animation: fall-45 19s -18s linear infinite;
          animation: fall-45 19s -18s linear infinite;
}

@-webkit-keyframes fall-45 {
  62.365% {
    -webkit-transform: translate(-6.5824vw, 62.365vh) scale(0.5955);
            transform: translate(-6.5824vw, 62.365vh) scale(0.5955);
  }
  to {
    -webkit-transform: translate(-2.98135vw, 100vh) scale(0.5955);
            transform: translate(-2.98135vw, 100vh) scale(0.5955);
  }
}

@keyframes fall-45 {
  62.365% {
    -webkit-transform: translate(-6.5824vw, 62.365vh) scale(0.5955);
            transform: translate(-6.5824vw, 62.365vh) scale(0.5955);
  }
  to {
    -webkit-transform: translate(-2.98135vw, 100vh) scale(0.5955);
            transform: translate(-2.98135vw, 100vh) scale(0.5955);
  }
}

.snow:nth-child(46) {
  opacity: 0.476;
  -webkit-transform: translate(64.9257vw, -10px) scale(0.2492);
          transform: translate(64.9257vw, -10px) scale(0.2492);
  -webkit-animation: fall-46 18s -14s linear infinite;
          animation: fall-46 18s -14s linear infinite;
}

@-webkit-keyframes fall-46 {
  30.938% {
    -webkit-transform: translate(58.9289vw, 30.938vh) scale(0.2492);
            transform: translate(58.9289vw, 30.938vh) scale(0.2492);
  }
  to {
    -webkit-transform: translate(61.9273vw, 100vh) scale(0.2492);
            transform: translate(61.9273vw, 100vh) scale(0.2492);
  }
}

@keyframes fall-46 {
  30.938% {
    -webkit-transform: translate(58.9289vw, 30.938vh) scale(0.2492);
            transform: translate(58.9289vw, 30.938vh) scale(0.2492);
  }
  to {
    -webkit-transform: translate(61.9273vw, 100vh) scale(0.2492);
            transform: translate(61.9273vw, 100vh) scale(0.2492);
  }
}

.snow:nth-child(47) {
  opacity: 0.4105;
  -webkit-transform: translate(57.065vw, -10px) scale(0.1531);
          transform: translate(57.065vw, -10px) scale(0.1531);
  -webkit-animation: fall-47 20s -24s linear infinite;
          animation: fall-47 20s -24s linear infinite;
}

@-webkit-keyframes fall-47 {
  66.41% {
    -webkit-transform: translate(63.1058vw, 66.41vh) scale(0.1531);
            transform: translate(63.1058vw, 66.41vh) scale(0.1531);
  }
  to {
    -webkit-transform: translate(60.0854vw, 100vh) scale(0.1531);
            transform: translate(60.0854vw, 100vh) scale(0.1531);
  }
}

@keyframes fall-47 {
  66.41% {
    -webkit-transform: translate(63.1058vw, 66.41vh) scale(0.1531);
            transform: translate(63.1058vw, 66.41vh) scale(0.1531);
  }
  to {
    -webkit-transform: translate(60.0854vw, 100vh) scale(0.1531);
            transform: translate(60.0854vw, 100vh) scale(0.1531);
  }
}

.snow:nth-child(48) {
  opacity: 0.9533;
  -webkit-transform: translate(40.6922vw, -10px) scale(0.8006);
          transform: translate(40.6922vw, -10px) scale(0.8006);
  -webkit-animation: fall-48 22s -23s linear infinite;
          animation: fall-48 22s -23s linear infinite;
}

@-webkit-keyframes fall-48 {
  66.752% {
    -webkit-transform: translate(41.3443vw, 66.752vh) scale(0.8006);
            transform: translate(41.3443vw, 66.752vh) scale(0.8006);
  }
  to {
    -webkit-transform: translate(41.01825vw, 100vh) scale(0.8006);
            transform: translate(41.01825vw, 100vh) scale(0.8006);
  }
}

@keyframes fall-48 {
  66.752% {
    -webkit-transform: translate(41.3443vw, 66.752vh) scale(0.8006);
            transform: translate(41.3443vw, 66.752vh) scale(0.8006);
  }
  to {
    -webkit-transform: translate(41.01825vw, 100vh) scale(0.8006);
            transform: translate(41.01825vw, 100vh) scale(0.8006);
  }
}

.snow:nth-child(49) {
  opacity: 0.0095;
  -webkit-transform: translate(53.234vw, -10px) scale(0.552);
          transform: translate(53.234vw, -10px) scale(0.552);
  -webkit-animation: fall-49 14s -27s linear infinite;
          animation: fall-49 14s -27s linear infinite;
}

@-webkit-keyframes fall-49 {
  40.849% {
    -webkit-transform: translate(58.8067vw, 40.849vh) scale(0.552);
            transform: translate(58.8067vw, 40.849vh) scale(0.552);
  }
  to {
    -webkit-transform: translate(56.02035vw, 100vh) scale(0.552);
            transform: translate(56.02035vw, 100vh) scale(0.552);
  }
}

@keyframes fall-49 {
  40.849% {
    -webkit-transform: translate(58.8067vw, 40.849vh) scale(0.552);
            transform: translate(58.8067vw, 40.849vh) scale(0.552);
  }
  to {
    -webkit-transform: translate(56.02035vw, 100vh) scale(0.552);
            transform: translate(56.02035vw, 100vh) scale(0.552);
  }
}

.snow:nth-child(50) {
  opacity: 0.8344;
  -webkit-transform: translate(29.8428vw, -10px) scale(0.3265);
          transform: translate(29.8428vw, -10px) scale(0.3265);
  -webkit-animation: fall-50 15s -21s linear infinite;
          animation: fall-50 15s -21s linear infinite;
}

@-webkit-keyframes fall-50 {
  77.988% {
    -webkit-transform: translate(24.2637vw, 77.988vh) scale(0.3265);
            transform: translate(24.2637vw, 77.988vh) scale(0.3265);
  }
  to {
    -webkit-transform: translate(27.05325vw, 100vh) scale(0.3265);
            transform: translate(27.05325vw, 100vh) scale(0.3265);
  }
}

@keyframes fall-50 {
  77.988% {
    -webkit-transform: translate(24.2637vw, 77.988vh) scale(0.3265);
            transform: translate(24.2637vw, 77.988vh) scale(0.3265);
  }
  to {
    -webkit-transform: translate(27.05325vw, 100vh) scale(0.3265);
            transform: translate(27.05325vw, 100vh) scale(0.3265);
  }
}

.snow:nth-child(51) {
  opacity: 0.5159;
  -webkit-transform: translate(16.5658vw, -10px) scale(0.4912);
          transform: translate(16.5658vw, -10px) scale(0.4912);
  -webkit-animation: fall-51 30s -19s linear infinite;
          animation: fall-51 30s -19s linear infinite;
}

@-webkit-keyframes fall-51 {
  52.276% {
    -webkit-transform: translate(19.444vw, 52.276vh) scale(0.4912);
            transform: translate(19.444vw, 52.276vh) scale(0.4912);
  }
  to {
    -webkit-transform: translate(18.0049vw, 100vh) scale(0.4912);
            transform: translate(18.0049vw, 100vh) scale(0.4912);
  }
}

@keyframes fall-51 {
  52.276% {
    -webkit-transform: translate(19.444vw, 52.276vh) scale(0.4912);
            transform: translate(19.444vw, 52.276vh) scale(0.4912);
  }
  to {
    -webkit-transform: translate(18.0049vw, 100vh) scale(0.4912);
            transform: translate(18.0049vw, 100vh) scale(0.4912);
  }
}

.snow:nth-child(52) {
  opacity: 0.7516;
  -webkit-transform: translate(93.3605vw, -10px) scale(0.6217);
          transform: translate(93.3605vw, -10px) scale(0.6217);
  -webkit-animation: fall-52 15s -17s linear infinite;
          animation: fall-52 15s -17s linear infinite;
}

@-webkit-keyframes fall-52 {
  56.829% {
    -webkit-transform: translate(89.4054vw, 56.829vh) scale(0.6217);
            transform: translate(89.4054vw, 56.829vh) scale(0.6217);
  }
  to {
    -webkit-transform: translate(91.38295vw, 100vh) scale(0.6217);
            transform: translate(91.38295vw, 100vh) scale(0.6217);
  }
}

@keyframes fall-52 {
  56.829% {
    -webkit-transform: translate(89.4054vw, 56.829vh) scale(0.6217);
            transform: translate(89.4054vw, 56.829vh) scale(0.6217);
  }
  to {
    -webkit-transform: translate(91.38295vw, 100vh) scale(0.6217);
            transform: translate(91.38295vw, 100vh) scale(0.6217);
  }
}

.snow:nth-child(53) {
  opacity: 0.9787;
  -webkit-transform: translate(89.9445vw, -10px) scale(0.3742);
          transform: translate(89.9445vw, -10px) scale(0.3742);
  -webkit-animation: fall-53 24s -16s linear infinite;
          animation: fall-53 24s -16s linear infinite;
}

@-webkit-keyframes fall-53 {
  79.412% {
    -webkit-transform: translate(96.6177vw, 79.412vh) scale(0.3742);
            transform: translate(96.6177vw, 79.412vh) scale(0.3742);
  }
  to {
    -webkit-transform: translate(93.2811vw, 100vh) scale(0.3742);
            transform: translate(93.2811vw, 100vh) scale(0.3742);
  }
}

@keyframes fall-53 {
  79.412% {
    -webkit-transform: translate(96.6177vw, 79.412vh) scale(0.3742);
            transform: translate(96.6177vw, 79.412vh) scale(0.3742);
  }
  to {
    -webkit-transform: translate(93.2811vw, 100vh) scale(0.3742);
            transform: translate(93.2811vw, 100vh) scale(0.3742);
  }
}

.snow:nth-child(54) {
  opacity: 0.4632;
  -webkit-transform: translate(30.922vw, -10px) scale(0.8441);
          transform: translate(30.922vw, -10px) scale(0.8441);
  -webkit-animation: fall-54 20s -21s linear infinite;
          animation: fall-54 20s -21s linear infinite;
}

@-webkit-keyframes fall-54 {
  72.725% {
    -webkit-transform: translate(22.5211vw, 72.725vh) scale(0.8441);
            transform: translate(22.5211vw, 72.725vh) scale(0.8441);
  }
  to {
    -webkit-transform: translate(26.72155vw, 100vh) scale(0.8441);
            transform: translate(26.72155vw, 100vh) scale(0.8441);
  }
}

@keyframes fall-54 {
  72.725% {
    -webkit-transform: translate(22.5211vw, 72.725vh) scale(0.8441);
            transform: translate(22.5211vw, 72.725vh) scale(0.8441);
  }
  to {
    -webkit-transform: translate(26.72155vw, 100vh) scale(0.8441);
            transform: translate(26.72155vw, 100vh) scale(0.8441);
  }
}

.snow:nth-child(55) {
  opacity: 0.8555;
  -webkit-transform: translate(9.8256vw, -10px) scale(0.2497);
          transform: translate(9.8256vw, -10px) scale(0.2497);
  -webkit-animation: fall-55 15s -12s linear infinite;
          animation: fall-55 15s -12s linear infinite;
}

@-webkit-keyframes fall-55 {
  55.964% {
    -webkit-transform: translate(9.5847vw, 55.964vh) scale(0.2497);
            transform: translate(9.5847vw, 55.964vh) scale(0.2497);
  }
  to {
    -webkit-transform: translate(9.70515vw, 100vh) scale(0.2497);
            transform: translate(9.70515vw, 100vh) scale(0.2497);
  }
}

@keyframes fall-55 {
  55.964% {
    -webkit-transform: translate(9.5847vw, 55.964vh) scale(0.2497);
            transform: translate(9.5847vw, 55.964vh) scale(0.2497);
  }
  to {
    -webkit-transform: translate(9.70515vw, 100vh) scale(0.2497);
            transform: translate(9.70515vw, 100vh) scale(0.2497);
  }
}

.snow:nth-child(56) {
  opacity: 0.8862;
  -webkit-transform: translate(79.3895vw, -10px) scale(0.7809);
          transform: translate(79.3895vw, -10px) scale(0.7809);
  -webkit-animation: fall-56 30s -22s linear infinite;
          animation: fall-56 30s -22s linear infinite;
}

@-webkit-keyframes fall-56 {
  77.988% {
    -webkit-transform: translate(79.1122vw, 77.988vh) scale(0.7809);
            transform: translate(79.1122vw, 77.988vh) scale(0.7809);
  }
  to {
    -webkit-transform: translate(79.25085vw, 100vh) scale(0.7809);
            transform: translate(79.25085vw, 100vh) scale(0.7809);
  }
}

@keyframes fall-56 {
  77.988% {
    -webkit-transform: translate(79.1122vw, 77.988vh) scale(0.7809);
            transform: translate(79.1122vw, 77.988vh) scale(0.7809);
  }
  to {
    -webkit-transform: translate(79.25085vw, 100vh) scale(0.7809);
            transform: translate(79.25085vw, 100vh) scale(0.7809);
  }
}

.snow:nth-child(57) {
  opacity: 0.4895;
  -webkit-transform: translate(26.351vw, -10px) scale(0.9525);
          transform: translate(26.351vw, -10px) scale(0.9525);
  -webkit-animation: fall-57 29s -24s linear infinite;
          animation: fall-57 29s -24s linear infinite;
}

@-webkit-keyframes fall-57 {
  51.468% {
    -webkit-transform: translate(21.0757vw, 51.468vh) scale(0.9525);
            transform: translate(21.0757vw, 51.468vh) scale(0.9525);
  }
  to {
    -webkit-transform: translate(23.71335vw, 100vh) scale(0.9525);
            transform: translate(23.71335vw, 100vh) scale(0.9525);
  }
}

@keyframes fall-57 {
  51.468% {
    -webkit-transform: translate(21.0757vw, 51.468vh) scale(0.9525);
            transform: translate(21.0757vw, 51.468vh) scale(0.9525);
  }
  to {
    -webkit-transform: translate(23.71335vw, 100vh) scale(0.9525);
            transform: translate(23.71335vw, 100vh) scale(0.9525);
  }
}

.snow:nth-child(58) {
  opacity: 0.6192;
  -webkit-transform: translate(91.3733vw, -10px) scale(0.7436);
          transform: translate(91.3733vw, -10px) scale(0.7436);
  -webkit-animation: fall-58 30s -3s linear infinite;
          animation: fall-58 30s -3s linear infinite;
}

@-webkit-keyframes fall-58 {
  30.042% {
    -webkit-transform: translate(92.5074vw, 30.042vh) scale(0.7436);
            transform: translate(92.5074vw, 30.042vh) scale(0.7436);
  }
  to {
    -webkit-transform: translate(91.94035vw, 100vh) scale(0.7436);
            transform: translate(91.94035vw, 100vh) scale(0.7436);
  }
}

@keyframes fall-58 {
  30.042% {
    -webkit-transform: translate(92.5074vw, 30.042vh) scale(0.7436);
            transform: translate(92.5074vw, 30.042vh) scale(0.7436);
  }
  to {
    -webkit-transform: translate(91.94035vw, 100vh) scale(0.7436);
            transform: translate(91.94035vw, 100vh) scale(0.7436);
  }
}

.snow:nth-child(59) {
  opacity: 0.7475;
  -webkit-transform: translate(8.0538vw, -10px) scale(0.0238);
          transform: translate(8.0538vw, -10px) scale(0.0238);
  -webkit-animation: fall-59 11s -8s linear infinite;
          animation: fall-59 11s -8s linear infinite;
}

@-webkit-keyframes fall-59 {
  62.095% {
    -webkit-transform: translate(9.8906vw, 62.095vh) scale(0.0238);
            transform: translate(9.8906vw, 62.095vh) scale(0.0238);
  }
  to {
    -webkit-transform: translate(8.9722vw, 100vh) scale(0.0238);
            transform: translate(8.9722vw, 100vh) scale(0.0238);
  }
}

@keyframes fall-59 {
  62.095% {
    -webkit-transform: translate(9.8906vw, 62.095vh) scale(0.0238);
            transform: translate(9.8906vw, 62.095vh) scale(0.0238);
  }
  to {
    -webkit-transform: translate(8.9722vw, 100vh) scale(0.0238);
            transform: translate(8.9722vw, 100vh) scale(0.0238);
  }
}

.snow:nth-child(60) {
  opacity: 0.2122;
  -webkit-transform: translate(49.9885vw, -10px) scale(0.2012);
          transform: translate(49.9885vw, -10px) scale(0.2012);
  -webkit-animation: fall-60 11s -20s linear infinite;
          animation: fall-60 11s -20s linear infinite;
}

@-webkit-keyframes fall-60 {
  74.57% {
    -webkit-transform: translate(52.6136vw, 74.57vh) scale(0.2012);
            transform: translate(52.6136vw, 74.57vh) scale(0.2012);
  }
  to {
    -webkit-transform: translate(51.30105vw, 100vh) scale(0.2012);
            transform: translate(51.30105vw, 100vh) scale(0.2012);
  }
}

@keyframes fall-60 {
  74.57% {
    -webkit-transform: translate(52.6136vw, 74.57vh) scale(0.2012);
            transform: translate(52.6136vw, 74.57vh) scale(0.2012);
  }
  to {
    -webkit-transform: translate(51.30105vw, 100vh) scale(0.2012);
            transform: translate(51.30105vw, 100vh) scale(0.2012);
  }
}

.snow:nth-child(61) {
  opacity: 0.9771;
  -webkit-transform: translate(48.0479vw, -10px) scale(0.5798);
          transform: translate(48.0479vw, -10px) scale(0.5798);
  -webkit-animation: fall-61 19s -13s linear infinite;
          animation: fall-61 19s -13s linear infinite;
}

@-webkit-keyframes fall-61 {
  43.919% {
    -webkit-transform: translate(43.7802vw, 43.919vh) scale(0.5798);
            transform: translate(43.7802vw, 43.919vh) scale(0.5798);
  }
  to {
    -webkit-transform: translate(45.91405vw, 100vh) scale(0.5798);
            transform: translate(45.91405vw, 100vh) scale(0.5798);
  }
}

@keyframes fall-61 {
  43.919% {
    -webkit-transform: translate(43.7802vw, 43.919vh) scale(0.5798);
            transform: translate(43.7802vw, 43.919vh) scale(0.5798);
  }
  to {
    -webkit-transform: translate(45.91405vw, 100vh) scale(0.5798);
            transform: translate(45.91405vw, 100vh) scale(0.5798);
  }
}

.snow:nth-child(62) {
  opacity: 0.1882;
  -webkit-transform: translate(7.8948vw, -10px) scale(0.3278);
          transform: translate(7.8948vw, -10px) scale(0.3278);
  -webkit-animation: fall-62 20s -29s linear infinite;
          animation: fall-62 20s -29s linear infinite;
}

@-webkit-keyframes fall-62 {
  41.237% {
    -webkit-transform: translate(15.8691vw, 41.237vh) scale(0.3278);
            transform: translate(15.8691vw, 41.237vh) scale(0.3278);
  }
  to {
    -webkit-transform: translate(11.88195vw, 100vh) scale(0.3278);
            transform: translate(11.88195vw, 100vh) scale(0.3278);
  }
}

@keyframes fall-62 {
  41.237% {
    -webkit-transform: translate(15.8691vw, 41.237vh) scale(0.3278);
            transform: translate(15.8691vw, 41.237vh) scale(0.3278);
  }
  to {
    -webkit-transform: translate(11.88195vw, 100vh) scale(0.3278);
            transform: translate(11.88195vw, 100vh) scale(0.3278);
  }
}

.snow:nth-child(63) {
  opacity: 0.5282;
  -webkit-transform: translate(82.0502vw, -10px) scale(0.8823);
          transform: translate(82.0502vw, -10px) scale(0.8823);
  -webkit-animation: fall-63 18s -8s linear infinite;
          animation: fall-63 18s -8s linear infinite;
}

@-webkit-keyframes fall-63 {
  43.662% {
    -webkit-transform: translate(79.6435vw, 43.662vh) scale(0.8823);
            transform: translate(79.6435vw, 43.662vh) scale(0.8823);
  }
  to {
    -webkit-transform: translate(80.84685vw, 100vh) scale(0.8823);
            transform: translate(80.84685vw, 100vh) scale(0.8823);
  }
}

@keyframes fall-63 {
  43.662% {
    -webkit-transform: translate(79.6435vw, 43.662vh) scale(0.8823);
            transform: translate(79.6435vw, 43.662vh) scale(0.8823);
  }
  to {
    -webkit-transform: translate(80.84685vw, 100vh) scale(0.8823);
            transform: translate(80.84685vw, 100vh) scale(0.8823);
  }
}

.snow:nth-child(64) {
  opacity: 0.2038;
  -webkit-transform: translate(81.0107vw, -10px) scale(0.6817);
          transform: translate(81.0107vw, -10px) scale(0.6817);
  -webkit-animation: fall-64 17s -24s linear infinite;
          animation: fall-64 17s -24s linear infinite;
}

@-webkit-keyframes fall-64 {
  46.496% {
    -webkit-transform: translate(84.2714vw, 46.496vh) scale(0.6817);
            transform: translate(84.2714vw, 46.496vh) scale(0.6817);
  }
  to {
    -webkit-transform: translate(82.64105vw, 100vh) scale(0.6817);
            transform: translate(82.64105vw, 100vh) scale(0.6817);
  }
}

@keyframes fall-64 {
  46.496% {
    -webkit-transform: translate(84.2714vw, 46.496vh) scale(0.6817);
            transform: translate(84.2714vw, 46.496vh) scale(0.6817);
  }
  to {
    -webkit-transform: translate(82.64105vw, 100vh) scale(0.6817);
            transform: translate(82.64105vw, 100vh) scale(0.6817);
  }
}

.snow:nth-child(65) {
  opacity: 0.6822;
  -webkit-transform: translate(28.1167vw, -10px) scale(0.7368);
          transform: translate(28.1167vw, -10px) scale(0.7368);
  -webkit-animation: fall-65 16s -7s linear infinite;
          animation: fall-65 16s -7s linear infinite;
}

@-webkit-keyframes fall-65 {
  42.635% {
    -webkit-transform: translate(20.1955vw, 42.635vh) scale(0.7368);
            transform: translate(20.1955vw, 42.635vh) scale(0.7368);
  }
  to {
    -webkit-transform: translate(24.1561vw, 100vh) scale(0.7368);
            transform: translate(24.1561vw, 100vh) scale(0.7368);
  }
}

@keyframes fall-65 {
  42.635% {
    -webkit-transform: translate(20.1955vw, 42.635vh) scale(0.7368);
            transform: translate(20.1955vw, 42.635vh) scale(0.7368);
  }
  to {
    -webkit-transform: translate(24.1561vw, 100vh) scale(0.7368);
            transform: translate(24.1561vw, 100vh) scale(0.7368);
  }
}

.snow:nth-child(66) {
  opacity: 0.2444;
  -webkit-transform: translate(93.7018vw, -10px) scale(0.2981);
          transform: translate(93.7018vw, -10px) scale(0.2981);
  -webkit-animation: fall-66 26s -25s linear infinite;
          animation: fall-66 26s -25s linear infinite;
}

@-webkit-keyframes fall-66 {
  60.385% {
    -webkit-transform: translate(98.3468vw, 60.385vh) scale(0.2981);
            transform: translate(98.3468vw, 60.385vh) scale(0.2981);
  }
  to {
    -webkit-transform: translate(96.0243vw, 100vh) scale(0.2981);
            transform: translate(96.0243vw, 100vh) scale(0.2981);
  }
}

@keyframes fall-66 {
  60.385% {
    -webkit-transform: translate(98.3468vw, 60.385vh) scale(0.2981);
            transform: translate(98.3468vw, 60.385vh) scale(0.2981);
  }
  to {
    -webkit-transform: translate(96.0243vw, 100vh) scale(0.2981);
            transform: translate(96.0243vw, 100vh) scale(0.2981);
  }
}

.snow:nth-child(67) {
  opacity: 0.461;
  -webkit-transform: translate(22.9893vw, -10px) scale(0.8174);
          transform: translate(22.9893vw, -10px) scale(0.8174);
  -webkit-animation: fall-67 30s -2s linear infinite;
          animation: fall-67 30s -2s linear infinite;
}

@-webkit-keyframes fall-67 {
  72.652% {
    -webkit-transform: translate(25.1689vw, 72.652vh) scale(0.8174);
            transform: translate(25.1689vw, 72.652vh) scale(0.8174);
  }
  to {
    -webkit-transform: translate(24.0791vw, 100vh) scale(0.8174);
            transform: translate(24.0791vw, 100vh) scale(0.8174);
  }
}

@keyframes fall-67 {
  72.652% {
    -webkit-transform: translate(25.1689vw, 72.652vh) scale(0.8174);
            transform: translate(25.1689vw, 72.652vh) scale(0.8174);
  }
  to {
    -webkit-transform: translate(24.0791vw, 100vh) scale(0.8174);
            transform: translate(24.0791vw, 100vh) scale(0.8174);
  }
}

.snow:nth-child(68) {
  opacity: 0.8736;
  -webkit-transform: translate(63.0564vw, -10px) scale(0.0736);
          transform: translate(63.0564vw, -10px) scale(0.0736);
  -webkit-animation: fall-68 13s -7s linear infinite;
          animation: fall-68 13s -7s linear infinite;
}

@-webkit-keyframes fall-68 {
  39.354% {
    -webkit-transform: translate(60.5531vw, 39.354vh) scale(0.0736);
            transform: translate(60.5531vw, 39.354vh) scale(0.0736);
  }
  to {
    -webkit-transform: translate(61.80475vw, 100vh) scale(0.0736);
            transform: translate(61.80475vw, 100vh) scale(0.0736);
  }
}

@keyframes fall-68 {
  39.354% {
    -webkit-transform: translate(60.5531vw, 39.354vh) scale(0.0736);
            transform: translate(60.5531vw, 39.354vh) scale(0.0736);
  }
  to {
    -webkit-transform: translate(61.80475vw, 100vh) scale(0.0736);
            transform: translate(61.80475vw, 100vh) scale(0.0736);
  }
}

.snow:nth-child(69) {
  opacity: 0.8531;
  -webkit-transform: translate(79.2191vw, -10px) scale(0.4053);
          transform: translate(79.2191vw, -10px) scale(0.4053);
  -webkit-animation: fall-69 15s -14s linear infinite;
          animation: fall-69 15s -14s linear infinite;
}

@-webkit-keyframes fall-69 {
  48.254% {
    -webkit-transform: translate(70.6727vw, 48.254vh) scale(0.4053);
            transform: translate(70.6727vw, 48.254vh) scale(0.4053);
  }
  to {
    -webkit-transform: translate(74.9459vw, 100vh) scale(0.4053);
            transform: translate(74.9459vw, 100vh) scale(0.4053);
  }
}

@keyframes fall-69 {
  48.254% {
    -webkit-transform: translate(70.6727vw, 48.254vh) scale(0.4053);
            transform: translate(70.6727vw, 48.254vh) scale(0.4053);
  }
  to {
    -webkit-transform: translate(74.9459vw, 100vh) scale(0.4053);
            transform: translate(74.9459vw, 100vh) scale(0.4053);
  }
}

.snow:nth-child(70) {
  opacity: 0.3979;
  -webkit-transform: translate(31.6361vw, -10px) scale(0.998);
          transform: translate(31.6361vw, -10px) scale(0.998);
  -webkit-animation: fall-70 12s -24s linear infinite;
          animation: fall-70 12s -24s linear infinite;
}

@-webkit-keyframes fall-70 {
  78.717% {
    -webkit-transform: translate(34.3404vw, 78.717vh) scale(0.998);
            transform: translate(34.3404vw, 78.717vh) scale(0.998);
  }
  to {
    -webkit-transform: translate(32.98825vw, 100vh) scale(0.998);
            transform: translate(32.98825vw, 100vh) scale(0.998);
  }
}

@keyframes fall-70 {
  78.717% {
    -webkit-transform: translate(34.3404vw, 78.717vh) scale(0.998);
            transform: translate(34.3404vw, 78.717vh) scale(0.998);
  }
  to {
    -webkit-transform: translate(32.98825vw, 100vh) scale(0.998);
            transform: translate(32.98825vw, 100vh) scale(0.998);
  }
}

.snow:nth-child(71) {
  opacity: 0.7686;
  -webkit-transform: translate(17.3159vw, -10px) scale(0.1249);
          transform: translate(17.3159vw, -10px) scale(0.1249);
  -webkit-animation: fall-71 10s -30s linear infinite;
          animation: fall-71 10s -30s linear infinite;
}

@-webkit-keyframes fall-71 {
  79.434% {
    -webkit-transform: translate(11.909vw, 79.434vh) scale(0.1249);
            transform: translate(11.909vw, 79.434vh) scale(0.1249);
  }
  to {
    -webkit-transform: translate(14.61245vw, 100vh) scale(0.1249);
            transform: translate(14.61245vw, 100vh) scale(0.1249);
  }
}

@keyframes fall-71 {
  79.434% {
    -webkit-transform: translate(11.909vw, 79.434vh) scale(0.1249);
            transform: translate(11.909vw, 79.434vh) scale(0.1249);
  }
  to {
    -webkit-transform: translate(14.61245vw, 100vh) scale(0.1249);
            transform: translate(14.61245vw, 100vh) scale(0.1249);
  }
}

.snow:nth-child(72) {
  opacity: 0.2795;
  -webkit-transform: translate(65.0818vw, -10px) scale(0.7306);
          transform: translate(65.0818vw, -10px) scale(0.7306);
  -webkit-animation: fall-72 11s -28s linear infinite;
          animation: fall-72 11s -28s linear infinite;
}

@-webkit-keyframes fall-72 {
  37.475% {
    -webkit-transform: translate(69.5517vw, 37.475vh) scale(0.7306);
            transform: translate(69.5517vw, 37.475vh) scale(0.7306);
  }
  to {
    -webkit-transform: translate(67.31675vw, 100vh) scale(0.7306);
            transform: translate(67.31675vw, 100vh) scale(0.7306);
  }
}

@keyframes fall-72 {
  37.475% {
    -webkit-transform: translate(69.5517vw, 37.475vh) scale(0.7306);
            transform: translate(69.5517vw, 37.475vh) scale(0.7306);
  }
  to {
    -webkit-transform: translate(67.31675vw, 100vh) scale(0.7306);
            transform: translate(67.31675vw, 100vh) scale(0.7306);
  }
}

.snow:nth-child(73) {
  opacity: 0.669;
  -webkit-transform: translate(22.225vw, -10px) scale(0.8032);
          transform: translate(22.225vw, -10px) scale(0.8032);
  -webkit-animation: fall-73 26s -7s linear infinite;
          animation: fall-73 26s -7s linear infinite;
}

@-webkit-keyframes fall-73 {
  63.277% {
    -webkit-transform: translate(24.1175vw, 63.277vh) scale(0.8032);
            transform: translate(24.1175vw, 63.277vh) scale(0.8032);
  }
  to {
    -webkit-transform: translate(23.17125vw, 100vh) scale(0.8032);
            transform: translate(23.17125vw, 100vh) scale(0.8032);
  }
}

@keyframes fall-73 {
  63.277% {
    -webkit-transform: translate(24.1175vw, 63.277vh) scale(0.8032);
            transform: translate(24.1175vw, 63.277vh) scale(0.8032);
  }
  to {
    -webkit-transform: translate(23.17125vw, 100vh) scale(0.8032);
            transform: translate(23.17125vw, 100vh) scale(0.8032);
  }
}

.snow:nth-child(74) {
  opacity: 0.8264;
  -webkit-transform: translate(96.98vw, -10px) scale(0.7663);
          transform: translate(96.98vw, -10px) scale(0.7663);
  -webkit-animation: fall-74 25s -25s linear infinite;
          animation: fall-74 25s -25s linear infinite;
}

@-webkit-keyframes fall-74 {
  54.17% {
    -webkit-transform: translate(90.9438vw, 54.17vh) scale(0.7663);
            transform: translate(90.9438vw, 54.17vh) scale(0.7663);
  }
  to {
    -webkit-transform: translate(93.9619vw, 100vh) scale(0.7663);
            transform: translate(93.9619vw, 100vh) scale(0.7663);
  }
}

@keyframes fall-74 {
  54.17% {
    -webkit-transform: translate(90.9438vw, 54.17vh) scale(0.7663);
            transform: translate(90.9438vw, 54.17vh) scale(0.7663);
  }
  to {
    -webkit-transform: translate(93.9619vw, 100vh) scale(0.7663);
            transform: translate(93.9619vw, 100vh) scale(0.7663);
  }
}

.snow:nth-child(75) {
  opacity: 0.1792;
  -webkit-transform: translate(48.4705vw, -10px) scale(0.5061);
          transform: translate(48.4705vw, -10px) scale(0.5061);
  -webkit-animation: fall-75 30s -30s linear infinite;
          animation: fall-75 30s -30s linear infinite;
}

@-webkit-keyframes fall-75 {
  73.506% {
    -webkit-transform: translate(45.7573vw, 73.506vh) scale(0.5061);
            transform: translate(45.7573vw, 73.506vh) scale(0.5061);
  }
  to {
    -webkit-transform: translate(47.1139vw, 100vh) scale(0.5061);
            transform: translate(47.1139vw, 100vh) scale(0.5061);
  }
}

@keyframes fall-75 {
  73.506% {
    -webkit-transform: translate(45.7573vw, 73.506vh) scale(0.5061);
            transform: translate(45.7573vw, 73.506vh) scale(0.5061);
  }
  to {
    -webkit-transform: translate(47.1139vw, 100vh) scale(0.5061);
            transform: translate(47.1139vw, 100vh) scale(0.5061);
  }
}

.snow:nth-child(76) {
  opacity: 0.5829;
  -webkit-transform: translate(95.3063vw, -10px) scale(0.394);
          transform: translate(95.3063vw, -10px) scale(0.394);
  -webkit-animation: fall-76 17s -15s linear infinite;
          animation: fall-76 17s -15s linear infinite;
}

@-webkit-keyframes fall-76 {
  57.834% {
    -webkit-transform: translate(88.8079vw, 57.834vh) scale(0.394);
            transform: translate(88.8079vw, 57.834vh) scale(0.394);
  }
  to {
    -webkit-transform: translate(92.0571vw, 100vh) scale(0.394);
            transform: translate(92.0571vw, 100vh) scale(0.394);
  }
}

@keyframes fall-76 {
  57.834% {
    -webkit-transform: translate(88.8079vw, 57.834vh) scale(0.394);
            transform: translate(88.8079vw, 57.834vh) scale(0.394);
  }
  to {
    -webkit-transform: translate(92.0571vw, 100vh) scale(0.394);
            transform: translate(92.0571vw, 100vh) scale(0.394);
  }
}

.snow:nth-child(77) {
  opacity: 0.0267;
  -webkit-transform: translate(48.8416vw, -10px) scale(0.6823);
          transform: translate(48.8416vw, -10px) scale(0.6823);
  -webkit-animation: fall-77 12s -24s linear infinite;
          animation: fall-77 12s -24s linear infinite;
}

@-webkit-keyframes fall-77 {
  79.37% {
    -webkit-transform: translate(51.0382vw, 79.37vh) scale(0.6823);
            transform: translate(51.0382vw, 79.37vh) scale(0.6823);
  }
  to {
    -webkit-transform: translate(49.9399vw, 100vh) scale(0.6823);
            transform: translate(49.9399vw, 100vh) scale(0.6823);
  }
}

@keyframes fall-77 {
  79.37% {
    -webkit-transform: translate(51.0382vw, 79.37vh) scale(0.6823);
            transform: translate(51.0382vw, 79.37vh) scale(0.6823);
  }
  to {
    -webkit-transform: translate(49.9399vw, 100vh) scale(0.6823);
            transform: translate(49.9399vw, 100vh) scale(0.6823);
  }
}

.snow:nth-child(78) {
  opacity: 0.9855;
  -webkit-transform: translate(99.7431vw, -10px) scale(0.7672);
          transform: translate(99.7431vw, -10px) scale(0.7672);
  -webkit-animation: fall-78 10s -24s linear infinite;
          animation: fall-78 10s -24s linear infinite;
}

@-webkit-keyframes fall-78 {
  38.797% {
    -webkit-transform: translate(91.0248vw, 38.797vh) scale(0.7672);
            transform: translate(91.0248vw, 38.797vh) scale(0.7672);
  }
  to {
    -webkit-transform: translate(95.38395vw, 100vh) scale(0.7672);
            transform: translate(95.38395vw, 100vh) scale(0.7672);
  }
}

@keyframes fall-78 {
  38.797% {
    -webkit-transform: translate(91.0248vw, 38.797vh) scale(0.7672);
            transform: translate(91.0248vw, 38.797vh) scale(0.7672);
  }
  to {
    -webkit-transform: translate(95.38395vw, 100vh) scale(0.7672);
            transform: translate(95.38395vw, 100vh) scale(0.7672);
  }
}

.snow:nth-child(79) {
  opacity: 0.8661;
  -webkit-transform: translate(14.4614vw, -10px) scale(0.6162);
          transform: translate(14.4614vw, -10px) scale(0.6162);
  -webkit-animation: fall-79 21s -11s linear infinite;
          animation: fall-79 21s -11s linear infinite;
}

@-webkit-keyframes fall-79 {
  58.319% {
    -webkit-transform: translate(24.4306vw, 58.319vh) scale(0.6162);
            transform: translate(24.4306vw, 58.319vh) scale(0.6162);
  }
  to {
    -webkit-transform: translate(19.446vw, 100vh) scale(0.6162);
            transform: translate(19.446vw, 100vh) scale(0.6162);
  }
}

@keyframes fall-79 {
  58.319% {
    -webkit-transform: translate(24.4306vw, 58.319vh) scale(0.6162);
            transform: translate(24.4306vw, 58.319vh) scale(0.6162);
  }
  to {
    -webkit-transform: translate(19.446vw, 100vh) scale(0.6162);
            transform: translate(19.446vw, 100vh) scale(0.6162);
  }
}

.snow:nth-child(80) {
  opacity: 0.7538;
  -webkit-transform: translate(86.3378vw, -10px) scale(0.8356);
          transform: translate(86.3378vw, -10px) scale(0.8356);
  -webkit-animation: fall-80 29s -3s linear infinite;
          animation: fall-80 29s -3s linear infinite;
}

@-webkit-keyframes fall-80 {
  50.855% {
    -webkit-transform: translate(92.5934vw, 50.855vh) scale(0.8356);
            transform: translate(92.5934vw, 50.855vh) scale(0.8356);
  }
  to {
    -webkit-transform: translate(89.4656vw, 100vh) scale(0.8356);
            transform: translate(89.4656vw, 100vh) scale(0.8356);
  }
}

@keyframes fall-80 {
  50.855% {
    -webkit-transform: translate(92.5934vw, 50.855vh) scale(0.8356);
            transform: translate(92.5934vw, 50.855vh) scale(0.8356);
  }
  to {
    -webkit-transform: translate(89.4656vw, 100vh) scale(0.8356);
            transform: translate(89.4656vw, 100vh) scale(0.8356);
  }
}

.snow:nth-child(81) {
  opacity: 0.8153;
  -webkit-transform: translate(29.1418vw, -10px) scale(0.8529);
          transform: translate(29.1418vw, -10px) scale(0.8529);
  -webkit-animation: fall-81 28s -6s linear infinite;
          animation: fall-81 28s -6s linear infinite;
}

@-webkit-keyframes fall-81 {
  69.634% {
    -webkit-transform: translate(36.7589vw, 69.634vh) scale(0.8529);
            transform: translate(36.7589vw, 69.634vh) scale(0.8529);
  }
  to {
    -webkit-transform: translate(32.95035vw, 100vh) scale(0.8529);
            transform: translate(32.95035vw, 100vh) scale(0.8529);
  }
}

@keyframes fall-81 {
  69.634% {
    -webkit-transform: translate(36.7589vw, 69.634vh) scale(0.8529);
            transform: translate(36.7589vw, 69.634vh) scale(0.8529);
  }
  to {
    -webkit-transform: translate(32.95035vw, 100vh) scale(0.8529);
            transform: translate(32.95035vw, 100vh) scale(0.8529);
  }
}

.snow:nth-child(82) {
  opacity: 0.8345;
  -webkit-transform: translate(9.6674vw, -10px) scale(0.9496);
          transform: translate(9.6674vw, -10px) scale(0.9496);
  -webkit-animation: fall-82 21s -10s linear infinite;
          animation: fall-82 21s -10s linear infinite;
}

@-webkit-keyframes fall-82 {
  52.418% {
    -webkit-transform: translate(11.4082vw, 52.418vh) scale(0.9496);
            transform: translate(11.4082vw, 52.418vh) scale(0.9496);
  }
  to {
    -webkit-transform: translate(10.5378vw, 100vh) scale(0.9496);
            transform: translate(10.5378vw, 100vh) scale(0.9496);
  }
}

@keyframes fall-82 {
  52.418% {
    -webkit-transform: translate(11.4082vw, 52.418vh) scale(0.9496);
            transform: translate(11.4082vw, 52.418vh) scale(0.9496);
  }
  to {
    -webkit-transform: translate(10.5378vw, 100vh) scale(0.9496);
            transform: translate(10.5378vw, 100vh) scale(0.9496);
  }
}

.snow:nth-child(83) {
  opacity: 0.7146;
  -webkit-transform: translate(52.3174vw, -10px) scale(0.9131);
          transform: translate(52.3174vw, -10px) scale(0.9131);
  -webkit-animation: fall-83 27s -4s linear infinite;
          animation: fall-83 27s -4s linear infinite;
}

@-webkit-keyframes fall-83 {
  61.226% {
    -webkit-transform: translate(49.7805vw, 61.226vh) scale(0.9131);
            transform: translate(49.7805vw, 61.226vh) scale(0.9131);
  }
  to {
    -webkit-transform: translate(51.04895vw, 100vh) scale(0.9131);
            transform: translate(51.04895vw, 100vh) scale(0.9131);
  }
}

@keyframes fall-83 {
  61.226% {
    -webkit-transform: translate(49.7805vw, 61.226vh) scale(0.9131);
            transform: translate(49.7805vw, 61.226vh) scale(0.9131);
  }
  to {
    -webkit-transform: translate(51.04895vw, 100vh) scale(0.9131);
            transform: translate(51.04895vw, 100vh) scale(0.9131);
  }
}

.snow:nth-child(84) {
  opacity: 0.6399;
  -webkit-transform: translate(13.0718vw, -10px) scale(0.8722);
          transform: translate(13.0718vw, -10px) scale(0.8722);
  -webkit-animation: fall-84 20s -9s linear infinite;
          animation: fall-84 20s -9s linear infinite;
}

@-webkit-keyframes fall-84 {
  50.673% {
    -webkit-transform: translate(16.9831vw, 50.673vh) scale(0.8722);
            transform: translate(16.9831vw, 50.673vh) scale(0.8722);
  }
  to {
    -webkit-transform: translate(15.02745vw, 100vh) scale(0.8722);
            transform: translate(15.02745vw, 100vh) scale(0.8722);
  }
}

@keyframes fall-84 {
  50.673% {
    -webkit-transform: translate(16.9831vw, 50.673vh) scale(0.8722);
            transform: translate(16.9831vw, 50.673vh) scale(0.8722);
  }
  to {
    -webkit-transform: translate(15.02745vw, 100vh) scale(0.8722);
            transform: translate(15.02745vw, 100vh) scale(0.8722);
  }
}

.snow:nth-child(85) {
  opacity: 0.0539;
  -webkit-transform: translate(57.8962vw, -10px) scale(0.5123);
          transform: translate(57.8962vw, -10px) scale(0.5123);
  -webkit-animation: fall-85 14s -25s linear infinite;
          animation: fall-85 14s -25s linear infinite;
}

@-webkit-keyframes fall-85 {
  37.356% {
    -webkit-transform: translate(63.5211vw, 37.356vh) scale(0.5123);
            transform: translate(63.5211vw, 37.356vh) scale(0.5123);
  }
  to {
    -webkit-transform: translate(60.70865vw, 100vh) scale(0.5123);
            transform: translate(60.70865vw, 100vh) scale(0.5123);
  }
}

@keyframes fall-85 {
  37.356% {
    -webkit-transform: translate(63.5211vw, 37.356vh) scale(0.5123);
            transform: translate(63.5211vw, 37.356vh) scale(0.5123);
  }
  to {
    -webkit-transform: translate(60.70865vw, 100vh) scale(0.5123);
            transform: translate(60.70865vw, 100vh) scale(0.5123);
  }
}

.snow:nth-child(86) {
  opacity: 0.1268;
  -webkit-transform: translate(66.4251vw, -10px) scale(0.5777);
          transform: translate(66.4251vw, -10px) scale(0.5777);
  -webkit-animation: fall-86 18s -22s linear infinite;
          animation: fall-86 18s -22s linear infinite;
}

@-webkit-keyframes fall-86 {
  73.195% {
    -webkit-transform: translate(62.2695vw, 73.195vh) scale(0.5777);
            transform: translate(62.2695vw, 73.195vh) scale(0.5777);
  }
  to {
    -webkit-transform: translate(64.3473vw, 100vh) scale(0.5777);
            transform: translate(64.3473vw, 100vh) scale(0.5777);
  }
}

@keyframes fall-86 {
  73.195% {
    -webkit-transform: translate(62.2695vw, 73.195vh) scale(0.5777);
            transform: translate(62.2695vw, 73.195vh) scale(0.5777);
  }
  to {
    -webkit-transform: translate(64.3473vw, 100vh) scale(0.5777);
            transform: translate(64.3473vw, 100vh) scale(0.5777);
  }
}

.snow:nth-child(87) {
  opacity: 0.9964;
  -webkit-transform: translate(85.6094vw, -10px) scale(0.2763);
          transform: translate(85.6094vw, -10px) scale(0.2763);
  -webkit-animation: fall-87 21s -30s linear infinite;
          animation: fall-87 21s -30s linear infinite;
}

@-webkit-keyframes fall-87 {
  65.538% {
    -webkit-transform: translate(81.1628vw, 65.538vh) scale(0.2763);
            transform: translate(81.1628vw, 65.538vh) scale(0.2763);
  }
  to {
    -webkit-transform: translate(83.3861vw, 100vh) scale(0.2763);
            transform: translate(83.3861vw, 100vh) scale(0.2763);
  }
}

@keyframes fall-87 {
  65.538% {
    -webkit-transform: translate(81.1628vw, 65.538vh) scale(0.2763);
            transform: translate(81.1628vw, 65.538vh) scale(0.2763);
  }
  to {
    -webkit-transform: translate(83.3861vw, 100vh) scale(0.2763);
            transform: translate(83.3861vw, 100vh) scale(0.2763);
  }
}

.snow:nth-child(88) {
  opacity: 0.1999;
  -webkit-transform: translate(41.9834vw, -10px) scale(0.0574);
          transform: translate(41.9834vw, -10px) scale(0.0574);
  -webkit-animation: fall-88 24s -3s linear infinite;
          animation: fall-88 24s -3s linear infinite;
}

@-webkit-keyframes fall-88 {
  58.063% {
    -webkit-transform: translate(36.6431vw, 58.063vh) scale(0.0574);
            transform: translate(36.6431vw, 58.063vh) scale(0.0574);
  }
  to {
    -webkit-transform: translate(39.31325vw, 100vh) scale(0.0574);
            transform: translate(39.31325vw, 100vh) scale(0.0574);
  }
}

@keyframes fall-88 {
  58.063% {
    -webkit-transform: translate(36.6431vw, 58.063vh) scale(0.0574);
            transform: translate(36.6431vw, 58.063vh) scale(0.0574);
  }
  to {
    -webkit-transform: translate(39.31325vw, 100vh) scale(0.0574);
            transform: translate(39.31325vw, 100vh) scale(0.0574);
  }
}

.snow:nth-child(89) {
  opacity: 0.7098;
  -webkit-transform: translate(23.2163vw, -10px) scale(0.0168);
          transform: translate(23.2163vw, -10px) scale(0.0168);
  -webkit-animation: fall-89 13s -21s linear infinite;
          animation: fall-89 13s -21s linear infinite;
}

@-webkit-keyframes fall-89 {
  73.073% {
    -webkit-transform: translate(28.1286vw, 73.073vh) scale(0.0168);
            transform: translate(28.1286vw, 73.073vh) scale(0.0168);
  }
  to {
    -webkit-transform: translate(25.67245vw, 100vh) scale(0.0168);
            transform: translate(25.67245vw, 100vh) scale(0.0168);
  }
}

@keyframes fall-89 {
  73.073% {
    -webkit-transform: translate(28.1286vw, 73.073vh) scale(0.0168);
            transform: translate(28.1286vw, 73.073vh) scale(0.0168);
  }
  to {
    -webkit-transform: translate(25.67245vw, 100vh) scale(0.0168);
            transform: translate(25.67245vw, 100vh) scale(0.0168);
  }
}

.snow:nth-child(90) {
  opacity: 0.3597;
  -webkit-transform: translate(78.2991vw, -10px) scale(0.7405);
          transform: translate(78.2991vw, -10px) scale(0.7405);
  -webkit-animation: fall-90 12s -13s linear infinite;
          animation: fall-90 12s -13s linear infinite;
}

@-webkit-keyframes fall-90 {
  33.59% {
    -webkit-transform: translate(84.4577vw, 33.59vh) scale(0.7405);
            transform: translate(84.4577vw, 33.59vh) scale(0.7405);
  }
  to {
    -webkit-transform: translate(81.3784vw, 100vh) scale(0.7405);
            transform: translate(81.3784vw, 100vh) scale(0.7405);
  }
}

@keyframes fall-90 {
  33.59% {
    -webkit-transform: translate(84.4577vw, 33.59vh) scale(0.7405);
            transform: translate(84.4577vw, 33.59vh) scale(0.7405);
  }
  to {
    -webkit-transform: translate(81.3784vw, 100vh) scale(0.7405);
            transform: translate(81.3784vw, 100vh) scale(0.7405);
  }
}

.snow:nth-child(91) {
  opacity: 0.4998;
  -webkit-transform: translate(20.4246vw, -10px) scale(0.5161);
          transform: translate(20.4246vw, -10px) scale(0.5161);
  -webkit-animation: fall-91 18s -2s linear infinite;
          animation: fall-91 18s -2s linear infinite;
}

@-webkit-keyframes fall-91 {
  32.421% {
    -webkit-transform: translate(29.024vw, 32.421vh) scale(0.5161);
            transform: translate(29.024vw, 32.421vh) scale(0.5161);
  }
  to {
    -webkit-transform: translate(24.7243vw, 100vh) scale(0.5161);
            transform: translate(24.7243vw, 100vh) scale(0.5161);
  }
}

@keyframes fall-91 {
  32.421% {
    -webkit-transform: translate(29.024vw, 32.421vh) scale(0.5161);
            transform: translate(29.024vw, 32.421vh) scale(0.5161);
  }
  to {
    -webkit-transform: translate(24.7243vw, 100vh) scale(0.5161);
            transform: translate(24.7243vw, 100vh) scale(0.5161);
  }
}

.snow:nth-child(92) {
  opacity: 0.5377;
  -webkit-transform: translate(94.2603vw, -10px) scale(0.7519);
          transform: translate(94.2603vw, -10px) scale(0.7519);
  -webkit-animation: fall-92 21s -24s linear infinite;
          animation: fall-92 21s -24s linear infinite;
}

@-webkit-keyframes fall-92 {
  74.287% {
    -webkit-transform: translate(96.7437vw, 74.287vh) scale(0.7519);
            transform: translate(96.7437vw, 74.287vh) scale(0.7519);
  }
  to {
    -webkit-transform: translate(95.502vw, 100vh) scale(0.7519);
            transform: translate(95.502vw, 100vh) scale(0.7519);
  }
}

@keyframes fall-92 {
  74.287% {
    -webkit-transform: translate(96.7437vw, 74.287vh) scale(0.7519);
            transform: translate(96.7437vw, 74.287vh) scale(0.7519);
  }
  to {
    -webkit-transform: translate(95.502vw, 100vh) scale(0.7519);
            transform: translate(95.502vw, 100vh) scale(0.7519);
  }
}

.snow:nth-child(93) {
  opacity: 0.2749;
  -webkit-transform: translate(63.317vw, -10px) scale(0.8952);
          transform: translate(63.317vw, -10px) scale(0.8952);
  -webkit-animation: fall-93 21s -25s linear infinite;
          animation: fall-93 21s -25s linear infinite;
}

@-webkit-keyframes fall-93 {
  74.612% {
    -webkit-transform: translate(71.6999vw, 74.612vh) scale(0.8952);
            transform: translate(71.6999vw, 74.612vh) scale(0.8952);
  }
  to {
    -webkit-transform: translate(67.50845vw, 100vh) scale(0.8952);
            transform: translate(67.50845vw, 100vh) scale(0.8952);
  }
}

@keyframes fall-93 {
  74.612% {
    -webkit-transform: translate(71.6999vw, 74.612vh) scale(0.8952);
            transform: translate(71.6999vw, 74.612vh) scale(0.8952);
  }
  to {
    -webkit-transform: translate(67.50845vw, 100vh) scale(0.8952);
            transform: translate(67.50845vw, 100vh) scale(0.8952);
  }
}

.snow:nth-child(94) {
  opacity: 0.786;
  -webkit-transform: translate(40.348vw, -10px) scale(0.9504);
          transform: translate(40.348vw, -10px) scale(0.9504);
  -webkit-animation: fall-94 25s -12s linear infinite;
          animation: fall-94 25s -12s linear infinite;
}

@-webkit-keyframes fall-94 {
  73.389% {
    -webkit-transform: translate(36.5274vw, 73.389vh) scale(0.9504);
            transform: translate(36.5274vw, 73.389vh) scale(0.9504);
  }
  to {
    -webkit-transform: translate(38.4377vw, 100vh) scale(0.9504);
            transform: translate(38.4377vw, 100vh) scale(0.9504);
  }
}

@keyframes fall-94 {
  73.389% {
    -webkit-transform: translate(36.5274vw, 73.389vh) scale(0.9504);
            transform: translate(36.5274vw, 73.389vh) scale(0.9504);
  }
  to {
    -webkit-transform: translate(38.4377vw, 100vh) scale(0.9504);
            transform: translate(38.4377vw, 100vh) scale(0.9504);
  }
}

.snow:nth-child(95) {
  opacity: 0.2882;
  -webkit-transform: translate(18.5664vw, -10px) scale(0.5498);
          transform: translate(18.5664vw, -10px) scale(0.5498);
  -webkit-animation: fall-95 21s -20s linear infinite;
          animation: fall-95 21s -20s linear infinite;
}

@-webkit-keyframes fall-95 {
  50.438% {
    -webkit-transform: translate(11.4627vw, 50.438vh) scale(0.5498);
            transform: translate(11.4627vw, 50.438vh) scale(0.5498);
  }
  to {
    -webkit-transform: translate(15.01455vw, 100vh) scale(0.5498);
            transform: translate(15.01455vw, 100vh) scale(0.5498);
  }
}

@keyframes fall-95 {
  50.438% {
    -webkit-transform: translate(11.4627vw, 50.438vh) scale(0.5498);
            transform: translate(11.4627vw, 50.438vh) scale(0.5498);
  }
  to {
    -webkit-transform: translate(15.01455vw, 100vh) scale(0.5498);
            transform: translate(15.01455vw, 100vh) scale(0.5498);
  }
}

.snow:nth-child(96) {
  opacity: 0.663;
  -webkit-transform: translate(53.7979vw, -10px) scale(0.3945);
          transform: translate(53.7979vw, -10px) scale(0.3945);
  -webkit-animation: fall-96 25s -30s linear infinite;
          animation: fall-96 25s -30s linear infinite;
}

@-webkit-keyframes fall-96 {
  37.814% {
    -webkit-transform: translate(51.6295vw, 37.814vh) scale(0.3945);
            transform: translate(51.6295vw, 37.814vh) scale(0.3945);
  }
  to {
    -webkit-transform: translate(52.7137vw, 100vh) scale(0.3945);
            transform: translate(52.7137vw, 100vh) scale(0.3945);
  }
}

@keyframes fall-96 {
  37.814% {
    -webkit-transform: translate(51.6295vw, 37.814vh) scale(0.3945);
            transform: translate(51.6295vw, 37.814vh) scale(0.3945);
  }
  to {
    -webkit-transform: translate(52.7137vw, 100vh) scale(0.3945);
            transform: translate(52.7137vw, 100vh) scale(0.3945);
  }
}

.snow:nth-child(97) {
  opacity: 0.1842;
  -webkit-transform: translate(75.9557vw, -10px) scale(0.1328);
          transform: translate(75.9557vw, -10px) scale(0.1328);
  -webkit-animation: fall-97 10s -13s linear infinite;
          animation: fall-97 10s -13s linear infinite;
}

@-webkit-keyframes fall-97 {
  34.058% {
    -webkit-transform: translate(76.9618vw, 34.058vh) scale(0.1328);
            transform: translate(76.9618vw, 34.058vh) scale(0.1328);
  }
  to {
    -webkit-transform: translate(76.45875vw, 100vh) scale(0.1328);
            transform: translate(76.45875vw, 100vh) scale(0.1328);
  }
}

@keyframes fall-97 {
  34.058% {
    -webkit-transform: translate(76.9618vw, 34.058vh) scale(0.1328);
            transform: translate(76.9618vw, 34.058vh) scale(0.1328);
  }
  to {
    -webkit-transform: translate(76.45875vw, 100vh) scale(0.1328);
            transform: translate(76.45875vw, 100vh) scale(0.1328);
  }
}

.snow:nth-child(98) {
  opacity: 0.1303;
  -webkit-transform: translate(7.605vw, -10px) scale(0.0239);
          transform: translate(7.605vw, -10px) scale(0.0239);
  -webkit-animation: fall-98 24s -8s linear infinite;
          animation: fall-98 24s -8s linear infinite;
}

@-webkit-keyframes fall-98 {
  79.75% {
    -webkit-transform: translate(6.7488vw, 79.75vh) scale(0.0239);
            transform: translate(6.7488vw, 79.75vh) scale(0.0239);
  }
  to {
    -webkit-transform: translate(7.1769vw, 100vh) scale(0.0239);
            transform: translate(7.1769vw, 100vh) scale(0.0239);
  }
}

@keyframes fall-98 {
  79.75% {
    -webkit-transform: translate(6.7488vw, 79.75vh) scale(0.0239);
            transform: translate(6.7488vw, 79.75vh) scale(0.0239);
  }
  to {
    -webkit-transform: translate(7.1769vw, 100vh) scale(0.0239);
            transform: translate(7.1769vw, 100vh) scale(0.0239);
  }
}

.snow:nth-child(99) {
  opacity: 0.7865;
  -webkit-transform: translate(17.4872vw, -10px) scale(0.9082);
          transform: translate(17.4872vw, -10px) scale(0.9082);
  -webkit-animation: fall-99 19s -22s linear infinite;
          animation: fall-99 19s -22s linear infinite;
}

@-webkit-keyframes fall-99 {
  68.654% {
    -webkit-transform: translate(15.6513vw, 68.654vh) scale(0.9082);
            transform: translate(15.6513vw, 68.654vh) scale(0.9082);
  }
  to {
    -webkit-transform: translate(16.56925vw, 100vh) scale(0.9082);
            transform: translate(16.56925vw, 100vh) scale(0.9082);
  }
}

@keyframes fall-99 {
  68.654% {
    -webkit-transform: translate(15.6513vw, 68.654vh) scale(0.9082);
            transform: translate(15.6513vw, 68.654vh) scale(0.9082);
  }
  to {
    -webkit-transform: translate(16.56925vw, 100vh) scale(0.9082);
            transform: translate(16.56925vw, 100vh) scale(0.9082);
  }
}

.snow:nth-child(100) {
  opacity: 0.4221;
  -webkit-transform: translate(67.6214vw, -10px) scale(0.7718);
          transform: translate(67.6214vw, -10px) scale(0.7718);
  -webkit-animation: fall-100 13s -8s linear infinite;
          animation: fall-100 13s -8s linear infinite;
}

@-webkit-keyframes fall-100 {
  51.216% {
    -webkit-transform: translate(61.1458vw, 51.216vh) scale(0.7718);
            transform: translate(61.1458vw, 51.216vh) scale(0.7718);
  }
  to {
    -webkit-transform: translate(64.3836vw, 100vh) scale(0.7718);
            transform: translate(64.3836vw, 100vh) scale(0.7718);
  }
}

@keyframes fall-100 {
  51.216% {
    -webkit-transform: translate(61.1458vw, 51.216vh) scale(0.7718);
            transform: translate(61.1458vw, 51.216vh) scale(0.7718);
  }
  to {
    -webkit-transform: translate(64.3836vw, 100vh) scale(0.7718);
            transform: translate(64.3836vw, 100vh) scale(0.7718);
  }
}
/*# sourceMappingURL=style.css.map */