@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Oooh+Baby&family=Open+Sans&display=swap");
@-webkit-keyframes drawIn {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawIn {
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes popIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

html, body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #313131;
  text-align: center;
  background-color: #E8E0D5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

small {
  font-size: .7em;
}

.snow-container {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.message-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 620px;
  padding: 0 20px;
}

.message-container .message {
  z-index: 100;
  margin: 1rem auto 0;
  width: 100%;
}

.message-container .message .sign {
  margin-top: -10%;
}

.message-container .to,
.message-container .sign {
  font-family: 'Oooh Baby', cursive;
  font-size: 3rem;
}

@media (max-width: 650px) {
  .message-container .to,
  .message-container .sign {
    font-size: 2rem;
  }
}

.message-container .to {
  margin-top: 2.5rem;
  font-size: 2rem;
  text-align: left;
  text-shadow: none;
}

@media (max-width: 650px) {
  .message-container .to {
    margin-top: 3.5rem;
    font-size: 1.5rem;
  }
}

.message-container .explain {
  margin: 1em auto 2em;
}

.wreath-container {
  position: relative;
  height: auto;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.wreath-container .greeting {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Mea Culpa', cursive;
  font-size: 3.2rem;
  color: #8B2728;
  opacity: 0;
}

.wreath-container .greeting.animate {
  -webkit-animation: popIn .4s 11s ease-in-out forwards;
          animation: popIn .4s 11s ease-in-out forwards;
}

.wreath-container .wreath,
.wreath-container .wreath-drawn {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: auto;
  width: 100%;
}

.wreath-container .wreath {
  opacity: 0;
}

.wreath-container .wreath.animate {
  -webkit-animation: popIn 0.4s 10s forwards;
          animation: popIn 0.4s 10s forwards;
}

.wreath-container .wreath-drawn {
  opacity: 0;
  animation: popIn 0.2s 10.5s forwards reverse;
}

.wreath-container .wreath-drawn .berries {
  opacity: 0;
}

.wreath-container .wreath-drawn.animate .branch path {
  -webkit-animation: drawIn 6s 1s forwards;
          animation: drawIn 6s 1s forwards;
}

.wreath-container .wreath-drawn.animate .berries {
  -webkit-animation: popIn 0.2s 10s forwards;
          animation: popIn 0.2s 10s forwards;
}

.wreath-container .wreath-drawn.animate #hollyTopLeft .leaf path {
  -webkit-animation: drawIn 4s 5.8s forwards;
          animation: drawIn 4s 5.8s forwards;
}

.wreath-container .wreath-drawn.animate #hollyBottomLeft .leaf path {
  -webkit-animation: drawIn 4s 5.8s forwards;
          animation: drawIn 4s 5.8s forwards;
}

.wreath-container .wreath-drawn.animate #hollyBottomRight .leaf path {
  -webkit-animation: drawIn 4s 5.8s forwards;
          animation: drawIn 4s 5.8s forwards;
}

.wreath-container .wreath-drawn.animate .stick path {
  -webkit-animation: drawIn 2s 6s forwards;
          animation: drawIn 2s 6s forwards;
}

.wreath-container .wreath-drawn.animate .leaf path {
  -webkit-animation: drawIn 2s 8s forwards;
          animation: drawIn 2s 8s forwards;
}

.wreath-container .unhide {
  opacity: 1;
}

.logo-container {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
  width: 100%;
}

.logo {
  display: block;
  width: 45%;
  cursor: pointer;
}

.logo img {
  display: block;
  width: 100%;
}

.snow {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #f5f0f0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px #b8bfc5;
          box-shadow: 0 0 15px #b8bfc5;
}

.snow:nth-child(0) {
  opacity: 0.919;
  -webkit-transform: translate(30.7564vw, -10px) scale(0.7277);
          transform: translate(30.7564vw, -10px) scale(0.7277);
  -webkit-animation: fall-0 27s -26s linear infinite;
          animation: fall-0 27s -26s linear infinite;
}

@-webkit-keyframes fall-0 {
  48.541% {
    -webkit-transform: translate(24.3984vw, 48.541vh) scale(0.7277);
            transform: translate(24.3984vw, 48.541vh) scale(0.7277);
  }
  to {
    -webkit-transform: translate(27.5774vw, 100vh) scale(0.7277);
            transform: translate(27.5774vw, 100vh) scale(0.7277);
  }
}

@keyframes fall-0 {
  48.541% {
    -webkit-transform: translate(24.3984vw, 48.541vh) scale(0.7277);
            transform: translate(24.3984vw, 48.541vh) scale(0.7277);
  }
  to {
    -webkit-transform: translate(27.5774vw, 100vh) scale(0.7277);
            transform: translate(27.5774vw, 100vh) scale(0.7277);
  }
}

.snow:nth-child(1) {
  opacity: 0.798;
  -webkit-transform: translate(54.2495vw, -10px) scale(0.2406);
          transform: translate(54.2495vw, -10px) scale(0.2406);
  -webkit-animation: fall-1 20s -6s linear infinite;
          animation: fall-1 20s -6s linear infinite;
}

@-webkit-keyframes fall-1 {
  53.102% {
    -webkit-transform: translate(46.8245vw, 53.102vh) scale(0.2406);
            transform: translate(46.8245vw, 53.102vh) scale(0.2406);
  }
  to {
    -webkit-transform: translate(50.537vw, 100vh) scale(0.2406);
            transform: translate(50.537vw, 100vh) scale(0.2406);
  }
}

@keyframes fall-1 {
  53.102% {
    -webkit-transform: translate(46.8245vw, 53.102vh) scale(0.2406);
            transform: translate(46.8245vw, 53.102vh) scale(0.2406);
  }
  to {
    -webkit-transform: translate(50.537vw, 100vh) scale(0.2406);
            transform: translate(50.537vw, 100vh) scale(0.2406);
  }
}

.snow:nth-child(2) {
  opacity: 0.158;
  -webkit-transform: translate(11.5013vw, -10px) scale(0.1721);
          transform: translate(11.5013vw, -10px) scale(0.1721);
  -webkit-animation: fall-2 28s -5s linear infinite;
          animation: fall-2 28s -5s linear infinite;
}

@-webkit-keyframes fall-2 {
  65.687% {
    -webkit-transform: translate(19.3309vw, 65.687vh) scale(0.1721);
            transform: translate(19.3309vw, 65.687vh) scale(0.1721);
  }
  to {
    -webkit-transform: translate(15.4161vw, 100vh) scale(0.1721);
            transform: translate(15.4161vw, 100vh) scale(0.1721);
  }
}

@keyframes fall-2 {
  65.687% {
    -webkit-transform: translate(19.3309vw, 65.687vh) scale(0.1721);
            transform: translate(19.3309vw, 65.687vh) scale(0.1721);
  }
  to {
    -webkit-transform: translate(15.4161vw, 100vh) scale(0.1721);
            transform: translate(15.4161vw, 100vh) scale(0.1721);
  }
}

.snow:nth-child(3) {
  opacity: 0.214;
  -webkit-transform: translate(9.7159vw, -10px) scale(0.7703);
          transform: translate(9.7159vw, -10px) scale(0.7703);
  -webkit-animation: fall-3 16s -23s linear infinite;
          animation: fall-3 16s -23s linear infinite;
}

@-webkit-keyframes fall-3 {
  77.937% {
    -webkit-transform: translate(14.9216vw, 77.937vh) scale(0.7703);
            transform: translate(14.9216vw, 77.937vh) scale(0.7703);
  }
  to {
    -webkit-transform: translate(12.31875vw, 100vh) scale(0.7703);
            transform: translate(12.31875vw, 100vh) scale(0.7703);
  }
}

@keyframes fall-3 {
  77.937% {
    -webkit-transform: translate(14.9216vw, 77.937vh) scale(0.7703);
            transform: translate(14.9216vw, 77.937vh) scale(0.7703);
  }
  to {
    -webkit-transform: translate(12.31875vw, 100vh) scale(0.7703);
            transform: translate(12.31875vw, 100vh) scale(0.7703);
  }
}

.snow:nth-child(4) {
  opacity: 0.913;
  -webkit-transform: translate(88.0996vw, -10px) scale(0.7753);
          transform: translate(88.0996vw, -10px) scale(0.7753);
  -webkit-animation: fall-4 27s -3s linear infinite;
          animation: fall-4 27s -3s linear infinite;
}

@-webkit-keyframes fall-4 {
  38.739% {
    -webkit-transform: translate(97.0959vw, 38.739vh) scale(0.7753);
            transform: translate(97.0959vw, 38.739vh) scale(0.7753);
  }
  to {
    -webkit-transform: translate(92.59775vw, 100vh) scale(0.7753);
            transform: translate(92.59775vw, 100vh) scale(0.7753);
  }
}

@keyframes fall-4 {
  38.739% {
    -webkit-transform: translate(97.0959vw, 38.739vh) scale(0.7753);
            transform: translate(97.0959vw, 38.739vh) scale(0.7753);
  }
  to {
    -webkit-transform: translate(92.59775vw, 100vh) scale(0.7753);
            transform: translate(92.59775vw, 100vh) scale(0.7753);
  }
}

.snow:nth-child(5) {
  opacity: 0.331;
  -webkit-transform: translate(60.0395vw, -10px) scale(0.5919);
          transform: translate(60.0395vw, -10px) scale(0.5919);
  -webkit-animation: fall-5 20s -28s linear infinite;
          animation: fall-5 20s -28s linear infinite;
}

@-webkit-keyframes fall-5 {
  61.243% {
    -webkit-transform: translate(56.8984vw, 61.243vh) scale(0.5919);
            transform: translate(56.8984vw, 61.243vh) scale(0.5919);
  }
  to {
    -webkit-transform: translate(58.46895vw, 100vh) scale(0.5919);
            transform: translate(58.46895vw, 100vh) scale(0.5919);
  }
}

@keyframes fall-5 {
  61.243% {
    -webkit-transform: translate(56.8984vw, 61.243vh) scale(0.5919);
            transform: translate(56.8984vw, 61.243vh) scale(0.5919);
  }
  to {
    -webkit-transform: translate(58.46895vw, 100vh) scale(0.5919);
            transform: translate(58.46895vw, 100vh) scale(0.5919);
  }
}

.snow:nth-child(6) {
  opacity: 0.726;
  -webkit-transform: translate(92.5985vw, -10px) scale(0.9587);
          transform: translate(92.5985vw, -10px) scale(0.9587);
  -webkit-animation: fall-6 18s -20s linear infinite;
          animation: fall-6 18s -20s linear infinite;
}

@-webkit-keyframes fall-6 {
  68.465% {
    -webkit-transform: translate(90.1173vw, 68.465vh) scale(0.9587);
            transform: translate(90.1173vw, 68.465vh) scale(0.9587);
  }
  to {
    -webkit-transform: translate(91.3579vw, 100vh) scale(0.9587);
            transform: translate(91.3579vw, 100vh) scale(0.9587);
  }
}

@keyframes fall-6 {
  68.465% {
    -webkit-transform: translate(90.1173vw, 68.465vh) scale(0.9587);
            transform: translate(90.1173vw, 68.465vh) scale(0.9587);
  }
  to {
    -webkit-transform: translate(91.3579vw, 100vh) scale(0.9587);
            transform: translate(91.3579vw, 100vh) scale(0.9587);
  }
}

.snow:nth-child(7) {
  opacity: 0.947;
  -webkit-transform: translate(49.4317vw, -10px) scale(0.2619);
          transform: translate(49.4317vw, -10px) scale(0.2619);
  -webkit-animation: fall-7 17s -23s linear infinite;
          animation: fall-7 17s -23s linear infinite;
}

@-webkit-keyframes fall-7 {
  46.676% {
    -webkit-transform: translate(43.2555vw, 46.676vh) scale(0.2619);
            transform: translate(43.2555vw, 46.676vh) scale(0.2619);
  }
  to {
    -webkit-transform: translate(46.3436vw, 100vh) scale(0.2619);
            transform: translate(46.3436vw, 100vh) scale(0.2619);
  }
}

@keyframes fall-7 {
  46.676% {
    -webkit-transform: translate(43.2555vw, 46.676vh) scale(0.2619);
            transform: translate(43.2555vw, 46.676vh) scale(0.2619);
  }
  to {
    -webkit-transform: translate(46.3436vw, 100vh) scale(0.2619);
            transform: translate(46.3436vw, 100vh) scale(0.2619);
  }
}

.snow:nth-child(8) {
  opacity: 0.794;
  -webkit-transform: translate(64.7263vw, -10px) scale(0.0297);
          transform: translate(64.7263vw, -10px) scale(0.0297);
  -webkit-animation: fall-8 24s -2s linear infinite;
          animation: fall-8 24s -2s linear infinite;
}

@-webkit-keyframes fall-8 {
  53.396% {
    -webkit-transform: translate(58.2042vw, 53.396vh) scale(0.0297);
            transform: translate(58.2042vw, 53.396vh) scale(0.0297);
  }
  to {
    -webkit-transform: translate(61.46525vw, 100vh) scale(0.0297);
            transform: translate(61.46525vw, 100vh) scale(0.0297);
  }
}

@keyframes fall-8 {
  53.396% {
    -webkit-transform: translate(58.2042vw, 53.396vh) scale(0.0297);
            transform: translate(58.2042vw, 53.396vh) scale(0.0297);
  }
  to {
    -webkit-transform: translate(61.46525vw, 100vh) scale(0.0297);
            transform: translate(61.46525vw, 100vh) scale(0.0297);
  }
}

.snow:nth-child(9) {
  opacity: 0.608;
  -webkit-transform: translate(95.9831vw, -10px) scale(0.6129);
          transform: translate(95.9831vw, -10px) scale(0.6129);
  -webkit-animation: fall-9 29s -23s linear infinite;
          animation: fall-9 29s -23s linear infinite;
}

@-webkit-keyframes fall-9 {
  55.254% {
    -webkit-transform: translate(102.5631vw, 55.254vh) scale(0.6129);
            transform: translate(102.5631vw, 55.254vh) scale(0.6129);
  }
  to {
    -webkit-transform: translate(99.2731vw, 100vh) scale(0.6129);
            transform: translate(99.2731vw, 100vh) scale(0.6129);
  }
}

@keyframes fall-9 {
  55.254% {
    -webkit-transform: translate(102.5631vw, 55.254vh) scale(0.6129);
            transform: translate(102.5631vw, 55.254vh) scale(0.6129);
  }
  to {
    -webkit-transform: translate(99.2731vw, 100vh) scale(0.6129);
            transform: translate(99.2731vw, 100vh) scale(0.6129);
  }
}

.snow:nth-child(10) {
  opacity: 0.296;
  -webkit-transform: translate(88.501vw, -10px) scale(0.0242);
          transform: translate(88.501vw, -10px) scale(0.0242);
  -webkit-animation: fall-10 13s -25s linear infinite;
          animation: fall-10 13s -25s linear infinite;
}

@-webkit-keyframes fall-10 {
  43.327% {
    -webkit-transform: translate(90.9572vw, 43.327vh) scale(0.0242);
            transform: translate(90.9572vw, 43.327vh) scale(0.0242);
  }
  to {
    -webkit-transform: translate(89.7291vw, 100vh) scale(0.0242);
            transform: translate(89.7291vw, 100vh) scale(0.0242);
  }
}

@keyframes fall-10 {
  43.327% {
    -webkit-transform: translate(90.9572vw, 43.327vh) scale(0.0242);
            transform: translate(90.9572vw, 43.327vh) scale(0.0242);
  }
  to {
    -webkit-transform: translate(89.7291vw, 100vh) scale(0.0242);
            transform: translate(89.7291vw, 100vh) scale(0.0242);
  }
}

.snow:nth-child(11) {
  opacity: 0.847;
  -webkit-transform: translate(41.763vw, -10px) scale(0.8309);
          transform: translate(41.763vw, -10px) scale(0.8309);
  -webkit-animation: fall-11 23s -25s linear infinite;
          animation: fall-11 23s -25s linear infinite;
}

@-webkit-keyframes fall-11 {
  73.232% {
    -webkit-transform: translate(32.3007vw, 73.232vh) scale(0.8309);
            transform: translate(32.3007vw, 73.232vh) scale(0.8309);
  }
  to {
    -webkit-transform: translate(37.03185vw, 100vh) scale(0.8309);
            transform: translate(37.03185vw, 100vh) scale(0.8309);
  }
}

@keyframes fall-11 {
  73.232% {
    -webkit-transform: translate(32.3007vw, 73.232vh) scale(0.8309);
            transform: translate(32.3007vw, 73.232vh) scale(0.8309);
  }
  to {
    -webkit-transform: translate(37.03185vw, 100vh) scale(0.8309);
            transform: translate(37.03185vw, 100vh) scale(0.8309);
  }
}

.snow:nth-child(12) {
  opacity: 0.635;
  -webkit-transform: translate(2.4564vw, -10px) scale(0.9855);
          transform: translate(2.4564vw, -10px) scale(0.9855);
  -webkit-animation: fall-12 24s -7s linear infinite;
          animation: fall-12 24s -7s linear infinite;
}

@-webkit-keyframes fall-12 {
  40.056% {
    -webkit-transform: translate(6.8767vw, 40.056vh) scale(0.9855);
            transform: translate(6.8767vw, 40.056vh) scale(0.9855);
  }
  to {
    -webkit-transform: translate(4.66655vw, 100vh) scale(0.9855);
            transform: translate(4.66655vw, 100vh) scale(0.9855);
  }
}

@keyframes fall-12 {
  40.056% {
    -webkit-transform: translate(6.8767vw, 40.056vh) scale(0.9855);
            transform: translate(6.8767vw, 40.056vh) scale(0.9855);
  }
  to {
    -webkit-transform: translate(4.66655vw, 100vh) scale(0.9855);
            transform: translate(4.66655vw, 100vh) scale(0.9855);
  }
}

.snow:nth-child(13) {
  opacity: 0.657;
  -webkit-transform: translate(99.5785vw, -10px) scale(0.1531);
          transform: translate(99.5785vw, -10px) scale(0.1531);
  -webkit-animation: fall-13 21s -18s linear infinite;
          animation: fall-13 21s -18s linear infinite;
}

@-webkit-keyframes fall-13 {
  46.251% {
    -webkit-transform: translate(108.9529vw, 46.251vh) scale(0.1531);
            transform: translate(108.9529vw, 46.251vh) scale(0.1531);
  }
  to {
    -webkit-transform: translate(104.2657vw, 100vh) scale(0.1531);
            transform: translate(104.2657vw, 100vh) scale(0.1531);
  }
}

@keyframes fall-13 {
  46.251% {
    -webkit-transform: translate(108.9529vw, 46.251vh) scale(0.1531);
            transform: translate(108.9529vw, 46.251vh) scale(0.1531);
  }
  to {
    -webkit-transform: translate(104.2657vw, 100vh) scale(0.1531);
            transform: translate(104.2657vw, 100vh) scale(0.1531);
  }
}

.snow:nth-child(14) {
  opacity: 0.136;
  -webkit-transform: translate(88.4814vw, -10px) scale(0.096);
          transform: translate(88.4814vw, -10px) scale(0.096);
  -webkit-animation: fall-14 27s -23s linear infinite;
          animation: fall-14 27s -23s linear infinite;
}

@-webkit-keyframes fall-14 {
  59.565% {
    -webkit-transform: translate(97.6562vw, 59.565vh) scale(0.096);
            transform: translate(97.6562vw, 59.565vh) scale(0.096);
  }
  to {
    -webkit-transform: translate(93.0688vw, 100vh) scale(0.096);
            transform: translate(93.0688vw, 100vh) scale(0.096);
  }
}

@keyframes fall-14 {
  59.565% {
    -webkit-transform: translate(97.6562vw, 59.565vh) scale(0.096);
            transform: translate(97.6562vw, 59.565vh) scale(0.096);
  }
  to {
    -webkit-transform: translate(93.0688vw, 100vh) scale(0.096);
            transform: translate(93.0688vw, 100vh) scale(0.096);
  }
}

.snow:nth-child(15) {
  opacity: 0.338;
  -webkit-transform: translate(8.0541vw, -10px) scale(0.8332);
          transform: translate(8.0541vw, -10px) scale(0.8332);
  -webkit-animation: fall-15 28s -12s linear infinite;
          animation: fall-15 28s -12s linear infinite;
}

@-webkit-keyframes fall-15 {
  57.79% {
    -webkit-transform: translate(14.6417vw, 57.79vh) scale(0.8332);
            transform: translate(14.6417vw, 57.79vh) scale(0.8332);
  }
  to {
    -webkit-transform: translate(11.3479vw, 100vh) scale(0.8332);
            transform: translate(11.3479vw, 100vh) scale(0.8332);
  }
}

@keyframes fall-15 {
  57.79% {
    -webkit-transform: translate(14.6417vw, 57.79vh) scale(0.8332);
            transform: translate(14.6417vw, 57.79vh) scale(0.8332);
  }
  to {
    -webkit-transform: translate(11.3479vw, 100vh) scale(0.8332);
            transform: translate(11.3479vw, 100vh) scale(0.8332);
  }
}

.snow:nth-child(16) {
  opacity: 0.407;
  -webkit-transform: translate(32.1035vw, -10px) scale(0.7517);
          transform: translate(32.1035vw, -10px) scale(0.7517);
  -webkit-animation: fall-16 18s -2s linear infinite;
          animation: fall-16 18s -2s linear infinite;
}

@-webkit-keyframes fall-16 {
  37.786% {
    -webkit-transform: translate(38.0795vw, 37.786vh) scale(0.7517);
            transform: translate(38.0795vw, 37.786vh) scale(0.7517);
  }
  to {
    -webkit-transform: translate(35.0915vw, 100vh) scale(0.7517);
            transform: translate(35.0915vw, 100vh) scale(0.7517);
  }
}

@keyframes fall-16 {
  37.786% {
    -webkit-transform: translate(38.0795vw, 37.786vh) scale(0.7517);
            transform: translate(38.0795vw, 37.786vh) scale(0.7517);
  }
  to {
    -webkit-transform: translate(35.0915vw, 100vh) scale(0.7517);
            transform: translate(35.0915vw, 100vh) scale(0.7517);
  }
}

.snow:nth-child(17) {
  opacity: 0.927;
  -webkit-transform: translate(31.3537vw, -10px) scale(0.8317);
          transform: translate(31.3537vw, -10px) scale(0.8317);
  -webkit-animation: fall-17 26s -23s linear infinite;
          animation: fall-17 26s -23s linear infinite;
}

@-webkit-keyframes fall-17 {
  79.758% {
    -webkit-transform: translate(30.5979vw, 79.758vh) scale(0.8317);
            transform: translate(30.5979vw, 79.758vh) scale(0.8317);
  }
  to {
    -webkit-transform: translate(30.9758vw, 100vh) scale(0.8317);
            transform: translate(30.9758vw, 100vh) scale(0.8317);
  }
}

@keyframes fall-17 {
  79.758% {
    -webkit-transform: translate(30.5979vw, 79.758vh) scale(0.8317);
            transform: translate(30.5979vw, 79.758vh) scale(0.8317);
  }
  to {
    -webkit-transform: translate(30.9758vw, 100vh) scale(0.8317);
            transform: translate(30.9758vw, 100vh) scale(0.8317);
  }
}

.snow:nth-child(18) {
  opacity: 0.517;
  -webkit-transform: translate(56.1458vw, -10px) scale(0.5467);
          transform: translate(56.1458vw, -10px) scale(0.5467);
  -webkit-animation: fall-18 22s -18s linear infinite;
          animation: fall-18 22s -18s linear infinite;
}

@-webkit-keyframes fall-18 {
  45.646% {
    -webkit-transform: translate(48.6098vw, 45.646vh) scale(0.5467);
            transform: translate(48.6098vw, 45.646vh) scale(0.5467);
  }
  to {
    -webkit-transform: translate(52.3778vw, 100vh) scale(0.5467);
            transform: translate(52.3778vw, 100vh) scale(0.5467);
  }
}

@keyframes fall-18 {
  45.646% {
    -webkit-transform: translate(48.6098vw, 45.646vh) scale(0.5467);
            transform: translate(48.6098vw, 45.646vh) scale(0.5467);
  }
  to {
    -webkit-transform: translate(52.3778vw, 100vh) scale(0.5467);
            transform: translate(52.3778vw, 100vh) scale(0.5467);
  }
}

.snow:nth-child(19) {
  opacity: 0.277;
  -webkit-transform: translate(94.9905vw, -10px) scale(0.727);
          transform: translate(94.9905vw, -10px) scale(0.727);
  -webkit-animation: fall-19 13s -13s linear infinite;
          animation: fall-19 13s -13s linear infinite;
}

@-webkit-keyframes fall-19 {
  42.065% {
    -webkit-transform: translate(96.9822vw, 42.065vh) scale(0.727);
            transform: translate(96.9822vw, 42.065vh) scale(0.727);
  }
  to {
    -webkit-transform: translate(95.98635vw, 100vh) scale(0.727);
            transform: translate(95.98635vw, 100vh) scale(0.727);
  }
}

@keyframes fall-19 {
  42.065% {
    -webkit-transform: translate(96.9822vw, 42.065vh) scale(0.727);
            transform: translate(96.9822vw, 42.065vh) scale(0.727);
  }
  to {
    -webkit-transform: translate(95.98635vw, 100vh) scale(0.727);
            transform: translate(95.98635vw, 100vh) scale(0.727);
  }
}

.snow:nth-child(20) {
  opacity: 0.474;
  -webkit-transform: translate(82.2473vw, -10px) scale(0.861);
          transform: translate(82.2473vw, -10px) scale(0.861);
  -webkit-animation: fall-20 30s -24s linear infinite;
          animation: fall-20 30s -24s linear infinite;
}

@-webkit-keyframes fall-20 {
  51.572% {
    -webkit-transform: translate(88.3592vw, 51.572vh) scale(0.861);
            transform: translate(88.3592vw, 51.572vh) scale(0.861);
  }
  to {
    -webkit-transform: translate(85.30325vw, 100vh) scale(0.861);
            transform: translate(85.30325vw, 100vh) scale(0.861);
  }
}

@keyframes fall-20 {
  51.572% {
    -webkit-transform: translate(88.3592vw, 51.572vh) scale(0.861);
            transform: translate(88.3592vw, 51.572vh) scale(0.861);
  }
  to {
    -webkit-transform: translate(85.30325vw, 100vh) scale(0.861);
            transform: translate(85.30325vw, 100vh) scale(0.861);
  }
}

.snow:nth-child(21) {
  opacity: 0.271;
  -webkit-transform: translate(61.1899vw, -10px) scale(0.3746);
          transform: translate(61.1899vw, -10px) scale(0.3746);
  -webkit-animation: fall-21 11s -24s linear infinite;
          animation: fall-21 11s -24s linear infinite;
}

@-webkit-keyframes fall-21 {
  50.758% {
    -webkit-transform: translate(63.3465vw, 50.758vh) scale(0.3746);
            transform: translate(63.3465vw, 50.758vh) scale(0.3746);
  }
  to {
    -webkit-transform: translate(62.2682vw, 100vh) scale(0.3746);
            transform: translate(62.2682vw, 100vh) scale(0.3746);
  }
}

@keyframes fall-21 {
  50.758% {
    -webkit-transform: translate(63.3465vw, 50.758vh) scale(0.3746);
            transform: translate(63.3465vw, 50.758vh) scale(0.3746);
  }
  to {
    -webkit-transform: translate(62.2682vw, 100vh) scale(0.3746);
            transform: translate(62.2682vw, 100vh) scale(0.3746);
  }
}

.snow:nth-child(22) {
  opacity: 0.265;
  -webkit-transform: translate(42.8149vw, -10px) scale(0.7269);
          transform: translate(42.8149vw, -10px) scale(0.7269);
  -webkit-animation: fall-22 30s -30s linear infinite;
          animation: fall-22 30s -30s linear infinite;
}

@-webkit-keyframes fall-22 {
  37.148% {
    -webkit-transform: translate(39.2995vw, 37.148vh) scale(0.7269);
            transform: translate(39.2995vw, 37.148vh) scale(0.7269);
  }
  to {
    -webkit-transform: translate(41.0572vw, 100vh) scale(0.7269);
            transform: translate(41.0572vw, 100vh) scale(0.7269);
  }
}

@keyframes fall-22 {
  37.148% {
    -webkit-transform: translate(39.2995vw, 37.148vh) scale(0.7269);
            transform: translate(39.2995vw, 37.148vh) scale(0.7269);
  }
  to {
    -webkit-transform: translate(41.0572vw, 100vh) scale(0.7269);
            transform: translate(41.0572vw, 100vh) scale(0.7269);
  }
}

.snow:nth-child(23) {
  opacity: 0.569;
  -webkit-transform: translate(64.5777vw, -10px) scale(0.9351);
          transform: translate(64.5777vw, -10px) scale(0.9351);
  -webkit-animation: fall-23 12s -23s linear infinite;
          animation: fall-23 12s -23s linear infinite;
}

@-webkit-keyframes fall-23 {
  36.992% {
    -webkit-transform: translate(67.5512vw, 36.992vh) scale(0.9351);
            transform: translate(67.5512vw, 36.992vh) scale(0.9351);
  }
  to {
    -webkit-transform: translate(66.06445vw, 100vh) scale(0.9351);
            transform: translate(66.06445vw, 100vh) scale(0.9351);
  }
}

@keyframes fall-23 {
  36.992% {
    -webkit-transform: translate(67.5512vw, 36.992vh) scale(0.9351);
            transform: translate(67.5512vw, 36.992vh) scale(0.9351);
  }
  to {
    -webkit-transform: translate(66.06445vw, 100vh) scale(0.9351);
            transform: translate(66.06445vw, 100vh) scale(0.9351);
  }
}

.snow:nth-child(24) {
  opacity: 0.498;
  -webkit-transform: translate(55.6652vw, -10px) scale(0.9767);
          transform: translate(55.6652vw, -10px) scale(0.9767);
  -webkit-animation: fall-24 23s -23s linear infinite;
          animation: fall-24 23s -23s linear infinite;
}

@-webkit-keyframes fall-24 {
  45.181% {
    -webkit-transform: translate(45.9377vw, 45.181vh) scale(0.9767);
            transform: translate(45.9377vw, 45.181vh) scale(0.9767);
  }
  to {
    -webkit-transform: translate(50.80145vw, 100vh) scale(0.9767);
            transform: translate(50.80145vw, 100vh) scale(0.9767);
  }
}

@keyframes fall-24 {
  45.181% {
    -webkit-transform: translate(45.9377vw, 45.181vh) scale(0.9767);
            transform: translate(45.9377vw, 45.181vh) scale(0.9767);
  }
  to {
    -webkit-transform: translate(50.80145vw, 100vh) scale(0.9767);
            transform: translate(50.80145vw, 100vh) scale(0.9767);
  }
}

.snow:nth-child(25) {
  opacity: 0.193;
  -webkit-transform: translate(55.6958vw, -10px) scale(0.4624);
          transform: translate(55.6958vw, -10px) scale(0.4624);
  -webkit-animation: fall-25 23s -20s linear infinite;
          animation: fall-25 23s -20s linear infinite;
}

@-webkit-keyframes fall-25 {
  78.078% {
    -webkit-transform: translate(57.2541vw, 78.078vh) scale(0.4624);
            transform: translate(57.2541vw, 78.078vh) scale(0.4624);
  }
  to {
    -webkit-transform: translate(56.47495vw, 100vh) scale(0.4624);
            transform: translate(56.47495vw, 100vh) scale(0.4624);
  }
}

@keyframes fall-25 {
  78.078% {
    -webkit-transform: translate(57.2541vw, 78.078vh) scale(0.4624);
            transform: translate(57.2541vw, 78.078vh) scale(0.4624);
  }
  to {
    -webkit-transform: translate(56.47495vw, 100vh) scale(0.4624);
            transform: translate(56.47495vw, 100vh) scale(0.4624);
  }
}

.snow:nth-child(26) {
  opacity: 0.834;
  -webkit-transform: translate(66.6547vw, -10px) scale(0.2339);
          transform: translate(66.6547vw, -10px) scale(0.2339);
  -webkit-animation: fall-26 27s -21s linear infinite;
          animation: fall-26 27s -21s linear infinite;
}

@-webkit-keyframes fall-26 {
  48.736% {
    -webkit-transform: translate(69.8449vw, 48.736vh) scale(0.2339);
            transform: translate(69.8449vw, 48.736vh) scale(0.2339);
  }
  to {
    -webkit-transform: translate(68.2498vw, 100vh) scale(0.2339);
            transform: translate(68.2498vw, 100vh) scale(0.2339);
  }
}

@keyframes fall-26 {
  48.736% {
    -webkit-transform: translate(69.8449vw, 48.736vh) scale(0.2339);
            transform: translate(69.8449vw, 48.736vh) scale(0.2339);
  }
  to {
    -webkit-transform: translate(68.2498vw, 100vh) scale(0.2339);
            transform: translate(68.2498vw, 100vh) scale(0.2339);
  }
}

.snow:nth-child(27) {
  opacity: 0.442;
  -webkit-transform: translate(34.0232vw, -10px) scale(0.7621);
          transform: translate(34.0232vw, -10px) scale(0.7621);
  -webkit-animation: fall-27 11s -9s linear infinite;
          animation: fall-27 11s -9s linear infinite;
}

@-webkit-keyframes fall-27 {
  35.399% {
    -webkit-transform: translate(34.2492vw, 35.399vh) scale(0.7621);
            transform: translate(34.2492vw, 35.399vh) scale(0.7621);
  }
  to {
    -webkit-transform: translate(34.1362vw, 100vh) scale(0.7621);
            transform: translate(34.1362vw, 100vh) scale(0.7621);
  }
}

@keyframes fall-27 {
  35.399% {
    -webkit-transform: translate(34.2492vw, 35.399vh) scale(0.7621);
            transform: translate(34.2492vw, 35.399vh) scale(0.7621);
  }
  to {
    -webkit-transform: translate(34.1362vw, 100vh) scale(0.7621);
            transform: translate(34.1362vw, 100vh) scale(0.7621);
  }
}

.snow:nth-child(28) {
  opacity: 0.161;
  -webkit-transform: translate(12.6829vw, -10px) scale(0.4201);
          transform: translate(12.6829vw, -10px) scale(0.4201);
  -webkit-animation: fall-28 28s -22s linear infinite;
          animation: fall-28 28s -22s linear infinite;
}

@-webkit-keyframes fall-28 {
  49.736% {
    -webkit-transform: translate(16.9649vw, 49.736vh) scale(0.4201);
            transform: translate(16.9649vw, 49.736vh) scale(0.4201);
  }
  to {
    -webkit-transform: translate(14.8239vw, 100vh) scale(0.4201);
            transform: translate(14.8239vw, 100vh) scale(0.4201);
  }
}

@keyframes fall-28 {
  49.736% {
    -webkit-transform: translate(16.9649vw, 49.736vh) scale(0.4201);
            transform: translate(16.9649vw, 49.736vh) scale(0.4201);
  }
  to {
    -webkit-transform: translate(14.8239vw, 100vh) scale(0.4201);
            transform: translate(14.8239vw, 100vh) scale(0.4201);
  }
}

.snow:nth-child(29) {
  opacity: 0.058;
  -webkit-transform: translate(17.6403vw, -10px) scale(0.2611);
          transform: translate(17.6403vw, -10px) scale(0.2611);
  -webkit-animation: fall-29 13s -9s linear infinite;
          animation: fall-29 13s -9s linear infinite;
}

@-webkit-keyframes fall-29 {
  44.173% {
    -webkit-transform: translate(20.5095vw, 44.173vh) scale(0.2611);
            transform: translate(20.5095vw, 44.173vh) scale(0.2611);
  }
  to {
    -webkit-transform: translate(19.0749vw, 100vh) scale(0.2611);
            transform: translate(19.0749vw, 100vh) scale(0.2611);
  }
}

@keyframes fall-29 {
  44.173% {
    -webkit-transform: translate(20.5095vw, 44.173vh) scale(0.2611);
            transform: translate(20.5095vw, 44.173vh) scale(0.2611);
  }
  to {
    -webkit-transform: translate(19.0749vw, 100vh) scale(0.2611);
            transform: translate(19.0749vw, 100vh) scale(0.2611);
  }
}

.snow:nth-child(30) {
  opacity: 0.724;
  -webkit-transform: translate(71.3995vw, -10px) scale(0.1936);
          transform: translate(71.3995vw, -10px) scale(0.1936);
  -webkit-animation: fall-30 16s -1s linear infinite;
          animation: fall-30 16s -1s linear infinite;
}

@-webkit-keyframes fall-30 {
  60.549% {
    -webkit-transform: translate(65.5043vw, 60.549vh) scale(0.1936);
            transform: translate(65.5043vw, 60.549vh) scale(0.1936);
  }
  to {
    -webkit-transform: translate(68.4519vw, 100vh) scale(0.1936);
            transform: translate(68.4519vw, 100vh) scale(0.1936);
  }
}

@keyframes fall-30 {
  60.549% {
    -webkit-transform: translate(65.5043vw, 60.549vh) scale(0.1936);
            transform: translate(65.5043vw, 60.549vh) scale(0.1936);
  }
  to {
    -webkit-transform: translate(68.4519vw, 100vh) scale(0.1936);
            transform: translate(68.4519vw, 100vh) scale(0.1936);
  }
}

.snow:nth-child(31) {
  opacity: 0.604;
  -webkit-transform: translate(10.1615vw, -10px) scale(0.3694);
          transform: translate(10.1615vw, -10px) scale(0.3694);
  -webkit-animation: fall-31 18s -9s linear infinite;
          animation: fall-31 18s -9s linear infinite;
}

@-webkit-keyframes fall-31 {
  54.564% {
    -webkit-transform: translate(6.5978vw, 54.564vh) scale(0.3694);
            transform: translate(6.5978vw, 54.564vh) scale(0.3694);
  }
  to {
    -webkit-transform: translate(8.37965vw, 100vh) scale(0.3694);
            transform: translate(8.37965vw, 100vh) scale(0.3694);
  }
}

@keyframes fall-31 {
  54.564% {
    -webkit-transform: translate(6.5978vw, 54.564vh) scale(0.3694);
            transform: translate(6.5978vw, 54.564vh) scale(0.3694);
  }
  to {
    -webkit-transform: translate(8.37965vw, 100vh) scale(0.3694);
            transform: translate(8.37965vw, 100vh) scale(0.3694);
  }
}

.snow:nth-child(32) {
  opacity: 0.462;
  -webkit-transform: translate(57.3137vw, -10px) scale(0.1924);
          transform: translate(57.3137vw, -10px) scale(0.1924);
  -webkit-animation: fall-32 30s -28s linear infinite;
          animation: fall-32 30s -28s linear infinite;
}

@-webkit-keyframes fall-32 {
  50.342% {
    -webkit-transform: translate(59.9758vw, 50.342vh) scale(0.1924);
            transform: translate(59.9758vw, 50.342vh) scale(0.1924);
  }
  to {
    -webkit-transform: translate(58.64475vw, 100vh) scale(0.1924);
            transform: translate(58.64475vw, 100vh) scale(0.1924);
  }
}

@keyframes fall-32 {
  50.342% {
    -webkit-transform: translate(59.9758vw, 50.342vh) scale(0.1924);
            transform: translate(59.9758vw, 50.342vh) scale(0.1924);
  }
  to {
    -webkit-transform: translate(58.64475vw, 100vh) scale(0.1924);
            transform: translate(58.64475vw, 100vh) scale(0.1924);
  }
}

.snow:nth-child(33) {
  opacity: 0.27;
  -webkit-transform: translate(10.5511vw, -10px) scale(0.4847);
          transform: translate(10.5511vw, -10px) scale(0.4847);
  -webkit-animation: fall-33 28s -27s linear infinite;
          animation: fall-33 28s -27s linear infinite;
}

@-webkit-keyframes fall-33 {
  51.892% {
    -webkit-transform: translate(1.0067vw, 51.892vh) scale(0.4847);
            transform: translate(1.0067vw, 51.892vh) scale(0.4847);
  }
  to {
    -webkit-transform: translate(5.7789vw, 100vh) scale(0.4847);
            transform: translate(5.7789vw, 100vh) scale(0.4847);
  }
}

@keyframes fall-33 {
  51.892% {
    -webkit-transform: translate(1.0067vw, 51.892vh) scale(0.4847);
            transform: translate(1.0067vw, 51.892vh) scale(0.4847);
  }
  to {
    -webkit-transform: translate(5.7789vw, 100vh) scale(0.4847);
            transform: translate(5.7789vw, 100vh) scale(0.4847);
  }
}

.snow:nth-child(34) {
  opacity: 0.802;
  -webkit-transform: translate(65.1851vw, -10px) scale(0.414);
          transform: translate(65.1851vw, -10px) scale(0.414);
  -webkit-animation: fall-34 26s -5s linear infinite;
          animation: fall-34 26s -5s linear infinite;
}

@-webkit-keyframes fall-34 {
  34.577% {
    -webkit-transform: translate(74.5976vw, 34.577vh) scale(0.414);
            transform: translate(74.5976vw, 34.577vh) scale(0.414);
  }
  to {
    -webkit-transform: translate(69.89135vw, 100vh) scale(0.414);
            transform: translate(69.89135vw, 100vh) scale(0.414);
  }
}

@keyframes fall-34 {
  34.577% {
    -webkit-transform: translate(74.5976vw, 34.577vh) scale(0.414);
            transform: translate(74.5976vw, 34.577vh) scale(0.414);
  }
  to {
    -webkit-transform: translate(69.89135vw, 100vh) scale(0.414);
            transform: translate(69.89135vw, 100vh) scale(0.414);
  }
}

.snow:nth-child(35) {
  opacity: 0.836;
  -webkit-transform: translate(99.8818vw, -10px) scale(0.7958);
          transform: translate(99.8818vw, -10px) scale(0.7958);
  -webkit-animation: fall-35 26s -1s linear infinite;
          animation: fall-35 26s -1s linear infinite;
}

@-webkit-keyframes fall-35 {
  31.721% {
    -webkit-transform: translate(98.6225vw, 31.721vh) scale(0.7958);
            transform: translate(98.6225vw, 31.721vh) scale(0.7958);
  }
  to {
    -webkit-transform: translate(99.25215vw, 100vh) scale(0.7958);
            transform: translate(99.25215vw, 100vh) scale(0.7958);
  }
}

@keyframes fall-35 {
  31.721% {
    -webkit-transform: translate(98.6225vw, 31.721vh) scale(0.7958);
            transform: translate(98.6225vw, 31.721vh) scale(0.7958);
  }
  to {
    -webkit-transform: translate(99.25215vw, 100vh) scale(0.7958);
            transform: translate(99.25215vw, 100vh) scale(0.7958);
  }
}

.snow:nth-child(36) {
  opacity: 0.815;
  -webkit-transform: translate(6.211vw, -10px) scale(0.5481);
          transform: translate(6.211vw, -10px) scale(0.5481);
  -webkit-animation: fall-36 19s -23s linear infinite;
          animation: fall-36 19s -23s linear infinite;
}

@-webkit-keyframes fall-36 {
  79.213% {
    -webkit-transform: translate(-0.0118vw, 79.213vh) scale(0.5481);
            transform: translate(-0.0118vw, 79.213vh) scale(0.5481);
  }
  to {
    -webkit-transform: translate(3.0996vw, 100vh) scale(0.5481);
            transform: translate(3.0996vw, 100vh) scale(0.5481);
  }
}

@keyframes fall-36 {
  79.213% {
    -webkit-transform: translate(-0.0118vw, 79.213vh) scale(0.5481);
            transform: translate(-0.0118vw, 79.213vh) scale(0.5481);
  }
  to {
    -webkit-transform: translate(3.0996vw, 100vh) scale(0.5481);
            transform: translate(3.0996vw, 100vh) scale(0.5481);
  }
}

.snow:nth-child(37) {
  opacity: 0.864;
  -webkit-transform: translate(3.1234vw, -10px) scale(0.8251);
          transform: translate(3.1234vw, -10px) scale(0.8251);
  -webkit-animation: fall-37 29s -18s linear infinite;
          animation: fall-37 29s -18s linear infinite;
}

@-webkit-keyframes fall-37 {
  31.295% {
    -webkit-transform: translate(-5.0601vw, 31.295vh) scale(0.8251);
            transform: translate(-5.0601vw, 31.295vh) scale(0.8251);
  }
  to {
    -webkit-transform: translate(-0.96835vw, 100vh) scale(0.8251);
            transform: translate(-0.96835vw, 100vh) scale(0.8251);
  }
}

@keyframes fall-37 {
  31.295% {
    -webkit-transform: translate(-5.0601vw, 31.295vh) scale(0.8251);
            transform: translate(-5.0601vw, 31.295vh) scale(0.8251);
  }
  to {
    -webkit-transform: translate(-0.96835vw, 100vh) scale(0.8251);
            transform: translate(-0.96835vw, 100vh) scale(0.8251);
  }
}

.snow:nth-child(38) {
  opacity: 0.154;
  -webkit-transform: translate(74.4569vw, -10px) scale(0.4698);
          transform: translate(74.4569vw, -10px) scale(0.4698);
  -webkit-animation: fall-38 23s -7s linear infinite;
          animation: fall-38 23s -7s linear infinite;
}

@-webkit-keyframes fall-38 {
  61.099% {
    -webkit-transform: translate(76.2481vw, 61.099vh) scale(0.4698);
            transform: translate(76.2481vw, 61.099vh) scale(0.4698);
  }
  to {
    -webkit-transform: translate(75.3525vw, 100vh) scale(0.4698);
            transform: translate(75.3525vw, 100vh) scale(0.4698);
  }
}

@keyframes fall-38 {
  61.099% {
    -webkit-transform: translate(76.2481vw, 61.099vh) scale(0.4698);
            transform: translate(76.2481vw, 61.099vh) scale(0.4698);
  }
  to {
    -webkit-transform: translate(75.3525vw, 100vh) scale(0.4698);
            transform: translate(75.3525vw, 100vh) scale(0.4698);
  }
}

.snow:nth-child(39) {
  opacity: 0.333;
  -webkit-transform: translate(5.2895vw, -10px) scale(0.682);
          transform: translate(5.2895vw, -10px) scale(0.682);
  -webkit-animation: fall-39 24s -19s linear infinite;
          animation: fall-39 24s -19s linear infinite;
}

@-webkit-keyframes fall-39 {
  77.172% {
    -webkit-transform: translate(0.0417vw, 77.172vh) scale(0.682);
            transform: translate(0.0417vw, 77.172vh) scale(0.682);
  }
  to {
    -webkit-transform: translate(2.6656vw, 100vh) scale(0.682);
            transform: translate(2.6656vw, 100vh) scale(0.682);
  }
}

@keyframes fall-39 {
  77.172% {
    -webkit-transform: translate(0.0417vw, 77.172vh) scale(0.682);
            transform: translate(0.0417vw, 77.172vh) scale(0.682);
  }
  to {
    -webkit-transform: translate(2.6656vw, 100vh) scale(0.682);
            transform: translate(2.6656vw, 100vh) scale(0.682);
  }
}

.snow:nth-child(40) {
  opacity: 0.43;
  -webkit-transform: translate(55.7577vw, -10px) scale(0.6501);
          transform: translate(55.7577vw, -10px) scale(0.6501);
  -webkit-animation: fall-40 20s -10s linear infinite;
          animation: fall-40 20s -10s linear infinite;
}

@-webkit-keyframes fall-40 {
  37.471% {
    -webkit-transform: translate(62.1414vw, 37.471vh) scale(0.6501);
            transform: translate(62.1414vw, 37.471vh) scale(0.6501);
  }
  to {
    -webkit-transform: translate(58.94955vw, 100vh) scale(0.6501);
            transform: translate(58.94955vw, 100vh) scale(0.6501);
  }
}

@keyframes fall-40 {
  37.471% {
    -webkit-transform: translate(62.1414vw, 37.471vh) scale(0.6501);
            transform: translate(62.1414vw, 37.471vh) scale(0.6501);
  }
  to {
    -webkit-transform: translate(58.94955vw, 100vh) scale(0.6501);
            transform: translate(58.94955vw, 100vh) scale(0.6501);
  }
}

.snow:nth-child(41) {
  opacity: 0.602;
  -webkit-transform: translate(25.551vw, -10px) scale(0.6419);
          transform: translate(25.551vw, -10px) scale(0.6419);
  -webkit-animation: fall-41 27s -29s linear infinite;
          animation: fall-41 27s -29s linear infinite;
}

@-webkit-keyframes fall-41 {
  44.308% {
    -webkit-transform: translate(24.3634vw, 44.308vh) scale(0.6419);
            transform: translate(24.3634vw, 44.308vh) scale(0.6419);
  }
  to {
    -webkit-transform: translate(24.9572vw, 100vh) scale(0.6419);
            transform: translate(24.9572vw, 100vh) scale(0.6419);
  }
}

@keyframes fall-41 {
  44.308% {
    -webkit-transform: translate(24.3634vw, 44.308vh) scale(0.6419);
            transform: translate(24.3634vw, 44.308vh) scale(0.6419);
  }
  to {
    -webkit-transform: translate(24.9572vw, 100vh) scale(0.6419);
            transform: translate(24.9572vw, 100vh) scale(0.6419);
  }
}

.snow:nth-child(42) {
  opacity: 0.094;
  -webkit-transform: translate(96.175vw, -10px) scale(0.6418);
          transform: translate(96.175vw, -10px) scale(0.6418);
  -webkit-animation: fall-42 21s -21s linear infinite;
          animation: fall-42 21s -21s linear infinite;
}

@-webkit-keyframes fall-42 {
  59.421% {
    -webkit-transform: translate(88.5298vw, 59.421vh) scale(0.6418);
            transform: translate(88.5298vw, 59.421vh) scale(0.6418);
  }
  to {
    -webkit-transform: translate(92.3524vw, 100vh) scale(0.6418);
            transform: translate(92.3524vw, 100vh) scale(0.6418);
  }
}

@keyframes fall-42 {
  59.421% {
    -webkit-transform: translate(88.5298vw, 59.421vh) scale(0.6418);
            transform: translate(88.5298vw, 59.421vh) scale(0.6418);
  }
  to {
    -webkit-transform: translate(92.3524vw, 100vh) scale(0.6418);
            transform: translate(92.3524vw, 100vh) scale(0.6418);
  }
}

.snow:nth-child(43) {
  opacity: 0.839;
  -webkit-transform: translate(4.1695vw, -10px) scale(0.1149);
          transform: translate(4.1695vw, -10px) scale(0.1149);
  -webkit-animation: fall-43 20s -28s linear infinite;
          animation: fall-43 20s -28s linear infinite;
}

@-webkit-keyframes fall-43 {
  53.644% {
    -webkit-transform: translate(-2.9379vw, 53.644vh) scale(0.1149);
            transform: translate(-2.9379vw, 53.644vh) scale(0.1149);
  }
  to {
    -webkit-transform: translate(0.6158vw, 100vh) scale(0.1149);
            transform: translate(0.6158vw, 100vh) scale(0.1149);
  }
}

@keyframes fall-43 {
  53.644% {
    -webkit-transform: translate(-2.9379vw, 53.644vh) scale(0.1149);
            transform: translate(-2.9379vw, 53.644vh) scale(0.1149);
  }
  to {
    -webkit-transform: translate(0.6158vw, 100vh) scale(0.1149);
            transform: translate(0.6158vw, 100vh) scale(0.1149);
  }
}

.snow:nth-child(44) {
  opacity: 0.707;
  -webkit-transform: translate(68.292vw, -10px) scale(0.4899);
          transform: translate(68.292vw, -10px) scale(0.4899);
  -webkit-animation: fall-44 15s -30s linear infinite;
          animation: fall-44 15s -30s linear infinite;
}

@-webkit-keyframes fall-44 {
  41.922% {
    -webkit-transform: translate(70.5162vw, 41.922vh) scale(0.4899);
            transform: translate(70.5162vw, 41.922vh) scale(0.4899);
  }
  to {
    -webkit-transform: translate(69.4041vw, 100vh) scale(0.4899);
            transform: translate(69.4041vw, 100vh) scale(0.4899);
  }
}

@keyframes fall-44 {
  41.922% {
    -webkit-transform: translate(70.5162vw, 41.922vh) scale(0.4899);
            transform: translate(70.5162vw, 41.922vh) scale(0.4899);
  }
  to {
    -webkit-transform: translate(69.4041vw, 100vh) scale(0.4899);
            transform: translate(69.4041vw, 100vh) scale(0.4899);
  }
}

.snow:nth-child(45) {
  opacity: 0.877;
  -webkit-transform: translate(6.917vw, -10px) scale(0.1629);
          transform: translate(6.917vw, -10px) scale(0.1629);
  -webkit-animation: fall-45 20s -21s linear infinite;
          animation: fall-45 20s -21s linear infinite;
}

@-webkit-keyframes fall-45 {
  35.005% {
    -webkit-transform: translate(12.4981vw, 35.005vh) scale(0.1629);
            transform: translate(12.4981vw, 35.005vh) scale(0.1629);
  }
  to {
    -webkit-transform: translate(9.70755vw, 100vh) scale(0.1629);
            transform: translate(9.70755vw, 100vh) scale(0.1629);
  }
}

@keyframes fall-45 {
  35.005% {
    -webkit-transform: translate(12.4981vw, 35.005vh) scale(0.1629);
            transform: translate(12.4981vw, 35.005vh) scale(0.1629);
  }
  to {
    -webkit-transform: translate(9.70755vw, 100vh) scale(0.1629);
            transform: translate(9.70755vw, 100vh) scale(0.1629);
  }
}

.snow:nth-child(46) {
  opacity: 0.474;
  -webkit-transform: translate(93.9163vw, -10px) scale(0.967);
          transform: translate(93.9163vw, -10px) scale(0.967);
  -webkit-animation: fall-46 16s -24s linear infinite;
          animation: fall-46 16s -24s linear infinite;
}

@-webkit-keyframes fall-46 {
  71.418% {
    -webkit-transform: translate(97.0282vw, 71.418vh) scale(0.967);
            transform: translate(97.0282vw, 71.418vh) scale(0.967);
  }
  to {
    -webkit-transform: translate(95.47225vw, 100vh) scale(0.967);
            transform: translate(95.47225vw, 100vh) scale(0.967);
  }
}

@keyframes fall-46 {
  71.418% {
    -webkit-transform: translate(97.0282vw, 71.418vh) scale(0.967);
            transform: translate(97.0282vw, 71.418vh) scale(0.967);
  }
  to {
    -webkit-transform: translate(95.47225vw, 100vh) scale(0.967);
            transform: translate(95.47225vw, 100vh) scale(0.967);
  }
}

.snow:nth-child(47) {
  opacity: 0.475;
  -webkit-transform: translate(15.817vw, -10px) scale(0.4697);
          transform: translate(15.817vw, -10px) scale(0.4697);
  -webkit-animation: fall-47 27s -13s linear infinite;
          animation: fall-47 27s -13s linear infinite;
}

@-webkit-keyframes fall-47 {
  35.36% {
    -webkit-transform: translate(24.7834vw, 35.36vh) scale(0.4697);
            transform: translate(24.7834vw, 35.36vh) scale(0.4697);
  }
  to {
    -webkit-transform: translate(20.3002vw, 100vh) scale(0.4697);
            transform: translate(20.3002vw, 100vh) scale(0.4697);
  }
}

@keyframes fall-47 {
  35.36% {
    -webkit-transform: translate(24.7834vw, 35.36vh) scale(0.4697);
            transform: translate(24.7834vw, 35.36vh) scale(0.4697);
  }
  to {
    -webkit-transform: translate(20.3002vw, 100vh) scale(0.4697);
            transform: translate(20.3002vw, 100vh) scale(0.4697);
  }
}

.snow:nth-child(48) {
  opacity: 0.333;
  -webkit-transform: translate(91.4935vw, -10px) scale(0.0046);
          transform: translate(91.4935vw, -10px) scale(0.0046);
  -webkit-animation: fall-48 24s -2s linear infinite;
          animation: fall-48 24s -2s linear infinite;
}

@-webkit-keyframes fall-48 {
  65.353% {
    -webkit-transform: translate(86.8627vw, 65.353vh) scale(0.0046);
            transform: translate(86.8627vw, 65.353vh) scale(0.0046);
  }
  to {
    -webkit-transform: translate(89.1781vw, 100vh) scale(0.0046);
            transform: translate(89.1781vw, 100vh) scale(0.0046);
  }
}

@keyframes fall-48 {
  65.353% {
    -webkit-transform: translate(86.8627vw, 65.353vh) scale(0.0046);
            transform: translate(86.8627vw, 65.353vh) scale(0.0046);
  }
  to {
    -webkit-transform: translate(89.1781vw, 100vh) scale(0.0046);
            transform: translate(89.1781vw, 100vh) scale(0.0046);
  }
}

.snow:nth-child(49) {
  opacity: 0.888;
  -webkit-transform: translate(82.9541vw, -10px) scale(0.609);
          transform: translate(82.9541vw, -10px) scale(0.609);
  -webkit-animation: fall-49 27s -6s linear infinite;
          animation: fall-49 27s -6s linear infinite;
}

@-webkit-keyframes fall-49 {
  74.865% {
    -webkit-transform: translate(79.5335vw, 74.865vh) scale(0.609);
            transform: translate(79.5335vw, 74.865vh) scale(0.609);
  }
  to {
    -webkit-transform: translate(81.2438vw, 100vh) scale(0.609);
            transform: translate(81.2438vw, 100vh) scale(0.609);
  }
}

@keyframes fall-49 {
  74.865% {
    -webkit-transform: translate(79.5335vw, 74.865vh) scale(0.609);
            transform: translate(79.5335vw, 74.865vh) scale(0.609);
  }
  to {
    -webkit-transform: translate(81.2438vw, 100vh) scale(0.609);
            transform: translate(81.2438vw, 100vh) scale(0.609);
  }
}

.snow:nth-child(50) {
  opacity: 0.555;
  -webkit-transform: translate(90.5978vw, -10px) scale(0.4463);
          transform: translate(90.5978vw, -10px) scale(0.4463);
  -webkit-animation: fall-50 30s -13s linear infinite;
          animation: fall-50 30s -13s linear infinite;
}

@-webkit-keyframes fall-50 {
  74.317% {
    -webkit-transform: translate(83.6669vw, 74.317vh) scale(0.4463);
            transform: translate(83.6669vw, 74.317vh) scale(0.4463);
  }
  to {
    -webkit-transform: translate(87.13235vw, 100vh) scale(0.4463);
            transform: translate(87.13235vw, 100vh) scale(0.4463);
  }
}

@keyframes fall-50 {
  74.317% {
    -webkit-transform: translate(83.6669vw, 74.317vh) scale(0.4463);
            transform: translate(83.6669vw, 74.317vh) scale(0.4463);
  }
  to {
    -webkit-transform: translate(87.13235vw, 100vh) scale(0.4463);
            transform: translate(87.13235vw, 100vh) scale(0.4463);
  }
}

.snow:nth-child(51) {
  opacity: 0.299;
  -webkit-transform: translate(36.3824vw, -10px) scale(0.1229);
          transform: translate(36.3824vw, -10px) scale(0.1229);
  -webkit-animation: fall-51 30s -7s linear infinite;
          animation: fall-51 30s -7s linear infinite;
}

@-webkit-keyframes fall-51 {
  32.502% {
    -webkit-transform: translate(34.4779vw, 32.502vh) scale(0.1229);
            transform: translate(34.4779vw, 32.502vh) scale(0.1229);
  }
  to {
    -webkit-transform: translate(35.43015vw, 100vh) scale(0.1229);
            transform: translate(35.43015vw, 100vh) scale(0.1229);
  }
}

@keyframes fall-51 {
  32.502% {
    -webkit-transform: translate(34.4779vw, 32.502vh) scale(0.1229);
            transform: translate(34.4779vw, 32.502vh) scale(0.1229);
  }
  to {
    -webkit-transform: translate(35.43015vw, 100vh) scale(0.1229);
            transform: translate(35.43015vw, 100vh) scale(0.1229);
  }
}

.snow:nth-child(52) {
  opacity: 0.551;
  -webkit-transform: translate(21.7474vw, -10px) scale(0.923);
          transform: translate(21.7474vw, -10px) scale(0.923);
  -webkit-animation: fall-52 22s -9s linear infinite;
          animation: fall-52 22s -9s linear infinite;
}

@-webkit-keyframes fall-52 {
  58.944% {
    -webkit-transform: translate(24.0023vw, 58.944vh) scale(0.923);
            transform: translate(24.0023vw, 58.944vh) scale(0.923);
  }
  to {
    -webkit-transform: translate(22.87485vw, 100vh) scale(0.923);
            transform: translate(22.87485vw, 100vh) scale(0.923);
  }
}

@keyframes fall-52 {
  58.944% {
    -webkit-transform: translate(24.0023vw, 58.944vh) scale(0.923);
            transform: translate(24.0023vw, 58.944vh) scale(0.923);
  }
  to {
    -webkit-transform: translate(22.87485vw, 100vh) scale(0.923);
            transform: translate(22.87485vw, 100vh) scale(0.923);
  }
}

.snow:nth-child(53) {
  opacity: 0.907;
  -webkit-transform: translate(35.8037vw, -10px) scale(0.5931);
          transform: translate(35.8037vw, -10px) scale(0.5931);
  -webkit-animation: fall-53 16s -12s linear infinite;
          animation: fall-53 16s -12s linear infinite;
}

@-webkit-keyframes fall-53 {
  64.115% {
    -webkit-transform: translate(29.8676vw, 64.115vh) scale(0.5931);
            transform: translate(29.8676vw, 64.115vh) scale(0.5931);
  }
  to {
    -webkit-transform: translate(32.83565vw, 100vh) scale(0.5931);
            transform: translate(32.83565vw, 100vh) scale(0.5931);
  }
}

@keyframes fall-53 {
  64.115% {
    -webkit-transform: translate(29.8676vw, 64.115vh) scale(0.5931);
            transform: translate(29.8676vw, 64.115vh) scale(0.5931);
  }
  to {
    -webkit-transform: translate(32.83565vw, 100vh) scale(0.5931);
            transform: translate(32.83565vw, 100vh) scale(0.5931);
  }
}

.snow:nth-child(54) {
  opacity: 0.899;
  -webkit-transform: translate(34.0725vw, -10px) scale(0.5603);
          transform: translate(34.0725vw, -10px) scale(0.5603);
  -webkit-animation: fall-54 11s -25s linear infinite;
          animation: fall-54 11s -25s linear infinite;
}

@-webkit-keyframes fall-54 {
  64.506% {
    -webkit-transform: translate(27.0385vw, 64.506vh) scale(0.5603);
            transform: translate(27.0385vw, 64.506vh) scale(0.5603);
  }
  to {
    -webkit-transform: translate(30.5555vw, 100vh) scale(0.5603);
            transform: translate(30.5555vw, 100vh) scale(0.5603);
  }
}

@keyframes fall-54 {
  64.506% {
    -webkit-transform: translate(27.0385vw, 64.506vh) scale(0.5603);
            transform: translate(27.0385vw, 64.506vh) scale(0.5603);
  }
  to {
    -webkit-transform: translate(30.5555vw, 100vh) scale(0.5603);
            transform: translate(30.5555vw, 100vh) scale(0.5603);
  }
}

.snow:nth-child(55) {
  opacity: 0.428;
  -webkit-transform: translate(95.961vw, -10px) scale(0.9057);
          transform: translate(95.961vw, -10px) scale(0.9057);
  -webkit-animation: fall-55 11s -22s linear infinite;
          animation: fall-55 11s -22s linear infinite;
}

@-webkit-keyframes fall-55 {
  79.306% {
    -webkit-transform: translate(91.4366vw, 79.306vh) scale(0.9057);
            transform: translate(91.4366vw, 79.306vh) scale(0.9057);
  }
  to {
    -webkit-transform: translate(93.6988vw, 100vh) scale(0.9057);
            transform: translate(93.6988vw, 100vh) scale(0.9057);
  }
}

@keyframes fall-55 {
  79.306% {
    -webkit-transform: translate(91.4366vw, 79.306vh) scale(0.9057);
            transform: translate(91.4366vw, 79.306vh) scale(0.9057);
  }
  to {
    -webkit-transform: translate(93.6988vw, 100vh) scale(0.9057);
            transform: translate(93.6988vw, 100vh) scale(0.9057);
  }
}

.snow:nth-child(56) {
  opacity: 0.029;
  -webkit-transform: translate(7.9728vw, -10px) scale(0.1518);
          transform: translate(7.9728vw, -10px) scale(0.1518);
  -webkit-animation: fall-56 20s -18s linear infinite;
          animation: fall-56 20s -18s linear infinite;
}

@-webkit-keyframes fall-56 {
  79.756% {
    -webkit-transform: translate(2.9962vw, 79.756vh) scale(0.1518);
            transform: translate(2.9962vw, 79.756vh) scale(0.1518);
  }
  to {
    -webkit-transform: translate(5.4845vw, 100vh) scale(0.1518);
            transform: translate(5.4845vw, 100vh) scale(0.1518);
  }
}

@keyframes fall-56 {
  79.756% {
    -webkit-transform: translate(2.9962vw, 79.756vh) scale(0.1518);
            transform: translate(2.9962vw, 79.756vh) scale(0.1518);
  }
  to {
    -webkit-transform: translate(5.4845vw, 100vh) scale(0.1518);
            transform: translate(5.4845vw, 100vh) scale(0.1518);
  }
}

.snow:nth-child(57) {
  opacity: 0.169;
  -webkit-transform: translate(2.3488vw, -10px) scale(0.4536);
          transform: translate(2.3488vw, -10px) scale(0.4536);
  -webkit-animation: fall-57 30s -7s linear infinite;
          animation: fall-57 30s -7s linear infinite;
}

@-webkit-keyframes fall-57 {
  59.462% {
    -webkit-transform: translate(-5.2839vw, 59.462vh) scale(0.4536);
            transform: translate(-5.2839vw, 59.462vh) scale(0.4536);
  }
  to {
    -webkit-transform: translate(-1.46755vw, 100vh) scale(0.4536);
            transform: translate(-1.46755vw, 100vh) scale(0.4536);
  }
}

@keyframes fall-57 {
  59.462% {
    -webkit-transform: translate(-5.2839vw, 59.462vh) scale(0.4536);
            transform: translate(-5.2839vw, 59.462vh) scale(0.4536);
  }
  to {
    -webkit-transform: translate(-1.46755vw, 100vh) scale(0.4536);
            transform: translate(-1.46755vw, 100vh) scale(0.4536);
  }
}

.snow:nth-child(58) {
  opacity: 0.984;
  -webkit-transform: translate(21.699vw, -10px) scale(0.902);
          transform: translate(21.699vw, -10px) scale(0.902);
  -webkit-animation: fall-58 29s -24s linear infinite;
          animation: fall-58 29s -24s linear infinite;
}

@-webkit-keyframes fall-58 {
  37.267% {
    -webkit-transform: translate(15.873vw, 37.267vh) scale(0.902);
            transform: translate(15.873vw, 37.267vh) scale(0.902);
  }
  to {
    -webkit-transform: translate(18.786vw, 100vh) scale(0.902);
            transform: translate(18.786vw, 100vh) scale(0.902);
  }
}

@keyframes fall-58 {
  37.267% {
    -webkit-transform: translate(15.873vw, 37.267vh) scale(0.902);
            transform: translate(15.873vw, 37.267vh) scale(0.902);
  }
  to {
    -webkit-transform: translate(18.786vw, 100vh) scale(0.902);
            transform: translate(18.786vw, 100vh) scale(0.902);
  }
}

.snow:nth-child(59) {
  opacity: 0.168;
  -webkit-transform: translate(11.3666vw, -10px) scale(0.3542);
          transform: translate(11.3666vw, -10px) scale(0.3542);
  -webkit-animation: fall-59 12s -11s linear infinite;
          animation: fall-59 12s -11s linear infinite;
}

@-webkit-keyframes fall-59 {
  44.22% {
    -webkit-transform: translate(10.5267vw, 44.22vh) scale(0.3542);
            transform: translate(10.5267vw, 44.22vh) scale(0.3542);
  }
  to {
    -webkit-transform: translate(10.94665vw, 100vh) scale(0.3542);
            transform: translate(10.94665vw, 100vh) scale(0.3542);
  }
}

@keyframes fall-59 {
  44.22% {
    -webkit-transform: translate(10.5267vw, 44.22vh) scale(0.3542);
            transform: translate(10.5267vw, 44.22vh) scale(0.3542);
  }
  to {
    -webkit-transform: translate(10.94665vw, 100vh) scale(0.3542);
            transform: translate(10.94665vw, 100vh) scale(0.3542);
  }
}

.snow:nth-child(60) {
  opacity: 0.096;
  -webkit-transform: translate(91.0055vw, -10px) scale(0.8304);
          transform: translate(91.0055vw, -10px) scale(0.8304);
  -webkit-animation: fall-60 19s -1s linear infinite;
          animation: fall-60 19s -1s linear infinite;
}

@-webkit-keyframes fall-60 {
  48.316% {
    -webkit-transform: translate(85.1298vw, 48.316vh) scale(0.8304);
            transform: translate(85.1298vw, 48.316vh) scale(0.8304);
  }
  to {
    -webkit-transform: translate(88.06765vw, 100vh) scale(0.8304);
            transform: translate(88.06765vw, 100vh) scale(0.8304);
  }
}

@keyframes fall-60 {
  48.316% {
    -webkit-transform: translate(85.1298vw, 48.316vh) scale(0.8304);
            transform: translate(85.1298vw, 48.316vh) scale(0.8304);
  }
  to {
    -webkit-transform: translate(88.06765vw, 100vh) scale(0.8304);
            transform: translate(88.06765vw, 100vh) scale(0.8304);
  }
}

.snow:nth-child(61) {
  opacity: 0.471;
  -webkit-transform: translate(59.512vw, -10px) scale(0.6423);
          transform: translate(59.512vw, -10px) scale(0.6423);
  -webkit-animation: fall-61 21s -17s linear infinite;
          animation: fall-61 21s -17s linear infinite;
}

@-webkit-keyframes fall-61 {
  76.18% {
    -webkit-transform: translate(62.6597vw, 76.18vh) scale(0.6423);
            transform: translate(62.6597vw, 76.18vh) scale(0.6423);
  }
  to {
    -webkit-transform: translate(61.08585vw, 100vh) scale(0.6423);
            transform: translate(61.08585vw, 100vh) scale(0.6423);
  }
}

@keyframes fall-61 {
  76.18% {
    -webkit-transform: translate(62.6597vw, 76.18vh) scale(0.6423);
            transform: translate(62.6597vw, 76.18vh) scale(0.6423);
  }
  to {
    -webkit-transform: translate(61.08585vw, 100vh) scale(0.6423);
            transform: translate(61.08585vw, 100vh) scale(0.6423);
  }
}

.snow:nth-child(62) {
  opacity: 0.148;
  -webkit-transform: translate(94.8873vw, -10px) scale(0.7179);
          transform: translate(94.8873vw, -10px) scale(0.7179);
  -webkit-animation: fall-62 12s -24s linear infinite;
          animation: fall-62 12s -24s linear infinite;
}

@-webkit-keyframes fall-62 {
  42.034% {
    -webkit-transform: translate(98.209vw, 42.034vh) scale(0.7179);
            transform: translate(98.209vw, 42.034vh) scale(0.7179);
  }
  to {
    -webkit-transform: translate(96.54815vw, 100vh) scale(0.7179);
            transform: translate(96.54815vw, 100vh) scale(0.7179);
  }
}

@keyframes fall-62 {
  42.034% {
    -webkit-transform: translate(98.209vw, 42.034vh) scale(0.7179);
            transform: translate(98.209vw, 42.034vh) scale(0.7179);
  }
  to {
    -webkit-transform: translate(96.54815vw, 100vh) scale(0.7179);
            transform: translate(96.54815vw, 100vh) scale(0.7179);
  }
}

.snow:nth-child(63) {
  opacity: 0.211;
  -webkit-transform: translate(65.7911vw, -10px) scale(0.4895);
          transform: translate(65.7911vw, -10px) scale(0.4895);
  -webkit-animation: fall-63 15s -21s linear infinite;
          animation: fall-63 15s -21s linear infinite;
}

@-webkit-keyframes fall-63 {
  72.152% {
    -webkit-transform: translate(62.3644vw, 72.152vh) scale(0.4895);
            transform: translate(62.3644vw, 72.152vh) scale(0.4895);
  }
  to {
    -webkit-transform: translate(64.07775vw, 100vh) scale(0.4895);
            transform: translate(64.07775vw, 100vh) scale(0.4895);
  }
}

@keyframes fall-63 {
  72.152% {
    -webkit-transform: translate(62.3644vw, 72.152vh) scale(0.4895);
            transform: translate(62.3644vw, 72.152vh) scale(0.4895);
  }
  to {
    -webkit-transform: translate(64.07775vw, 100vh) scale(0.4895);
            transform: translate(64.07775vw, 100vh) scale(0.4895);
  }
}

.snow:nth-child(64) {
  opacity: 0.92;
  -webkit-transform: translate(38.2323vw, -10px) scale(0.8662);
          transform: translate(38.2323vw, -10px) scale(0.8662);
  -webkit-animation: fall-64 27s -2s linear infinite;
          animation: fall-64 27s -2s linear infinite;
}

@-webkit-keyframes fall-64 {
  76.956% {
    -webkit-transform: translate(31.3888vw, 76.956vh) scale(0.8662);
            transform: translate(31.3888vw, 76.956vh) scale(0.8662);
  }
  to {
    -webkit-transform: translate(34.81055vw, 100vh) scale(0.8662);
            transform: translate(34.81055vw, 100vh) scale(0.8662);
  }
}

@keyframes fall-64 {
  76.956% {
    -webkit-transform: translate(31.3888vw, 76.956vh) scale(0.8662);
            transform: translate(31.3888vw, 76.956vh) scale(0.8662);
  }
  to {
    -webkit-transform: translate(34.81055vw, 100vh) scale(0.8662);
            transform: translate(34.81055vw, 100vh) scale(0.8662);
  }
}

.snow:nth-child(65) {
  opacity: 0.521;
  -webkit-transform: translate(44.9566vw, -10px) scale(0.5135);
          transform: translate(44.9566vw, -10px) scale(0.5135);
  -webkit-animation: fall-65 11s -30s linear infinite;
          animation: fall-65 11s -30s linear infinite;
}

@-webkit-keyframes fall-65 {
  51.511% {
    -webkit-transform: translate(50.4904vw, 51.511vh) scale(0.5135);
            transform: translate(50.4904vw, 51.511vh) scale(0.5135);
  }
  to {
    -webkit-transform: translate(47.7235vw, 100vh) scale(0.5135);
            transform: translate(47.7235vw, 100vh) scale(0.5135);
  }
}

@keyframes fall-65 {
  51.511% {
    -webkit-transform: translate(50.4904vw, 51.511vh) scale(0.5135);
            transform: translate(50.4904vw, 51.511vh) scale(0.5135);
  }
  to {
    -webkit-transform: translate(47.7235vw, 100vh) scale(0.5135);
            transform: translate(47.7235vw, 100vh) scale(0.5135);
  }
}

.snow:nth-child(66) {
  opacity: 0.739;
  -webkit-transform: translate(89.5948vw, -10px) scale(0.2833);
          transform: translate(89.5948vw, -10px) scale(0.2833);
  -webkit-animation: fall-66 18s -7s linear infinite;
          animation: fall-66 18s -7s linear infinite;
}

@-webkit-keyframes fall-66 {
  34.387% {
    -webkit-transform: translate(81.9263vw, 34.387vh) scale(0.2833);
            transform: translate(81.9263vw, 34.387vh) scale(0.2833);
  }
  to {
    -webkit-transform: translate(85.76055vw, 100vh) scale(0.2833);
            transform: translate(85.76055vw, 100vh) scale(0.2833);
  }
}

@keyframes fall-66 {
  34.387% {
    -webkit-transform: translate(81.9263vw, 34.387vh) scale(0.2833);
            transform: translate(81.9263vw, 34.387vh) scale(0.2833);
  }
  to {
    -webkit-transform: translate(85.76055vw, 100vh) scale(0.2833);
            transform: translate(85.76055vw, 100vh) scale(0.2833);
  }
}

.snow:nth-child(67) {
  opacity: 0.339;
  -webkit-transform: translate(59.9781vw, -10px) scale(0.923);
          transform: translate(59.9781vw, -10px) scale(0.923);
  -webkit-animation: fall-67 23s -29s linear infinite;
          animation: fall-67 23s -29s linear infinite;
}

@-webkit-keyframes fall-67 {
  49.337% {
    -webkit-transform: translate(59.6481vw, 49.337vh) scale(0.923);
            transform: translate(59.6481vw, 49.337vh) scale(0.923);
  }
  to {
    -webkit-transform: translate(59.8131vw, 100vh) scale(0.923);
            transform: translate(59.8131vw, 100vh) scale(0.923);
  }
}

@keyframes fall-67 {
  49.337% {
    -webkit-transform: translate(59.6481vw, 49.337vh) scale(0.923);
            transform: translate(59.6481vw, 49.337vh) scale(0.923);
  }
  to {
    -webkit-transform: translate(59.8131vw, 100vh) scale(0.923);
            transform: translate(59.8131vw, 100vh) scale(0.923);
  }
}

.snow:nth-child(68) {
  opacity: 0.624;
  -webkit-transform: translate(1.3395vw, -10px) scale(0.4686);
          transform: translate(1.3395vw, -10px) scale(0.4686);
  -webkit-animation: fall-68 10s -13s linear infinite;
          animation: fall-68 10s -13s linear infinite;
}

@-webkit-keyframes fall-68 {
  61.674% {
    -webkit-transform: translate(-4.4178vw, 61.674vh) scale(0.4686);
            transform: translate(-4.4178vw, 61.674vh) scale(0.4686);
  }
  to {
    -webkit-transform: translate(-1.53915vw, 100vh) scale(0.4686);
            transform: translate(-1.53915vw, 100vh) scale(0.4686);
  }
}

@keyframes fall-68 {
  61.674% {
    -webkit-transform: translate(-4.4178vw, 61.674vh) scale(0.4686);
            transform: translate(-4.4178vw, 61.674vh) scale(0.4686);
  }
  to {
    -webkit-transform: translate(-1.53915vw, 100vh) scale(0.4686);
            transform: translate(-1.53915vw, 100vh) scale(0.4686);
  }
}

.snow:nth-child(69) {
  opacity: 0.501;
  -webkit-transform: translate(12.9784vw, -10px) scale(0.2424);
          transform: translate(12.9784vw, -10px) scale(0.2424);
  -webkit-animation: fall-69 17s -23s linear infinite;
          animation: fall-69 17s -23s linear infinite;
}

@-webkit-keyframes fall-69 {
  31.436% {
    -webkit-transform: translate(22.949vw, 31.436vh) scale(0.2424);
            transform: translate(22.949vw, 31.436vh) scale(0.2424);
  }
  to {
    -webkit-transform: translate(17.9637vw, 100vh) scale(0.2424);
            transform: translate(17.9637vw, 100vh) scale(0.2424);
  }
}

@keyframes fall-69 {
  31.436% {
    -webkit-transform: translate(22.949vw, 31.436vh) scale(0.2424);
            transform: translate(22.949vw, 31.436vh) scale(0.2424);
  }
  to {
    -webkit-transform: translate(17.9637vw, 100vh) scale(0.2424);
            transform: translate(17.9637vw, 100vh) scale(0.2424);
  }
}

.snow:nth-child(70) {
  opacity: 0.948;
  -webkit-transform: translate(40.688vw, -10px) scale(0.4773);
          transform: translate(40.688vw, -10px) scale(0.4773);
  -webkit-animation: fall-70 16s -6s linear infinite;
          animation: fall-70 16s -6s linear infinite;
}

@-webkit-keyframes fall-70 {
  79.633% {
    -webkit-transform: translate(46.1194vw, 79.633vh) scale(0.4773);
            transform: translate(46.1194vw, 79.633vh) scale(0.4773);
  }
  to {
    -webkit-transform: translate(43.4037vw, 100vh) scale(0.4773);
            transform: translate(43.4037vw, 100vh) scale(0.4773);
  }
}

@keyframes fall-70 {
  79.633% {
    -webkit-transform: translate(46.1194vw, 79.633vh) scale(0.4773);
            transform: translate(46.1194vw, 79.633vh) scale(0.4773);
  }
  to {
    -webkit-transform: translate(43.4037vw, 100vh) scale(0.4773);
            transform: translate(43.4037vw, 100vh) scale(0.4773);
  }
}

.snow:nth-child(71) {
  opacity: 0.451;
  -webkit-transform: translate(34.0604vw, -10px) scale(0.2808);
          transform: translate(34.0604vw, -10px) scale(0.2808);
  -webkit-animation: fall-71 16s -15s linear infinite;
          animation: fall-71 16s -15s linear infinite;
}

@-webkit-keyframes fall-71 {
  73.412% {
    -webkit-transform: translate(39.8647vw, 73.412vh) scale(0.2808);
            transform: translate(39.8647vw, 73.412vh) scale(0.2808);
  }
  to {
    -webkit-transform: translate(36.96255vw, 100vh) scale(0.2808);
            transform: translate(36.96255vw, 100vh) scale(0.2808);
  }
}

@keyframes fall-71 {
  73.412% {
    -webkit-transform: translate(39.8647vw, 73.412vh) scale(0.2808);
            transform: translate(39.8647vw, 73.412vh) scale(0.2808);
  }
  to {
    -webkit-transform: translate(36.96255vw, 100vh) scale(0.2808);
            transform: translate(36.96255vw, 100vh) scale(0.2808);
  }
}

.snow:nth-child(72) {
  opacity: 0.614;
  -webkit-transform: translate(23.1477vw, -10px) scale(0.0841);
          transform: translate(23.1477vw, -10px) scale(0.0841);
  -webkit-animation: fall-72 30s -18s linear infinite;
          animation: fall-72 30s -18s linear infinite;
}

@-webkit-keyframes fall-72 {
  61.516% {
    -webkit-transform: translate(15.8672vw, 61.516vh) scale(0.0841);
            transform: translate(15.8672vw, 61.516vh) scale(0.0841);
  }
  to {
    -webkit-transform: translate(19.50745vw, 100vh) scale(0.0841);
            transform: translate(19.50745vw, 100vh) scale(0.0841);
  }
}

@keyframes fall-72 {
  61.516% {
    -webkit-transform: translate(15.8672vw, 61.516vh) scale(0.0841);
            transform: translate(15.8672vw, 61.516vh) scale(0.0841);
  }
  to {
    -webkit-transform: translate(19.50745vw, 100vh) scale(0.0841);
            transform: translate(19.50745vw, 100vh) scale(0.0841);
  }
}

.snow:nth-child(73) {
  opacity: 0.559;
  -webkit-transform: translate(98.4542vw, -10px) scale(0.6185);
          transform: translate(98.4542vw, -10px) scale(0.6185);
  -webkit-animation: fall-73 18s -16s linear infinite;
          animation: fall-73 18s -16s linear infinite;
}

@-webkit-keyframes fall-73 {
  43.173% {
    -webkit-transform: translate(99.2974vw, 43.173vh) scale(0.6185);
            transform: translate(99.2974vw, 43.173vh) scale(0.6185);
  }
  to {
    -webkit-transform: translate(98.8758vw, 100vh) scale(0.6185);
            transform: translate(98.8758vw, 100vh) scale(0.6185);
  }
}

@keyframes fall-73 {
  43.173% {
    -webkit-transform: translate(99.2974vw, 43.173vh) scale(0.6185);
            transform: translate(99.2974vw, 43.173vh) scale(0.6185);
  }
  to {
    -webkit-transform: translate(98.8758vw, 100vh) scale(0.6185);
            transform: translate(98.8758vw, 100vh) scale(0.6185);
  }
}

.snow:nth-child(74) {
  opacity: 0.002;
  -webkit-transform: translate(11.1336vw, -10px) scale(0.3751);
          transform: translate(11.1336vw, -10px) scale(0.3751);
  -webkit-animation: fall-74 21s -19s linear infinite;
          animation: fall-74 21s -19s linear infinite;
}

@-webkit-keyframes fall-74 {
  75.121% {
    -webkit-transform: translate(19.3059vw, 75.121vh) scale(0.3751);
            transform: translate(19.3059vw, 75.121vh) scale(0.3751);
  }
  to {
    -webkit-transform: translate(15.21975vw, 100vh) scale(0.3751);
            transform: translate(15.21975vw, 100vh) scale(0.3751);
  }
}

@keyframes fall-74 {
  75.121% {
    -webkit-transform: translate(19.3059vw, 75.121vh) scale(0.3751);
            transform: translate(19.3059vw, 75.121vh) scale(0.3751);
  }
  to {
    -webkit-transform: translate(15.21975vw, 100vh) scale(0.3751);
            transform: translate(15.21975vw, 100vh) scale(0.3751);
  }
}

.snow:nth-child(75) {
  opacity: 0.73;
  -webkit-transform: translate(7.2817vw, -10px) scale(0.1739);
          transform: translate(7.2817vw, -10px) scale(0.1739);
  -webkit-animation: fall-75 24s -10s linear infinite;
          animation: fall-75 24s -10s linear infinite;
}

@-webkit-keyframes fall-75 {
  58.017% {
    -webkit-transform: translate(6.016vw, 58.017vh) scale(0.1739);
            transform: translate(6.016vw, 58.017vh) scale(0.1739);
  }
  to {
    -webkit-transform: translate(6.64885vw, 100vh) scale(0.1739);
            transform: translate(6.64885vw, 100vh) scale(0.1739);
  }
}

@keyframes fall-75 {
  58.017% {
    -webkit-transform: translate(6.016vw, 58.017vh) scale(0.1739);
            transform: translate(6.016vw, 58.017vh) scale(0.1739);
  }
  to {
    -webkit-transform: translate(6.64885vw, 100vh) scale(0.1739);
            transform: translate(6.64885vw, 100vh) scale(0.1739);
  }
}

.snow:nth-child(76) {
  opacity: 0.493;
  -webkit-transform: translate(45.9946vw, -10px) scale(0.4383);
          transform: translate(45.9946vw, -10px) scale(0.4383);
  -webkit-animation: fall-76 24s -7s linear infinite;
          animation: fall-76 24s -7s linear infinite;
}

@-webkit-keyframes fall-76 {
  69.645% {
    -webkit-transform: translate(39.1348vw, 69.645vh) scale(0.4383);
            transform: translate(39.1348vw, 69.645vh) scale(0.4383);
  }
  to {
    -webkit-transform: translate(42.5647vw, 100vh) scale(0.4383);
            transform: translate(42.5647vw, 100vh) scale(0.4383);
  }
}

@keyframes fall-76 {
  69.645% {
    -webkit-transform: translate(39.1348vw, 69.645vh) scale(0.4383);
            transform: translate(39.1348vw, 69.645vh) scale(0.4383);
  }
  to {
    -webkit-transform: translate(42.5647vw, 100vh) scale(0.4383);
            transform: translate(42.5647vw, 100vh) scale(0.4383);
  }
}

.snow:nth-child(77) {
  opacity: 0.933;
  -webkit-transform: translate(79.9989vw, -10px) scale(0.1481);
          transform: translate(79.9989vw, -10px) scale(0.1481);
  -webkit-animation: fall-77 21s -19s linear infinite;
          animation: fall-77 21s -19s linear infinite;
}

@-webkit-keyframes fall-77 {
  49.997% {
    -webkit-transform: translate(73.0999vw, 49.997vh) scale(0.1481);
            transform: translate(73.0999vw, 49.997vh) scale(0.1481);
  }
  to {
    -webkit-transform: translate(76.5494vw, 100vh) scale(0.1481);
            transform: translate(76.5494vw, 100vh) scale(0.1481);
  }
}

@keyframes fall-77 {
  49.997% {
    -webkit-transform: translate(73.0999vw, 49.997vh) scale(0.1481);
            transform: translate(73.0999vw, 49.997vh) scale(0.1481);
  }
  to {
    -webkit-transform: translate(76.5494vw, 100vh) scale(0.1481);
            transform: translate(76.5494vw, 100vh) scale(0.1481);
  }
}

.snow:nth-child(78) {
  opacity: 0.365;
  -webkit-transform: translate(31.2478vw, -10px) scale(0.1905);
          transform: translate(31.2478vw, -10px) scale(0.1905);
  -webkit-animation: fall-78 15s -11s linear infinite;
          animation: fall-78 15s -11s linear infinite;
}

@-webkit-keyframes fall-78 {
  37.836% {
    -webkit-transform: translate(28.9845vw, 37.836vh) scale(0.1905);
            transform: translate(28.9845vw, 37.836vh) scale(0.1905);
  }
  to {
    -webkit-transform: translate(30.11615vw, 100vh) scale(0.1905);
            transform: translate(30.11615vw, 100vh) scale(0.1905);
  }
}

@keyframes fall-78 {
  37.836% {
    -webkit-transform: translate(28.9845vw, 37.836vh) scale(0.1905);
            transform: translate(28.9845vw, 37.836vh) scale(0.1905);
  }
  to {
    -webkit-transform: translate(30.11615vw, 100vh) scale(0.1905);
            transform: translate(30.11615vw, 100vh) scale(0.1905);
  }
}

.snow:nth-child(79) {
  opacity: 0.388;
  -webkit-transform: translate(69.8939vw, -10px) scale(0.3917);
          transform: translate(69.8939vw, -10px) scale(0.3917);
  -webkit-animation: fall-79 30s -23s linear infinite;
          animation: fall-79 30s -23s linear infinite;
}

@-webkit-keyframes fall-79 {
  40.006% {
    -webkit-transform: translate(62.4904vw, 40.006vh) scale(0.3917);
            transform: translate(62.4904vw, 40.006vh) scale(0.3917);
  }
  to {
    -webkit-transform: translate(66.19215vw, 100vh) scale(0.3917);
            transform: translate(66.19215vw, 100vh) scale(0.3917);
  }
}

@keyframes fall-79 {
  40.006% {
    -webkit-transform: translate(62.4904vw, 40.006vh) scale(0.3917);
            transform: translate(62.4904vw, 40.006vh) scale(0.3917);
  }
  to {
    -webkit-transform: translate(66.19215vw, 100vh) scale(0.3917);
            transform: translate(66.19215vw, 100vh) scale(0.3917);
  }
}

.snow:nth-child(80) {
  opacity: 0.359;
  -webkit-transform: translate(77.6838vw, -10px) scale(0.2402);
          transform: translate(77.6838vw, -10px) scale(0.2402);
  -webkit-animation: fall-80 19s -16s linear infinite;
          animation: fall-80 19s -16s linear infinite;
}

@-webkit-keyframes fall-80 {
  74.294% {
    -webkit-transform: translate(80.0218vw, 74.294vh) scale(0.2402);
            transform: translate(80.0218vw, 74.294vh) scale(0.2402);
  }
  to {
    -webkit-transform: translate(78.8528vw, 100vh) scale(0.2402);
            transform: translate(78.8528vw, 100vh) scale(0.2402);
  }
}

@keyframes fall-80 {
  74.294% {
    -webkit-transform: translate(80.0218vw, 74.294vh) scale(0.2402);
            transform: translate(80.0218vw, 74.294vh) scale(0.2402);
  }
  to {
    -webkit-transform: translate(78.8528vw, 100vh) scale(0.2402);
            transform: translate(78.8528vw, 100vh) scale(0.2402);
  }
}

.snow:nth-child(81) {
  opacity: 0.558;
  -webkit-transform: translate(90.6605vw, -10px) scale(0.592);
          transform: translate(90.6605vw, -10px) scale(0.592);
  -webkit-animation: fall-81 22s -18s linear infinite;
          animation: fall-81 22s -18s linear infinite;
}

@-webkit-keyframes fall-81 {
  51.731% {
    -webkit-transform: translate(81.7921vw, 51.731vh) scale(0.592);
            transform: translate(81.7921vw, 51.731vh) scale(0.592);
  }
  to {
    -webkit-transform: translate(86.2263vw, 100vh) scale(0.592);
            transform: translate(86.2263vw, 100vh) scale(0.592);
  }
}

@keyframes fall-81 {
  51.731% {
    -webkit-transform: translate(81.7921vw, 51.731vh) scale(0.592);
            transform: translate(81.7921vw, 51.731vh) scale(0.592);
  }
  to {
    -webkit-transform: translate(86.2263vw, 100vh) scale(0.592);
            transform: translate(86.2263vw, 100vh) scale(0.592);
  }
}

.snow:nth-child(82) {
  opacity: 0.535;
  -webkit-transform: translate(96.9949vw, -10px) scale(0.8011);
          transform: translate(96.9949vw, -10px) scale(0.8011);
  -webkit-animation: fall-82 24s -5s linear infinite;
          animation: fall-82 24s -5s linear infinite;
}

@-webkit-keyframes fall-82 {
  34.939% {
    -webkit-transform: translate(88.0229vw, 34.939vh) scale(0.8011);
            transform: translate(88.0229vw, 34.939vh) scale(0.8011);
  }
  to {
    -webkit-transform: translate(92.5089vw, 100vh) scale(0.8011);
            transform: translate(92.5089vw, 100vh) scale(0.8011);
  }
}

@keyframes fall-82 {
  34.939% {
    -webkit-transform: translate(88.0229vw, 34.939vh) scale(0.8011);
            transform: translate(88.0229vw, 34.939vh) scale(0.8011);
  }
  to {
    -webkit-transform: translate(92.5089vw, 100vh) scale(0.8011);
            transform: translate(92.5089vw, 100vh) scale(0.8011);
  }
}

.snow:nth-child(83) {
  opacity: 0.936;
  -webkit-transform: translate(63.9335vw, -10px) scale(0.2418);
          transform: translate(63.9335vw, -10px) scale(0.2418);
  -webkit-animation: fall-83 20s -16s linear infinite;
          animation: fall-83 20s -16s linear infinite;
}

@-webkit-keyframes fall-83 {
  54.712% {
    -webkit-transform: translate(55.9078vw, 54.712vh) scale(0.2418);
            transform: translate(55.9078vw, 54.712vh) scale(0.2418);
  }
  to {
    -webkit-transform: translate(59.92065vw, 100vh) scale(0.2418);
            transform: translate(59.92065vw, 100vh) scale(0.2418);
  }
}

@keyframes fall-83 {
  54.712% {
    -webkit-transform: translate(55.9078vw, 54.712vh) scale(0.2418);
            transform: translate(55.9078vw, 54.712vh) scale(0.2418);
  }
  to {
    -webkit-transform: translate(59.92065vw, 100vh) scale(0.2418);
            transform: translate(59.92065vw, 100vh) scale(0.2418);
  }
}

.snow:nth-child(84) {
  opacity: 0.098;
  -webkit-transform: translate(30.9466vw, -10px) scale(0.8009);
          transform: translate(30.9466vw, -10px) scale(0.8009);
  -webkit-animation: fall-84 30s -28s linear infinite;
          animation: fall-84 30s -28s linear infinite;
}

@-webkit-keyframes fall-84 {
  43.909% {
    -webkit-transform: translate(32.1421vw, 43.909vh) scale(0.8009);
            transform: translate(32.1421vw, 43.909vh) scale(0.8009);
  }
  to {
    -webkit-transform: translate(31.54435vw, 100vh) scale(0.8009);
            transform: translate(31.54435vw, 100vh) scale(0.8009);
  }
}

@keyframes fall-84 {
  43.909% {
    -webkit-transform: translate(32.1421vw, 43.909vh) scale(0.8009);
            transform: translate(32.1421vw, 43.909vh) scale(0.8009);
  }
  to {
    -webkit-transform: translate(31.54435vw, 100vh) scale(0.8009);
            transform: translate(31.54435vw, 100vh) scale(0.8009);
  }
}

.snow:nth-child(85) {
  opacity: 0.972;
  -webkit-transform: translate(37.3647vw, -10px) scale(0.0481);
          transform: translate(37.3647vw, -10px) scale(0.0481);
  -webkit-animation: fall-85 12s -28s linear infinite;
          animation: fall-85 12s -28s linear infinite;
}

@-webkit-keyframes fall-85 {
  68.332% {
    -webkit-transform: translate(31.008vw, 68.332vh) scale(0.0481);
            transform: translate(31.008vw, 68.332vh) scale(0.0481);
  }
  to {
    -webkit-transform: translate(34.18635vw, 100vh) scale(0.0481);
            transform: translate(34.18635vw, 100vh) scale(0.0481);
  }
}

@keyframes fall-85 {
  68.332% {
    -webkit-transform: translate(31.008vw, 68.332vh) scale(0.0481);
            transform: translate(31.008vw, 68.332vh) scale(0.0481);
  }
  to {
    -webkit-transform: translate(34.18635vw, 100vh) scale(0.0481);
            transform: translate(34.18635vw, 100vh) scale(0.0481);
  }
}

.snow:nth-child(86) {
  opacity: 0.478;
  -webkit-transform: translate(66.6875vw, -10px) scale(0.7155);
          transform: translate(66.6875vw, -10px) scale(0.7155);
  -webkit-animation: fall-86 20s -29s linear infinite;
          animation: fall-86 20s -29s linear infinite;
}

@-webkit-keyframes fall-86 {
  33.17% {
    -webkit-transform: translate(69.5195vw, 33.17vh) scale(0.7155);
            transform: translate(69.5195vw, 33.17vh) scale(0.7155);
  }
  to {
    -webkit-transform: translate(68.1035vw, 100vh) scale(0.7155);
            transform: translate(68.1035vw, 100vh) scale(0.7155);
  }
}

@keyframes fall-86 {
  33.17% {
    -webkit-transform: translate(69.5195vw, 33.17vh) scale(0.7155);
            transform: translate(69.5195vw, 33.17vh) scale(0.7155);
  }
  to {
    -webkit-transform: translate(68.1035vw, 100vh) scale(0.7155);
            transform: translate(68.1035vw, 100vh) scale(0.7155);
  }
}

.snow:nth-child(87) {
  opacity: 0.236;
  -webkit-transform: translate(57.8076vw, -10px) scale(0.2404);
          transform: translate(57.8076vw, -10px) scale(0.2404);
  -webkit-animation: fall-87 27s -21s linear infinite;
          animation: fall-87 27s -21s linear infinite;
}

@-webkit-keyframes fall-87 {
  58.093% {
    -webkit-transform: translate(67.1879vw, 58.093vh) scale(0.2404);
            transform: translate(67.1879vw, 58.093vh) scale(0.2404);
  }
  to {
    -webkit-transform: translate(62.49775vw, 100vh) scale(0.2404);
            transform: translate(62.49775vw, 100vh) scale(0.2404);
  }
}

@keyframes fall-87 {
  58.093% {
    -webkit-transform: translate(67.1879vw, 58.093vh) scale(0.2404);
            transform: translate(67.1879vw, 58.093vh) scale(0.2404);
  }
  to {
    -webkit-transform: translate(62.49775vw, 100vh) scale(0.2404);
            transform: translate(62.49775vw, 100vh) scale(0.2404);
  }
}

.snow:nth-child(88) {
  opacity: 0.029;
  -webkit-transform: translate(32.8986vw, -10px) scale(0.2458);
          transform: translate(32.8986vw, -10px) scale(0.2458);
  -webkit-animation: fall-88 17s -23s linear infinite;
          animation: fall-88 17s -23s linear infinite;
}

@-webkit-keyframes fall-88 {
  76.086% {
    -webkit-transform: translate(37.6685vw, 76.086vh) scale(0.2458);
            transform: translate(37.6685vw, 76.086vh) scale(0.2458);
  }
  to {
    -webkit-transform: translate(35.28355vw, 100vh) scale(0.2458);
            transform: translate(35.28355vw, 100vh) scale(0.2458);
  }
}

@keyframes fall-88 {
  76.086% {
    -webkit-transform: translate(37.6685vw, 76.086vh) scale(0.2458);
            transform: translate(37.6685vw, 76.086vh) scale(0.2458);
  }
  to {
    -webkit-transform: translate(35.28355vw, 100vh) scale(0.2458);
            transform: translate(35.28355vw, 100vh) scale(0.2458);
  }
}

.snow:nth-child(89) {
  opacity: 0.383;
  -webkit-transform: translate(31.0566vw, -10px) scale(0.8138);
          transform: translate(31.0566vw, -10px) scale(0.8138);
  -webkit-animation: fall-89 19s -18s linear infinite;
          animation: fall-89 19s -18s linear infinite;
}

@-webkit-keyframes fall-89 {
  38.586% {
    -webkit-transform: translate(25.6312vw, 38.586vh) scale(0.8138);
            transform: translate(25.6312vw, 38.586vh) scale(0.8138);
  }
  to {
    -webkit-transform: translate(28.3439vw, 100vh) scale(0.8138);
            transform: translate(28.3439vw, 100vh) scale(0.8138);
  }
}

@keyframes fall-89 {
  38.586% {
    -webkit-transform: translate(25.6312vw, 38.586vh) scale(0.8138);
            transform: translate(25.6312vw, 38.586vh) scale(0.8138);
  }
  to {
    -webkit-transform: translate(28.3439vw, 100vh) scale(0.8138);
            transform: translate(28.3439vw, 100vh) scale(0.8138);
  }
}

.snow:nth-child(90) {
  opacity: 0.776;
  -webkit-transform: translate(9.5711vw, -10px) scale(0.2237);
          transform: translate(9.5711vw, -10px) scale(0.2237);
  -webkit-animation: fall-90 16s -16s linear infinite;
          animation: fall-90 16s -16s linear infinite;
}

@-webkit-keyframes fall-90 {
  45.821% {
    -webkit-transform: translate(2.0717vw, 45.821vh) scale(0.2237);
            transform: translate(2.0717vw, 45.821vh) scale(0.2237);
  }
  to {
    -webkit-transform: translate(5.8214vw, 100vh) scale(0.2237);
            transform: translate(5.8214vw, 100vh) scale(0.2237);
  }
}

@keyframes fall-90 {
  45.821% {
    -webkit-transform: translate(2.0717vw, 45.821vh) scale(0.2237);
            transform: translate(2.0717vw, 45.821vh) scale(0.2237);
  }
  to {
    -webkit-transform: translate(5.8214vw, 100vh) scale(0.2237);
            transform: translate(5.8214vw, 100vh) scale(0.2237);
  }
}

.snow:nth-child(91) {
  opacity: 0.875;
  -webkit-transform: translate(0.0264vw, -10px) scale(0.9782);
          transform: translate(0.0264vw, -10px) scale(0.9782);
  -webkit-animation: fall-91 18s -9s linear infinite;
          animation: fall-91 18s -9s linear infinite;
}

@-webkit-keyframes fall-91 {
  69.336% {
    -webkit-transform: translate(-1.3671vw, 69.336vh) scale(0.9782);
            transform: translate(-1.3671vw, 69.336vh) scale(0.9782);
  }
  to {
    -webkit-transform: translate(-0.67035vw, 100vh) scale(0.9782);
            transform: translate(-0.67035vw, 100vh) scale(0.9782);
  }
}

@keyframes fall-91 {
  69.336% {
    -webkit-transform: translate(-1.3671vw, 69.336vh) scale(0.9782);
            transform: translate(-1.3671vw, 69.336vh) scale(0.9782);
  }
  to {
    -webkit-transform: translate(-0.67035vw, 100vh) scale(0.9782);
            transform: translate(-0.67035vw, 100vh) scale(0.9782);
  }
}

.snow:nth-child(92) {
  opacity: 0.161;
  -webkit-transform: translate(28.8564vw, -10px) scale(0.9844);
          transform: translate(28.8564vw, -10px) scale(0.9844);
  -webkit-animation: fall-92 16s -3s linear infinite;
          animation: fall-92 16s -3s linear infinite;
}

@-webkit-keyframes fall-92 {
  38.721% {
    -webkit-transform: translate(22.971vw, 38.721vh) scale(0.9844);
            transform: translate(22.971vw, 38.721vh) scale(0.9844);
  }
  to {
    -webkit-transform: translate(25.9137vw, 100vh) scale(0.9844);
            transform: translate(25.9137vw, 100vh) scale(0.9844);
  }
}

@keyframes fall-92 {
  38.721% {
    -webkit-transform: translate(22.971vw, 38.721vh) scale(0.9844);
            transform: translate(22.971vw, 38.721vh) scale(0.9844);
  }
  to {
    -webkit-transform: translate(25.9137vw, 100vh) scale(0.9844);
            transform: translate(25.9137vw, 100vh) scale(0.9844);
  }
}

.snow:nth-child(93) {
  opacity: 0.49;
  -webkit-transform: translate(75.1519vw, -10px) scale(0.5615);
          transform: translate(75.1519vw, -10px) scale(0.5615);
  -webkit-animation: fall-93 22s -20s linear infinite;
          animation: fall-93 22s -20s linear infinite;
}

@-webkit-keyframes fall-93 {
  51.202% {
    -webkit-transform: translate(66.0682vw, 51.202vh) scale(0.5615);
            transform: translate(66.0682vw, 51.202vh) scale(0.5615);
  }
  to {
    -webkit-transform: translate(70.61005vw, 100vh) scale(0.5615);
            transform: translate(70.61005vw, 100vh) scale(0.5615);
  }
}

@keyframes fall-93 {
  51.202% {
    -webkit-transform: translate(66.0682vw, 51.202vh) scale(0.5615);
            transform: translate(66.0682vw, 51.202vh) scale(0.5615);
  }
  to {
    -webkit-transform: translate(70.61005vw, 100vh) scale(0.5615);
            transform: translate(70.61005vw, 100vh) scale(0.5615);
  }
}

.snow:nth-child(94) {
  opacity: 0.652;
  -webkit-transform: translate(22.4884vw, -10px) scale(0.9136);
          transform: translate(22.4884vw, -10px) scale(0.9136);
  -webkit-animation: fall-94 14s -26s linear infinite;
          animation: fall-94 14s -26s linear infinite;
}

@-webkit-keyframes fall-94 {
  57.847% {
    -webkit-transform: translate(24.0378vw, 57.847vh) scale(0.9136);
            transform: translate(24.0378vw, 57.847vh) scale(0.9136);
  }
  to {
    -webkit-transform: translate(23.2631vw, 100vh) scale(0.9136);
            transform: translate(23.2631vw, 100vh) scale(0.9136);
  }
}

@keyframes fall-94 {
  57.847% {
    -webkit-transform: translate(24.0378vw, 57.847vh) scale(0.9136);
            transform: translate(24.0378vw, 57.847vh) scale(0.9136);
  }
  to {
    -webkit-transform: translate(23.2631vw, 100vh) scale(0.9136);
            transform: translate(23.2631vw, 100vh) scale(0.9136);
  }
}

.snow:nth-child(95) {
  opacity: 0.483;
  -webkit-transform: translate(68.9236vw, -10px) scale(0.2474);
          transform: translate(68.9236vw, -10px) scale(0.2474);
  -webkit-animation: fall-95 10s -30s linear infinite;
          animation: fall-95 10s -30s linear infinite;
}

@-webkit-keyframes fall-95 {
  52.01% {
    -webkit-transform: translate(66.5631vw, 52.01vh) scale(0.2474);
            transform: translate(66.5631vw, 52.01vh) scale(0.2474);
  }
  to {
    -webkit-transform: translate(67.74335vw, 100vh) scale(0.2474);
            transform: translate(67.74335vw, 100vh) scale(0.2474);
  }
}

@keyframes fall-95 {
  52.01% {
    -webkit-transform: translate(66.5631vw, 52.01vh) scale(0.2474);
            transform: translate(66.5631vw, 52.01vh) scale(0.2474);
  }
  to {
    -webkit-transform: translate(67.74335vw, 100vh) scale(0.2474);
            transform: translate(67.74335vw, 100vh) scale(0.2474);
  }
}

.snow:nth-child(96) {
  opacity: 0.699;
  -webkit-transform: translate(85.6293vw, -10px) scale(0.8015);
          transform: translate(85.6293vw, -10px) scale(0.8015);
  -webkit-animation: fall-96 29s -22s linear infinite;
          animation: fall-96 29s -22s linear infinite;
}

@-webkit-keyframes fall-96 {
  60.529% {
    -webkit-transform: translate(85.8107vw, 60.529vh) scale(0.8015);
            transform: translate(85.8107vw, 60.529vh) scale(0.8015);
  }
  to {
    -webkit-transform: translate(85.72vw, 100vh) scale(0.8015);
            transform: translate(85.72vw, 100vh) scale(0.8015);
  }
}

@keyframes fall-96 {
  60.529% {
    -webkit-transform: translate(85.8107vw, 60.529vh) scale(0.8015);
            transform: translate(85.8107vw, 60.529vh) scale(0.8015);
  }
  to {
    -webkit-transform: translate(85.72vw, 100vh) scale(0.8015);
            transform: translate(85.72vw, 100vh) scale(0.8015);
  }
}

.snow:nth-child(97) {
  opacity: 0.801;
  -webkit-transform: translate(7.6869vw, -10px) scale(0.7016);
          transform: translate(7.6869vw, -10px) scale(0.7016);
  -webkit-animation: fall-97 10s -30s linear infinite;
          animation: fall-97 10s -30s linear infinite;
}

@-webkit-keyframes fall-97 {
  37.005% {
    -webkit-transform: translate(13.6316vw, 37.005vh) scale(0.7016);
            transform: translate(13.6316vw, 37.005vh) scale(0.7016);
  }
  to {
    -webkit-transform: translate(10.65925vw, 100vh) scale(0.7016);
            transform: translate(10.65925vw, 100vh) scale(0.7016);
  }
}

@keyframes fall-97 {
  37.005% {
    -webkit-transform: translate(13.6316vw, 37.005vh) scale(0.7016);
            transform: translate(13.6316vw, 37.005vh) scale(0.7016);
  }
  to {
    -webkit-transform: translate(10.65925vw, 100vh) scale(0.7016);
            transform: translate(10.65925vw, 100vh) scale(0.7016);
  }
}

.snow:nth-child(98) {
  opacity: 0.474;
  -webkit-transform: translate(0.9117vw, -10px) scale(0.2864);
          transform: translate(0.9117vw, -10px) scale(0.2864);
  -webkit-animation: fall-98 11s -18s linear infinite;
          animation: fall-98 11s -18s linear infinite;
}

@-webkit-keyframes fall-98 {
  40.608% {
    -webkit-transform: translate(-0.7275vw, 40.608vh) scale(0.2864);
            transform: translate(-0.7275vw, 40.608vh) scale(0.2864);
  }
  to {
    -webkit-transform: translate(0.0921vw, 100vh) scale(0.2864);
            transform: translate(0.0921vw, 100vh) scale(0.2864);
  }
}

@keyframes fall-98 {
  40.608% {
    -webkit-transform: translate(-0.7275vw, 40.608vh) scale(0.2864);
            transform: translate(-0.7275vw, 40.608vh) scale(0.2864);
  }
  to {
    -webkit-transform: translate(0.0921vw, 100vh) scale(0.2864);
            transform: translate(0.0921vw, 100vh) scale(0.2864);
  }
}

.snow:nth-child(99) {
  opacity: 0.121;
  -webkit-transform: translate(36.2493vw, -10px) scale(0.7273);
          transform: translate(36.2493vw, -10px) scale(0.7273);
  -webkit-animation: fall-99 26s -6s linear infinite;
          animation: fall-99 26s -6s linear infinite;
}

@-webkit-keyframes fall-99 {
  43.386% {
    -webkit-transform: translate(27.8045vw, 43.386vh) scale(0.7273);
            transform: translate(27.8045vw, 43.386vh) scale(0.7273);
  }
  to {
    -webkit-transform: translate(32.0269vw, 100vh) scale(0.7273);
            transform: translate(32.0269vw, 100vh) scale(0.7273);
  }
}

@keyframes fall-99 {
  43.386% {
    -webkit-transform: translate(27.8045vw, 43.386vh) scale(0.7273);
            transform: translate(27.8045vw, 43.386vh) scale(0.7273);
  }
  to {
    -webkit-transform: translate(32.0269vw, 100vh) scale(0.7273);
            transform: translate(32.0269vw, 100vh) scale(0.7273);
  }
}

.snow:nth-child(100) {
  opacity: 0.988;
  -webkit-transform: translate(49.2314vw, -10px) scale(0.2881);
          transform: translate(49.2314vw, -10px) scale(0.2881);
  -webkit-animation: fall-100 14s -12s linear infinite;
          animation: fall-100 14s -12s linear infinite;
}

@-webkit-keyframes fall-100 {
  32.48% {
    -webkit-transform: translate(45.6732vw, 32.48vh) scale(0.2881);
            transform: translate(45.6732vw, 32.48vh) scale(0.2881);
  }
  to {
    -webkit-transform: translate(47.4523vw, 100vh) scale(0.2881);
            transform: translate(47.4523vw, 100vh) scale(0.2881);
  }
}

@keyframes fall-100 {
  32.48% {
    -webkit-transform: translate(45.6732vw, 32.48vh) scale(0.2881);
            transform: translate(45.6732vw, 32.48vh) scale(0.2881);
  }
  to {
    -webkit-transform: translate(47.4523vw, 100vh) scale(0.2881);
            transform: translate(47.4523vw, 100vh) scale(0.2881);
  }
}

.reset-button {
  z-index: 999;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: .5rem 1rem;
  background-color: transparent;
  color: #313131;
  border: 1px solid #313131;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */