@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Oooh+Baby&family=Open+Sans&display=swap');

@function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
}

@keyframes drawIn {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes popIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

html, body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #313131;
    text-align: center;
    background-color: #E8E0D5;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

small {
    font-size: .7em;
}

.snow-container {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.message-container {
    position: relative;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 620px;
    padding: 0 20px;

    .message {
        z-index: 100;
        margin: 1rem auto 0;
        width: 100%;

        .sign {
            margin-top: -10%;
        }
    }
    
    .to,
    .sign {
        font-family: 'Oooh Baby', cursive;
        font-size: 3rem;

        @media (max-width: 650px) {
            font-size: 2rem;
        }
    }

    .to {
        margin-top: 2.5rem;
        font-size: 2rem;
        text-align: left;
        text-shadow: none;

        @media (max-width: 650px) {
            margin-top: 3.5rem;
            font-size: 1.5rem;
        }
    }

    .explain {
        margin: 1em auto 2em;
    }
}

.wreath-container {
    position: relative;
    height: auto;
    width: 100%;
    aspect-ratio: 1 / 1;

    .greeting {
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-family: 'Mea Culpa', cursive;
        font-size: 3.2rem;
        color: #8B2728;
        opacity: 0;

        &.animate {
            animation: popIn .4s 11s ease-in-out forwards;
        }
    }

    .wreath,
    .wreath-drawn {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: auto;
        width: 100%;
    }

    .wreath {
        opacity: 0;

        &.animate {
            animation: popIn 0.4s 10s forwards;
        }
    }

    .wreath-drawn {
        opacity: 0;
        animation: popIn 0.2s 10.5s forwards reverse;

        .berries {
            opacity: 0;
        }

        &.animate {
            .branch path {
                animation: drawIn 6s 1s forwards;
            }
    
            .berries {
                animation: popIn 0.2s 10s forwards;
            }
    
            #hollyTopLeft .leaf path {
                animation: drawIn 4s 5.8s forwards;
            }
    
            #hollyBottomLeft .leaf path {
                animation: drawIn 4s 5.8s forwards;
            }
    
            #hollyBottomRight .leaf path {
                animation: drawIn 4s 5.8s forwards;
            }
    
            .stick path {
                animation: drawIn 2s 6s forwards;
            }
    
            .leaf path {
                animation: drawIn 2s 8s forwards;
            }
        }
    }

    .unhide {
        opacity: 1;
    }
}

.logo-container {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    width: 100%;
}

.logo {
    display: block;
    width: 45%;
    cursor: pointer;

    img {
        display: block;
        width: 100%;
    }
}
  
.snow {
    $total: 100;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #f5f0f0;
    border-radius: 50%;
    box-shadow: 0 0 15px #b8bfc5;
  
    @for $i from 0 through $total {
        $random-x: random(1000000) * 0.0001vw;
        $random-offset: random_range(-100000, 100000) * 0.0001vw;
        $random-x-end: $random-x + $random-offset;
        $random-x-end-yoyo: $random-x + ($random-offset / 2);
        $random-yoyo-time: random_range(30000, 80000) / 100000;
        $random-yoyo-y: $random-yoyo-time * 100vh;
        $random-scale: random(10000) * 0.0001;
        $fall-duration: random_range(10, 30) * 1s;
        $fall-delay: random(30) * -1s;
  
        &:nth-child(#{$i}) {
            opacity: random(1000) * 0.001;
            transform: translate($random-x, -10px) scale($random-scale);
            animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
        }
  
        @keyframes fall-#{$i} {
            #{percentage($random-yoyo-time)} {
                transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
            }
            
            to {
                transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
            }
        } 
    }
}

.reset-button {
    z-index: 999;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: .5rem 1rem;
    background-color: transparent;
    color: #313131;
    border: 1px solid #313131;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
}
  